<template>
<div id="panel">
    <center><h4 style="margin: 0px"> Cliente Estrella </h4></center>
    <section>
        <div class="container">
            <div class="panel-heading">
                <h4> Cargar Layout </h4>
            </div>
            <div class="col-12 panel-body">
              <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
              <progress max="100" :value.prop="uploadPercentage"></progress>
              <br>
              <button v-on:click="submitFile()">Cargar archivo</button>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <center><h4 class="box-title"> Listado Cliente Estrella </h4></center>
            <div class="col-12 panel-body">
                <table class="table table-striped" style="font-size:12px;">
                    <tbody>
                        <tr>
                            <th> Fecha de envío </th>
                            <th> Id Prospecto </th>
                            <th> Nombre </th>
                            <th> Apellido Paterno </th>
                            <th> Apellido Materno </th>
                            <th> Email </th>
                            <th> Procesado </th>
                            <th> UUID </th>
                            <th> Email enviado </th>
                        </tr>
                        <tr v-for='cliente in listaClientes.data'>
                            <td> {{ cliente.fecha_campana }} </td>
                            <td> {{ cliente.prospecto_id }} </td>
                            <td v-if='cliente.segundonombre != ""'> {{ cliente.nombre }} {{ cliente.segundonombre }} </td>
                            <td v-else> {{ cliente.nombre }} </td>
                            <td> {{ cliente.apellidopaterno }} </td>
                            <td> {{ cliente.apellidomaterno }} </td>
                            <td> {{ cliente.email }} </td>
                            <td> {{ cliente.procesado | SiNo }} </td>
                            <td> {{ cliente.uuid }} </td>
                            <td> {{ cliente.email_enviado | SiNo }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination :data="listaClientes" @pagination-change-page="getListaClientes" :limit=10>
                <span slot="prev-nav">&lt; Anterior</span>
                <span slot="next-nav">Siguiente &gt;</span>
            </pagination>
        </div>
    </section>
</div>
</template>
<script>

export default {
  props: [],
  data: function() {
    return {
        file: '',
        uploadPercentage: 0,
        listaClientes: {},
    }
  },
  filters: {
      SiNo: function(v) {
          if (v == 0) {
              return 'No'
          }
          if (v == 1) {
              return 'Si'
          }
      },
  },
  mounted() {
    this.getListaClientes();
  },
  methods: {

        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },

        getListaClientes(page = 1) {

            var clienteEstrella = this;
            swal({
                title: 'Cargando ...',
                allowOutsideClick: false,
                onOpen: () => {
                    swal.showLoading();
                }
            });

            axios.get('/panel/listaClienteEstrella?page=' + page)
            .then(function(response) {
                swal.close();
                clienteEstrella.listaClientes = response.data;
            })
            .catch(function(error){
                console.log(error)
            });

            setInterval(() => {
                axios.get('/panel/listaClienteEstrella')
                .then(function(response) {
                    console.log('Datos actualizados');
                    clienteEstrella.listaClientes = response.data;
                })
                .catch(function(error){
                    console.log(error)
                });
    		}, 120000)

        },

        submitFile() {

            var clienteEstrella = this;
            swal({
                title: 'Cargando archivo...',
                allowOutsideClick: false,
                onOpen: () => {
                    swal.showLoading();
                }
            });
            let formData = new FormData();

            formData.append('file', this.file);

            axios.post('/panel/uploadClienteEstrella',
              formData,
              {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                onUploadProgress: function( progressEvent ) {
                  this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                  if (this.uploadPercentage >= 100) {
                      swal({
                          title: 'Procesando archivo...',
                          allowOutsideClick: false,
                          onOpen: () => {
                              swal.showLoading();
                          }
                      });
                  }
                }.bind(this)
              }
            ).then(function() {

                swal({
                    title: 'El archivo se ha cargado y procesado con éxito',
                    allowOutsideClick: false,
                    type: "info",
                });
                clienteEstrella.getListaClientes();

            })
            .catch(function(error){
                swal({
                    title: 'Ocurrió un error al procesar el archivo',
                    text: error,
                    allowOutsideClick: false,
                    type: "error",
                });
            });

        },

    },
}

</script>
