<template>
<div id="registro">
    <section class="content-header" style="margin: auto; padding-top: 50px;">
        <div class="box box-warning box-solid">
            <div class="box-header" >
            </div>
            <div class="box-body" style="min-height: auto;">
                <vue-form-generator class="row" :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
                <br>
                <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                    <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                </div>
                <!-- <div class="col-xs-12 col-lg-12 col-12">
                    <div class="row">
                        <div class="col-xs-6 col-lg-6 col-6" style="display: flex; align-items: center; justify-content: center;">
                            <button onclick="history.back()" type="button" class="green-white-btn">Regresar</button>
                        </div>
                        <div class="col-xs-6 col-lg-6 col-6" style=" display: flex; align-items: center; justify-content: center;">
                            <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <br> <br>
</div>
</template>
<script>
import VueFormGenerator from "vue-form-generator";
export default {

  data: function() {
    return {
        situaciones : '',
        schema: {
            groups: null
        },
        model: null,
        formOptions: {},
        clientId: null,
    }
  },

  mounted() {
      this.getCuestionario();
  },
  methods: {
      submit: function () {
          $('.error').html('');
          var cuestionarioDinamico = this;
          swal({
              title: 'Guardando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          });
            
          axios.post('/saveCuestionarioDinamico', cuestionarioDinamico.model
          ).then(function (response) {
              console.log(response);
              if (response.data.success == true) {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modaloferta'
                });

        }

          }).catch(function (error) {

              if (error.response.status == 422) {
                  var errores = error.response.data;
                  $('.error').html('');
                  $.each(errores, function(error, value) {
                      $('<label class="error" style="color:red">' + value + '</label>').insertAfter('#'+ error);
                  });
                  swal({
                    title: 'Faltan datos obligatorios...',
                    allowOutsideClick: false,
                  });

              } else {
                  swal({
                    title: 'Ocurrio un error al guardar los datos...',
                    allowOutsideClick: false,
                    text: error,
                    confirmButtonText: 'Reintentar',
                  });
              }


          });
      },
      getCuestionario: function () {
          var cuestionarioDinamico = this;
          swal({
              title: 'Obteniendo cuestionario...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          });
          axios.get('/solicitud/cuestionario_dinamico')
                
          .then(function (response) {
                console.log(response.data);
               if (response.data.success == true) {
                  //if (cuestionarioDinamico.auth_user.last_status == 'cuestionario_dinamico') {
                      var formulario = response.data.formulario;
                      cuestionarioDinamico.schema.groups = formulario;
                      cuestionarioDinamico.schema.groups.forEach(
                        groups => {
                          groups.fields.forEach(
                              field => {
                                  if (typeof field.onChanged === "string") {
                                      var func = field.onChanged
                                      field.onChanged = new Function('model', func)
                            	  }
                          })
                      });
                      cuestionarioDinamico.model = response.data.model;
                      cuestionarioDinamico.model.prospecto_id = response.data.prospecto_id_sitio;
                      cuestionarioDinamico.model.solicitud_id = response.data.solicitud_id_sitio;
                      cuestionarioDinamico.model.situaciones = response.data.situaciones;
                      $('#button').css('display', 'flex');
                   /* else if (cuestionarioDinamico.auth_user.last_status == 'decision') {
                      window.location.href = '/decision';
                  } else if (cuestionarioDinamico.auth_user.last_status == 'datos_bc') {
                      window.location.href = '/datos_buro'; */
                  } else {
                      window.location.href = '/';
                  }
              //}
              swal.close();

          }).catch(function (error) {

              swal({
                title: 'Ocurrio un error al obtner el cuestionario...',
                allowOutsideClick: false,
                text: error,
                confirmButtonText: 'Reintentar',
              }).then((result) => {
                  if (result.value) {
                      cuestionarioDinamico.getCuestionario();
                  }
              })
          });
      },
       aceptaOferta: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.post('/solicitud/status_oferta', {
              status_oferta: 'Oferta Aceptada',
               tipo_oferta: decision.tipo_oferta
          }).then(function (response) {
              swal.close();
                decision.oferta_aceptada = true;
                
                Swal.fire({
                html: response.data.modal,
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: 'modaloferta'
            });

            if (response.data.carga_identificacion_selfie == true) {
            location.href = '/carga_documentos/paso1';
            } else {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modalstatus'
                });
            }

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
  },
}

</script>
