<style>
    .date-dropdown-select[data-v-67d74744] {
    display: inline-block;
    border: 1px solid #529626;
    border-radius: 3px;
    padding: 8px;
    margin-right: 10px;
    border-top: none;
    -webkit-appearance: menulist;
}
.linea-dato {
    left: 15px !important;
}
select,
input[type="text"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: Montserrat-Regular;
    color: #000;
    text-transform: uppercase;
    background: transparent
}
.my-input {
    width: 111% !important;
    float: left;
    margin-left: -19px !important;
    margin-right: 0;
    position: relative;
    height: 40px !important;
}
select:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    outline: none
}
.hasError .input {
    border-color: red;
}
.hasError label {
    color: red;
}
.hasError{
    color:red;
}
</style>
<template>
<div id="registro">
    <section class="content-header">
        <fieldset>
            <form id="form" method="POST" action="/" @submit.prevent="submit">
            <input id="datos_personales" name="formulario" type="hidden" value="datos_personales">
            <input id="error_rfc" name="error_rfc" type="hidden" value="">
                <div class="row col-xs-12">
                    <div class="box">
                        <div class="container datos-prestamo">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong>Tu préstamo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <money id="data-prestamo" type="text" placeholder="" disabled v-model="monto" v-bind="money"></money>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="padding-top:20px"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong> Tu plazo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <input id="data-plazo" type="text" placeholder="" disabled v-model="plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <br>
                        <div class="box-header" >
                            <h3 class="box-title"><b>Solicitud de crédito.</b></h3>
                            <br>
                            <span class="description">Cuéntanos más sobre ti.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-2 col-lg-2 col-sm-2 col-4 col-form-label">
                                            <div class="label">
                                               <label class="box-title">Sexo</label> 
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select id="sexo" name="sexo" class="custom-select__content select_margin" v-model="sexo" :class="{ 'is-invalid': submitted && $v.sexo.$error }">
                                                <option disabled selected value="">Selecciona</option>
                                                <option value="Hombre">Hombre</option>
                                                <option value="Mujer">Mujer</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.sexo.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-3 col-4 col-form-label dateColumn">
                                            <div class="label">
                                                <label class="box-title">Fecha de nacimiento</label>
                                            </div>
                                            <!-- <datepicker placeholder="Ejemplo: 01-Enero-1987" input-class="form-control form-control-sm" :language="es" v-bind:v-validate="{required: true, date_format: 'YYYY-MM-DD'}" @selected="fechaSeleccionada"></datepicker> -->
                                            <date-dropdown 
                                                default="1950-01-10"
                                                v-model="fecha_nacimiento"
                                                months-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" @selected="fechaSeleccionada"/>
                                            
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title" style="display: inherit">Lugar de Nacimiento</label>
                                            </div>
                                            <div class="col-12" style="display: inline-flex; padding: 0px">
                                                <div class="col-xl-6 col-lg-6 col-sm-6 col-12" style="padding: 0px">
                                                    <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                                    <select id="estado" name="estado" class="custom-select__content select_margin" v-model="id_estado_nacimiento" v-on:change="busca_ciudades" :class="{ 'is-invalid': submitted && $v.id_estado_nacimiento.$error }">
                                                        <option disabled selected value="">Estado</option>
                                                        <option v-for="(estado, index) in estados" :value="index">{{ estado }}</option>
                                                    </select>
                                                    </div>
                                                    <div v-if="submitted && !$v.id_estado_nacimiento.required" class="hasError">Elija una opción.</div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-sm-6 col-12" style="padding: 0px; margin-left: 4px;">
                                                    <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                                    <select id="ciudad" name="ciudad" class="custom-select__content select_margin" v-model="ciudad_nacimiento" :class="{ 'is-invalid': submitted && $v.ciudad_nacimiento.$error }">
                                                        <option disabled selected value="">Ciudad</option>
                                                        <option v-for="ciudad in ciudades" :value="ciudad">{{ ciudad }}</option>
                                                    </select>
                                                    </div>
                                                    <div v-if="submitted && !$v.ciudad_nacimiento.required" class="hasError">Elija una opción.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-8 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Teléfono casa</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="telefono_casa" name="telefono_casa" class="form-control form-control-sm" style="text-align:center;" maxlength="10" v-model="telefono_casa" :class="{ 'is-invalid': submitted && $v.telefono_casa.$error }">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.telefono_casa.$error" class="hasError">
                                                <span v-if="submitted && !$v.telefono_casa.required" class="hasError">El teléfono es obligatorio.</span>
                                                <span v-if="!$v.telefono_casa.numeric">Acepta solo números.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Estado civil</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select id="estado_civil" name="estado_civil" class="custom-select__content select_margin" v-model="estado_civil" :class="{ 'is-invalid': submitted && $v.estado_civil.$error }">
                                                <option disabled selected value="">Selecciona</option>
                                                <option value="Casado">Casado</option>
                                                <option value="Divorciado">Divorciado</option>
                                                <option value="Soltero">Soltero</option>
                                                <option value="Unión Libre">Unión Libre</option>
                                                <option value="Viudo">Viudo</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.estado_civil.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Nivel de estudios</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select id="nivel_estudios" name="nivel_estudios" class="custom-select__content select_margin" v-model="nivel_estudios" :class="{ 'is-invalid': submitted && $v.nivel_estudios.$error }">
                                                <option disabled selected value="">Selecciona</option>
                                                <option value="Secundaria">Secundaria</option>
                                                <option value="Preparatoria">Preparatoria</option>
                                                <option value="Carreta Técnica">Carreta Técnica</option>
                                                <option value="Licenciatura">Licenciatura</option>
                                                <option value="Postgrado">Postgrado</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.nivel_estudios.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-6 col-form-label">
                                            <div class="label">
                                              <label class="box-title">RFC</label>  
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="rfc" name="rfc" class="form-control form-control-sm" maxlength="13" v-model="rfc" :class="{ 'is-invalid': submitted && $v.rfc.$error }" style="text-align:center">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && !$v.rfc.required" class="hasError">El RFC es obligatorio</div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="summary text-red" v-if="$v.$error">
                                Todos los campos son obligatorios. 
                            </div>
                           <div class="col-xs-12 col-lg-12 col-12">
                                <div class="row">
                                    <div class="col-xs-6 col-lg-6 col-6" style="display: flex; align-items: center; justify-content: center;">
                                        <button onclick="history.back()" type="button" class="green-white-btn">Regresar</button>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 col-6" style=" display: flex; align-items: center; justify-content: center;">
                                        <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <br> <br>
    </section>
</div>
</template>
<script>

import DateDropdown from 'vue-date-dropdown';
import {es} from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import {Money} from 'v-money';
import Vuelidate from 'vuelidate';
import { required, minLength, numeric } from 'vuelidate/lib/validators';

export default {
    components: {
    DateDropdown,
    Money
  },
  props: ['estados'],
  data: function() {
    return {
        
        monto: '',
        plazo:'',
        sexo:'',
        fecha_nacimiento: '',
        id_estado_nacimiento: '',
        estado_nacimiento: '',
        ciudad_nacimiento: '',
        telefono_casa: '',
        estado_civil: '',
        nivel_estudios: '',
        rfc: '',
        error_rfc: '',
        es: es,
        ciudades: [],
        submitted: false,
        money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
    }
  },
  validations:{
      rfc: {required},
      telefono_casa: {required, numeric},
      sexo: {required},
      id_estado_nacimiento: {required},
      estado_civil: {required},
      nivel_estudios: {required},
      ciudad_nacimiento: {required}
  },  
  mounted() {
    this.monto = this.$root.monto;
    this.plazo = this.$root.plazo;
  },
  methods: {
      fechaSeleccionada(selectedDate) {
          //this.fecha_nacimiento = moment(selectedDate).format('Y.MM.DD');
          this.fecha_nacimiento = selectedDate;
      },
      submit: function (event) {
          this.submitted = true;
          this.$v.$touch();
          if(this.$v.$error) return;
          axios.post('/solicitud/datos_personales', {
              datos: this._data
          })
          .then(function (response) {

              if (response.data.success == true) {
                  window.location = '/solicitud/datos_buro';
              } else {

              }

          })
          .catch(function (error) {

          });
      },
      busca_ciudades: function (event) {
          var estado = event.target.selectedOptions[0].innerHTML;
          this.estado_nacimiento = estado;
          var datosPersonales = this;
          datosPersonales.ciudades = [];
          datosPersonales.ciudad_nacimiento = '';
          axios.post('/solicitud/datos_personales/buscar_ciudades', {
              estado: estado
          })
          .then(function (response) {
              if (response.data.success == true) {
                  datosPersonales.ciudades = response.data.municipios;
              } else {
                  alert(response.data.message)
              }
          })
          .catch(function (error) {

          });
      },
  },
}

</script>
