<style>
select,
input[type="text"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: Montserrat-Regular;
    color: #000;
    text-transform: uppercase;
    background: transparent
}

select:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    outline: none
}
 .hasError .input {
    border-color: red;
}
.hasError label {
    color: red;
}
.hasError{
    color:red;
}
</style>
<template>
<div id="registro">
    <section class="content-header">
        <fieldset>
            <form id="form" method="POST" action="/"  @submit.prevent="submit">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="container datos-prestamo">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong>Tu préstamo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <money id="data-prestamo" type="text" placeholder="" disabled v-model="monto" v-bind="money"></money>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="padding-top:20px"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong> Tu plazo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <input id="data-plazo" type="text" placeholder="" disabled v-model="plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <div class="box-header" >
                            <h3 class="box-title"><b>Solicitud de crédito.</b></h3>
                            <br>
                            <span class="description">Cuentanos donde vives.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-9 col-lg-9 col-sm-12 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Domicilio</label>
                                            </div>
                                            <div class="col-12" style="display: inline-flex; padding: 0px;">
                                                <div class="my-input col-6">
                                                    <input type="text" id="calle" name="calle" placeholder="Calle" class="col-xl-8 col-lg-12 col-12 form-control form-control-sm" maxlength="35" v-model="calle" :class="{ 'is-invalid': submitted && $v.calle.$error }">
                                                    <div class="linea-dato"></div>
                                                </div>
                                                
                                                <div class="my-input col-3">
                                                    <input type="text" id="no_exterior" name="no_exterior" placeholder="# Ext" class="col-xl- col-lg-6 col-4 form-control form-control-sm" style="margin-left: 4px;" maxlength="5" v-model="no_exterior" :class="{ 'is-invalid': submitted && $v.no_exterior.$error }">
                                                    <div class="linea-dato"></div>
                                                </div>
                                                <!-- <div v-if="submitted && !$v.no_exterior.required" class="hasError">Dato obligatorio</div> -->
                                                <div class="my-input col-3">
                                                    <input type="text" id="no_int" name="no_int" placeholder="# Int" class="col-xl-3 col-lg-6 col-4 form-control form-control-sm" style="margin-left: 4px;" maxlength="5" v-model="no_int">
                                                    <div class="linea-dato"></div>
                                                </div>
                                            </div>
                                            <div v-if="submitted && !$v.calle.required && !$v.no_exterior.required" class="hasError">La calle y número son obligatorios.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-12 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Codigo postal</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="codigo_postal" name="codigo_postal" class="form-control form-control-sm" maxlength="5" v-model="codigo_postal" :class="{ 'is-invalid': submitted && $v.codigo_postal.$error }" v-on:change="busca_colonias" v-bind:class="{ 'is-invalid': codigoPostalInvalido }" >
                                            <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && !$v.codigo_postal.required" class="hasError">El código postal es obligatorio.</div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Colonia</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                                <select id="colonia" name="colonia" class="custom-select__content select_margin" v-model="id_colonia"  v-on:change="getDescripcionColonia" :class="{ 'is-invalid': submitted && $v.id_colonia.$error }">
                                                    <option disabled selected value=""> Seleccionar colonia </option>
                                                    <option v-for="colonia in colonias" :value="colonia.id">{{ colonia.colonia }}</option>
                                                </select>
                                            </div>
                                            <div v-if="submitted && !$v.id_colonia.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Delegación/Municipio</label>
                                            </div>
                                            <div class="my-input">
                                                <input placeholder="Ingrese Código Postal" type="text" id="delegacion" name="delegacion" class="form-control form-control-sm" v-model="delegacion">
                                                <div class="linea-dato"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Ciudad</label>
                                            </div>
                                            <div class="my-input">
                                                <input placeholder="Ingrese Código Postal" type="text" id="ciudad" name="ciudad" class="form-control form-control-sm" v-model="ciudad" >
                                                <div class="linea-dato"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Estado</label>
                                            </div>
                                            <div class="my-input">
                                                <input placeholder="Ingrese Código Postal" type="text" id="estado" name="estado" class="form-control form-control-sm" v-model="estado" >
                                                <div class="linea-dato"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary text-red" v-if="$v.$error">
                                Todos los campos son obligatorios. 
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
    <br> <br>
</div>
</template>
<script>
import RfcFacil from 'rfc-facil';
import {Money} from 'v-money';
import Vuelidate from 'vuelidate';
import { required, minLength, numeric } from 'vuelidate/lib/validators';

export default {
components: {Money},
  data: function() {
    return {
        monto: '',
        plazo: '',
        calle: '',
        no_exterior: '',
        no_int: '',
        codigo_postal: '',
        codigo_invalido: false,
        colonia: '',
        id_colonia: '',
        delegacion: '',
        id_delegacion_municipio: '',
        ciudad: '',
        id_ciudad: '',
        estado: '',
        id_estado: '',
        codigo_estado: '',
        colonias: [],
        cobertura:'1',
        formulario: 'domicilio',
        submitted: false,
        money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
    }
  },
  validations:{
      calle: {required},
      no_exterior: { required},
      codigo_postal: {required, numeric},
      id_colonia: {required}
  },
  mounted() {
    this.monto = this.$root.monto;
    this.plazo = this.$root.plazo;
  },
  computed: {
      codigoPostalInvalido: function () {
          return this.codigo_invalido;
      },
  },
  methods: {
      submit: function (event) {
          this.submitted = true;
          this.$v.$touch();
          if(this.$v.$error) return;
          axios.post('/solicitud/reg_domicilio', {
              datos: this._data
          })
          .then(function (response) {

              if (response.data.success == true) {
                  window.location = '/solicitud/datos_personales';
              } else {
                   Swal.fire({
                        title: "Ooops.. Surgió un problema",
                        text: response.data.message,
                        type: 'error',
                        showConfirmButton: true,
                        customClass: 'modalError',
                        allowOutsideClick: false
                    });
              }

          })
          .catch(function (error) {
              Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: error.response.status + ': ' + error.response.responseText,
                type: 'error',
                showConfirmButton: true,
                customClass: 'modalError',
                allowOutsideClick: false
            });
          });
      },
      busca_colonias: function (event) {
          var codigo_postal = event.target.value;
          if (codigo_postal.length == 5) {
              this.codigo_invalido = false;
              var domicilio = this;
              domicilio.colonias = [];
              domicilio.delegacion = '';
              domicilio.id_delegacion_municipio = '';
              domicilio.estado = '';
              domicilio.id_estado = '';
              domicilio.codigo_estado = '';
              domicilio.ciudad = '';
              domicilio.id_ciudad = '';
              domicilio.colonia = '';
              domicilio.id_colonia = '';
              axios.post('/solicitud/domicilio/buscar_colonias', {
                  codigo_postal: codigo_postal
              })
              .then(function (response) {
                  if (response.data.success == true) {
                      domicilio.codigo_invalido = false;
                      domicilio.colonias = response.data.colonias;
                      domicilio.colonia = '';
                      domicilio.id_colonia = '';
                      domicilio.delegacion = response.data.deleg_munic;
                      domicilio.id_delegacion_municipio = response.data.id_deleg_munic;
                      domicilio.estado = response.data.estado;
                      domicilio.id_estado = response.data.id_estado;
                      domicilio.codigo_estado = response.data.codigo_estado;
                      if (response.data.ciudad != '') {
                          domicilio.ciudad = response.data.ciudad;
                          domicilio.id_ciudad = response.data.id_ciudad;
                      } else {
                          domicilio.ciudad = '';
                          domicilio.id_ciudad = '';
                          $('#ciudad').attr('placeholder', 'No Aplica');
                      }
                      $('#colonia').value = 0;
                  } else {

                      domicilio.codigo_invalido = true;
                      $('#estado').attr('placeholder', 'Ingrese Código Postal Válido');
                      $('#delegacion').attr('placeholder', 'Ingrese Código Postal Válido');
                      $('#ciudad').attr('placeholder', 'Ingrese Código Postal Válido');
                      alert(response.data.message)
                  }
              })
              .catch(function (error) {

              });

          } else {
              this.colonias = [];
              this.delegacion = '';
              this.id_delegacion_municipio = '';
              this.estado = '';
              this.id_estado = '';
              this.codigo_estado = '';
              this.ciudad = '';
              this.id_ciudad = '';
              this.colonia = '';
              this.id_colonia = '';
              this.codigo_invalido = true;
              $('#estado').attr('placeholder', 'Ingrese Código Postal Válido');
              $('#delegacion').attr('placeholder', 'Ingrese Código Postal Válido');
              $('#ciudad').attr('placeholder', 'Ingrese Código Postal Válido');
          }
      },
      getDescripcionColonia: function (event) {
          this.colonia = event.target.selectedOptions[0].innerHTML
      }
  },
}

</script>
