<style>
 
.text{
  font-size: 15px !important; 
}
.linea-dato {
  bottom: 100px !important;
}
.tooltip-content{
  font-size: 12px;
  font-weight: normal;
}
.my-input input {
  top: -21px !important;
}
.hasError .input {
  border-color: red;
}
.hasError label {
    color: red;
}
.hasError{
    color:red;
}
</style>
<template>
  <div id="registro">
    <section class="content-header">
      <fieldset>
        <form id="form" method="POST" action="/" @submit.prevent="submit">
          <div class="row col-xs-12">
            <div class="box">
              <div class="container datos-prestamo">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="form-data">
                            <div class="form-data__label">
                                <div class="form-data__label--line-up"></div>
                                <div class="label"><strong>Tu préstamo</strong></div>
                                <div class="form-data__label--line-down"></div>
                            </div>
                            <div class="form-data__input">
                                <money id="data-prestamo" type="text" placeholder="" disabled v-model="monto" v-bind="money"></money>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding-top:20px"></div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="form-data">
                            <div class="form-data__label">
                                <div class="form-data__label--line-up"></div>
                                <div class="label"><strong> Tu plazo</strong></div>
                                <div class="form-data__label--line-down"></div>
                            </div>
                            <div class="form-data__input">
                                <input id="data-plazo" type="text" placeholder="" disabled v-model="plazo">
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
              <br />
              <div class="box-header">
                <h3 class="box-title">
                  <b>Autorización de consulta al Buró de Crédito</b>
                </h3>
                <br>
                <span class="description">
                  Para evaluar tu solicitud necesitamos consultar tus antecedentes crediticios.
                  <br />Para este fin, el Buró de Crédito nos pide tu respuesta a las siguientes preguntas.
                  <br />No es un requisito para nosotros que tengas tarjeta o cualquier otro tipo de crédito, pero sí es necesario que respondas de manera verdadera para que podamos obtener tu información del Buró.
                </span>&nbsp;</span>
                <span v-tooltip.top="'Contestar No en una o más de estas preguntas es aceptable cuando refleja la verdad; sin embargo contestar falsamente elimina tus posibilidades de obtener crédito con nosotros.'"><img src="/images/tooltip.svg" class="tooltip-img"></span>
		            <!-- <div v-show="isHidden" class="tooltip-text">Contestar "No" en una o más de estas preguntas es aceptable cuando refleja la verdad; sin embargo contestar falsamente elimina tus posibilidades de obtener crédito con nosotros.</div> -->
              </div>
              <br>
              <div class="box-body row">
                <div class="col-xs-12 col-lg-12 col-12">
                  <div class="form-group">
                    <div class="form-group row">
                      <div class="col-xl-3 col-lg-3 col-sm-6 col-6 col-form-label">
                        <label class="text">¿Cuentas con un crédito hipotecario a tu nombre?</label>
                        <span v-tooltip.top="'Contesta: Sí, en caso de que actualmente tengas a tu nombre un crédito hipotecario (de banco, INFONAVIT, o cualquier otro). En caso contrario, contesta: No.'"><img src="/images/tooltip.svg" class="tooltip-img"></span>
                        <!-- <span v-on:click="isHipote = !isHipote" class="tooltip-img"><img src="/images/tooltip.svg" class="tooltip-img"></span> -->
                        <!-- <div class="tooltip-3">
                          <span v-if="isHipote" class="tooltip-text">Contesta: Sí, en caso de que <span class="bold">actualmente tengas a tu nombre</span> un crédito hipotecario (de banco, INFONAVIT, o cualquier otro). <br>En caso contrario, contesta: No.</span>
                        </div> -->
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="isHipote = !isHipote"
                            type="radio"
                            id="credito_hipotecario_si"
                            name="credito_hipotecario_si"
                            value="Si"
                            class="custom-control-input"
                            v-model="credito_hipotecario"
                            :class="{ 'is-invalid': submitted && $v.credito_hipotecario.$error }"
                          />
                          <label for="credito_hipotecario_si" class="custom-control-label">Si</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="noHipote = !noHipote"
                            type="radio"
                            id="credito_hipotecario_no"
                            name="credito_hipotecario_no"
                            value="No"
                            class="custom-control-input"
                            v-model="credito_hipotecario"
                          />
                          <label for="credito_hipotecario_no" class="custom-control-label">No</label>
                        </div>
                        <div v-if="submitted && !$v.credito_hipotecario.required" class="hasError">Selecciona una respuesta.</div>
                        <span v-if="isHipote"><p class="leyenda">SI tengo actualmente a mi nombre, un crédito hipotecario, ya sea de banco, de INFONAVIT o de cualquier otro tipo.</p></span>
                        <span v-if="noHipote"><p class="leyenda">NO tengo actualmente a mi nombre, un crédito hipotecario, ya sea de banco, de INFONAVIT o de cualquier otro tipo.</p></span>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-sm-6 col-6 col-form-label">
                        <label class="text"
                        >¿Has ejercido en los últimos dos años un crédito automotriz?</label>
                        
                        <span v-tooltip.top="'Contesta: Sí, en caso de que tengas actualmente a tu nombre, o hayas tenido dentro de los últimos 24 meses, un crédito de auto con banco o con una financiera. No consideres programas de autofinanciamiento. En caso contrario, contesta: No.'"><img src="/images/tooltip.svg" class="tooltip-img"></span> 
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="isAutom = !isAutom"
                            type="radio"
                            id="credito_automotriz_si"
                            name="credito_automotriz_si"
                            value="Si"
                            class="custom-control-input"
                            v-model="credito_automotriz"
                            :class="{ 'is-invalid': submitted && $v.credito_automotriz.$error }"
                          />
                          <label for="credito_automotriz_si" class="custom-control-label">Si</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="noAutom = !noAutom"
                            type="radio"
                            id="credito_automotriz_no"
                            name="credito_automotriz_no"
                            value="No"
                            class="custom-control-input"
                            v-model="credito_automotriz"
                          />
                          <label for="credito_automotriz_no" class="custom-control-label">No</label>
                        </div>
                        <div v-if="submitted && !$v.credito_automotriz.required" class="hasError">Selecciona una respuesta.</div>
                        <span v-if="isAutom"><p class="leyenda">SI tengo actualmente, o SI tuve en los últimos 24 meses, un crédito automotriz con un banco o financiera. Confirmo que dicho crédito NO es, o NO fue de tipo autofinanciamiento como Autofin, Sicrea o similar.</p></span>
                        <span v-if="noAutom"><p class="leyenda">NO tengo actualmente, y NO tuve en los últimos 24 meses, un crédito automotriz con un banco o financiera. O bien, si financie mi auto, lo hice con un autofinanciamiento como Autofin, Sicrea o similar.</p></span>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-sm-6 col-6 col-form-label">
                        <label class="text"
                        >¿Eres titular de al menos una tarjeta de crédito bancaria?</label>
                        <!-- <span v-on:click="isCredit = !isCredit" class="tooltip-img"><img src="/images/tooltip.svg" class="tooltip-img"></span> -->
                        <span v-tooltip="{ html: 'tooltipHtml' }"><img src="/images/tooltip.svg" class="tooltip-img"></span>
                        <div id="tooltipHtml" class="tooltip-content">
                          <span class="tooltip-text">Contesta: Sí, en caso de que <span class="bold">actualmente tengas a tu nombre</span> una o más tarjetas de crédito bancarias. <br>Nota - contesta "No" si no tienes tarjeta o si solamente tienes tarjetas en los siguientes casos:
                            <ul>
                              <li>a. Si tu tarjeta es adicional y <span class="bold">tú no eres el titular principal</span></li>
                              <li>b. Si tu tarjeta es de una <span class="bold">cuenta cerrada o cancelada</span></li>
                              <li>c. Si tu tarjeta es de una <span class="bold">tienda comercial o similar</span></li>
                            </ul>
                          </span>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="isHidden = !isHidden"
                            type="radio"
                            id="credito_bancario_si"
                            name="credito_bancario_si"
                            value="Si"
                            class="custom-control-input"
                            v-model="credito_bancario"
                            :class="{ 'is-invalid': submitted && $v.credito_bancario.$error }"
                          />
                          <label for="credito_bancario_si" class="custom-control-label">Si</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input
                            v-on:click="noHidden = !noHidden"
                            type="radio"
                            id="credito_bancario_no"
                            name="credito_bancario_no"
                            value="No"
                            class="custom-control-input"
                            v-model="credito_bancario"
                          />
                          <label for="credito_bancario_no" class="custom-control-label">No</label>
                        </div>
                        <div v-if="submitted && !$v.credito_bancario.required" class="hasError">Selecciona una respuesta.</div>
                        <span v-if="isHidden"><p class="leyenda">SI tengo actualmente al menos una tarjeta de crédito bancaria en la que yo soy el titular. Confirmo que ésta NO es una tarjeta de tienda comercial, y NO es una tarjeta de débito.</p></span>
                        <span v-if="noHidden"><p class="leyenda">NO tengo actualmente ninguna tarjeta de crédito bancaria en la que yo sea el titular. Mis tarjetas (si es que tengo) son de débito o de tienda comercial.</p></span>
                      </div>
                      <div v-if="isHidden" class="col-xl-2 col-lg-2 col-sm-6 col-6 col-form-label">
                        <label class="text">Ingresa los últimos 4 dígitos de tu tarjeta</label>
                        <span v-tooltip="{ html: 'tooltipHtml' }"><img src="/images/tooltip.svg" class="tooltip-img"></span>
                        <div id="tooltipHtml" class="tooltip-content">
                          <span class="tooltip-text">Captura los 4 últimos dígitos de tu tarjeta de crédito:
                            <ul>
                              <li><span class="bold">TIPs importantes</span>:</li>
                              <li>a. Ten a la mano tu tarjeta, <span class="bold">asegura que está vigente</span> y verifica los 4 últimos dígitos.</li>
                              <li>b. Revisa que tu tarjeta sea de crédito bancaria y <span class="bold">no una tarjeta de débito</span> o de una tienda comercial.</li>
                              <li>c. Es importante que uses una tarjeta que <span class="bold">no haya cambiado su número</span> desde que la obtuviste. Las tarjetas en ocasiones pueden cambiar de número por razones como reemplazo por robo o extravío.</li>
                            </ul>
                          </span>
                        </div>
                        <div class="my-input">
                          <input
                          type="text"
                          id="digitos_tarjeta"
                          name="digitos_tarjeta"
                          class="form-control form-control-sm"
                          maxlength="4"
                          v-model="digitos_tarjeta"
                        />
                        </div>
                        <div class="linea-dato"></div>
                      </div>
                    </div>
                    <label
                      class="form-check-label"
                    >Hoy siendo {{ fecha}} autorizo a Prestanómico® S.A.P.I. de C.V a consultar mis antecedentes crediticios por única ocasión ante las Sociedades de Información Crediticia que estime conveniente, declarando que conozco la naturaleza, alcance y uso que Prestanómico S.A.P.I. de C.V. hará de tal información.</label>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value
                        id="acepto_consulta"
                        name="acepto_consulta"
                        v-model="acepto_consulta"
                        :class="{ 'is-invalid': submitted && $v.acepto_consulta.$error }"
                      />
                      <label class="form-check-label">Acepto</label>
                    </div>
                    <div v-if="submitted && !$v.acepto_consulta.required" class="hasError">Se debe autorizar la consulta a Buró de Crédito.</div>
                    <br />
                  </div>
                </div>
                <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                  <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
              </div>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </section>
    <br> <br>
  </div>
</template>
<script>
import moment from 'moment';
import {Money} from 'v-money';
import combodate from './js/combodate';
import DateDropdown from 'vue-date-dropdown';
import Tooltip from 'vue-directive-tooltip';
import 'vue-directive-tooltip/dist/vueDirectiveTooltip.css';
import Vuelidate from 'vuelidate';
import { required } from 'vuelidate/lib/validators';


export default {
  components: {
    DateDropdown,
    Money,
  },
  data: function() {
    return {
      monto: '',
      plazo: '',
      msg:'Contestar "No" en una o más de estas preguntas es aceptable cuando refleja la verdad; sin embargo contestar falsamente elimina tus posibilidades de obtener crédito con nosotros.',
      credito_bancario: "",
      credito_automotriz: "",
      credito_hipotecario: "",
      digitos_tarjeta: "",
      isHidden: false,
      isHipote: false,
      isCredit: false,
      isAutom: false,
      noHipote: false,
      noAutom: false,
      noHidden: false,
      acepto_consulta: "",
      acepto_tyc: false,
      fecha: "",
      showModal: false,
      submitted: false,
      money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
    };
  },
  validations:{
      credito_hipotecario: {required},
      credito_automotriz: { required},
      credito_bancario: {required},
      acepto_consulta: {required}
  },
  mounted() {
      this.fecha = moment().format('DD/MM/YYYY');
      this.monto = this.$root.monto;
      this.plazo = this.$root.plazo;
  },
  methods: {
    mouseOver: function(){
            this.isHidden = !this.isHidden;   
        },
    
    submit: function(event) {
      this.submitted = true;
      this.$v.$touch();
      if(this.$v.$error) return;
      var datosBuro = this;
      var texto = 'Guardando datos...';
        swal({
           html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
           customClass: 'modalLoading',
           showCancelButton: false,
           showConfirmButton:false,
           allowOutsideClick: false
       });
      axios
        .post("/solicitud/cuentas_de_credito", {
          datos_buro: this._data
        })
        .then(function(response) {
          if (response.data.success == true) {
            if (response.data.hasOwnProperty('eventTM')) {
                dataLayer.push(response.data.eventTM);
            }
            if (response.data.siguiente_paso == 'primera_llamada_bc') {

                var texto = 'Realizando consulta a Buró de Crédito...';
                Swal.fire({
                    html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
                    customClass: 'modalLoading',
                    showCancelButton:false,
                    showConfirmButton:false,
                    allowOutsideClick: true
                });
                datosBuro.primeraLlamadaBC(
                    response.data.prospecto_id,
                    response.data.solicitud_id
                );
            }

            } else {

                $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
                Swal.fire({
                    title: "Ooops.. Surgió un problema",
                    text: response.data.message,
                    type: 'error',
                    showConfirmButton: true,
                    customClass: 'modalError',
                    allowOutsideClick: false
               });

            }
        })
        .catch(function(error) {
            Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: error.response.status + ': ' + error.response.responseText,
                type: 'error',
                showConfirmButton: true,
                customClass: 'modalError',
                allowOutsideClick: false
           });
        });
    },

    primeraLlamadaBC: function(prospecto_id, solicitud_id) {
    var datosBuro = this;
    var clientId = 0;
    ga(function(tracker) {
    	clientId = tracker.get('clientId');
    });

    axios.post('/solicitud_bc_score', {
        prospecto_id: prospecto_id,
        solicitud_id: solicitud_id,
        clientId: clientId,
    })
    .then(function (response) {
        //$("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
        if (response.data.hasOwnProperty('eventTM')) {
            var eventos = response.data.eventTM;
            $.each(eventos, function(key, evento) {
                dataLayer.push(evento);
            });
        }

        if (response.data.success == true) {

            if (response.data.stat == "Califica BC Score") {
                if (response.data.lead == 'askrobin') {
                    sendPixelAskRobin('3', response.data.lead_id, prospecto_id);
                }
                datosBuro.segundaLlamadaBC(response.data.prospect_id,
                    response.data.solic_id);

            } else if (response.data.stat == "Datos Elegible") {
                window.location = '/solicitud/datos_ingreso';
                swal.close();
            } else {

                Swal.fire({
                    title: "Ooops.. Surgió un problema",
                    text: response.data.message,
                    type: 'error',
                    showConfirmButton: true,
                    customClass: 'modalError',
                    allowOutsideClick: false
               });

            }

        } else {

            if (response.data.hasOwnProperty('maximosReintentos')) {
                Swal.fire({
                    title: 'Falta información de buró',
                    html: response.data.message,
                    showConfirmButton: true,
                    confirmButtonText: 'Aceptar',
                    customClass: 'modalError',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.value) {
                      location.href = '/';
                    }
                });
            }

            if (response.data.stat == 'Error BC No Response') {
                Swal.fire({
                    title: "Ooops.. Surgió un problema",
                    text: response.data.message,
                    type: 'error',
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Reintentar',
                    cancelButtonText: 'Cancelar',
                    customClass: 'modalError',
                    allowOutsideClick: false
               }).then((result) => {
                  if (result.value) {
                      var texto = 'Realizando consulta a Buró de Crédito...';
                      Swal.fire({
                         html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
                         customClass: 'modalLoading',
                         showCancelButton: false,
                         showConfirmButton:false,
                         allowOutsideClick: false
                     });
                     datosBuro.primeraLlamadaBC(prospecto_id, solicitud_id);
                  }
              });
           }

           if (response.data.stat == 'No Autenticado') {
                Swal.fire({
                   title: response.data.stat,
                   html: 'No pudimos encontrar tu información en Buró de Crédito. <br><br> Revisa la ayuda que aparece en cada una de las preguntas y verifica que la informacíon proporcionada sea la correcta',
                   type: 'error',
                   showConfirmButton: true,
                   confirmButtonText: 'Aceptar',
                   customClass: 'modalError',
                   allowOutsideClick: false
               }).then((result) => {
                  if (result.value) {
                    location.href = '/';
                  }
              });
            }

            if (response.data.stat == 'Error en Captura') {
                Swal.fire({
                    title: 'La consulta a Buró de Crédito arrojo un error',
                    html: response.data.modal,
                    showConfirmButton: true,
                    confirmButtonText: 'Reintentar',
                    customClass: 'modalError',
                    allowOutsideClick: false,
                    onBeforeOpen: () => {
                        /* $('#fecha_nacimientoBC').DateDropdown({
                          maxYear: moment().get('year') - response.data.edad_minima,
                          minYear: moment().get('year') - response.data.edad_maxima,
                          firstItem: 'name',
                          smartDays: true
                        }); */
                        $('.combodate').css({"width": "100%"});

                        $("#formCorreccion #year").on("change", function(e) {
                            var valor = $(this).find('option:selected').text();
                            $('#formCorreccion #year').val(valor);
                            $('.combodate').removeClass('error');
                            $('#fecha_nacimiento-help').html('');
                        });

                        $("#formCorreccion #month").on("change", function(e) {
                            var valor = $(this).find('option:selected').val();
                            $('#formCorreccion #month').val(valor);
                            $('.combodate').removeClass('error');
                            $('#fecha_nacimiento-help').html('');
                        });

                        $("#formCorreccion #day").on("change", function(e) {
                            var valor = $(this).find('option:selected').text();
                            valor = parseInt(valor);
                            $('#formCorreccion #day').val(valor);
                            $('.combodate').removeClass('error');
                            $('#fecha_nacimiento-help').html('');
                        });
                    },
                    preConfirm: (e) => {
                        var validacion = validacionesBCCorreccion()
                        if (validacion == '') {
                          return true;
                        } else {
                          return false;
                        }
                    }
                }).then((result) => {
                    if (result.value) {
                       var datos = $('#formCorreccion').serializeArray();
                       datosBuro.getFormData(datos);
                       datosBuro.BCCorreccion(datos)
                    }
                });
            }

            if (response.data.stat == 'No Califica') {
                Swal.fire({
                    title: response.data.stat,
                    html: response.data.modal,
                    showConfirmButton: true,
                    confirmButtonText: 'Aceptar',
                    customClass: 'modalError',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.value) {
                        location.href = '/';
                    }
                });
          }

          if (response.data.stat == 'No Encontrado') {
              Swal.fire({
                  title: 'Falta información de buró',
                  html: response.data.modal,
                  showConfirmButton: true,
                  confirmButtonText: 'Aceptar',
                  customClass: 'modalError',
                  allowOutsideClick: false
              }).then((result) => {
                  if (result.value) {
                    location.href = '/';
                  }
              });
          }

          if (response.data.stat == 'ERROR') {
              Swal.fire({
                  title: 'Se debe autorizar la consulta a buró de crédito',
                  html: response.data.modal,
                  showConfirmButton: true,
                  confirmButtonText: 'Aceptar',
                  customClass: 'modalError',
                  allowOutsideClick: false
              }).then((result) => {
                  if (result.value) {
                    //location.href = '/';
                  }
              });
          }

        }

    })
    .catch(function (error) {

        $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
        var descripcionError = '';
        if (error.hasOwnProperty('response')) {
            descripcionError = error.response.status + ': ' + error.response.responseText;
        } else {
            descripcionError = error;
        }

        Swal.fire({
            title: "Ooops.. Surgió un problema",
            text: descripcionError,
            type: 'error',
            showConfirmButton: true,
            customClass: 'modalError',
            allowOutsideClick: false
       });

    });
    },

    getFormData: function(datos){
    var unindexed_array = datos;
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
},

    segundaLlamadaBC: function(prospecto_id, solicitud_id, elegible = false) {
    axios.post('/solicitud_hawk', {
        prospecto_id: prospecto_id,
        solicitud_id: solicitud_id,
        elegible: elegible
    })
    .then(function (response) {
        console.log(response);
        //$("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
        if (response.data.stat == "Segunda Llamada BC OK") {
            window.location = '/solicitud/datos_ingreso';
            swal.close();
        } else if (response.data.stat == "Segunda Llamada BC OK Elegible") {
            sendALPRequest(
                response.data.prospecto_id,
                response.data.solicitud_id,
                'datos_empleo'
            );
        } else if (response.data.stat == "No Encontrado") {

            Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: response.data.message,
                type: 'error',
                showConfirmButton: true,
                showCancelButton: true,
                confirmButtonText: 'Reintentar',
                cancelButtonText: 'Cancelar',
                customClass: 'modalError',
                allowOutsideClick: false
            }).then((result) => {
              if (result.value) {
                  var texto = 'Realizando consulta a Buró de Crédito...';
                  Swal.fire({
                     html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
                     customClass: 'modalLoading',
                     showCancelButton: false,
                     showConfirmButton:false,
                     allowOutsideClick: false
                 });
                 segundaLlamadaBC(prospecto_id, solicitud_id);
              }
            });

        } else if (response.data.stat == "Error BC") {

            Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: response.data.message,
                type: 'error',
                showConfirmButton: true,
                showCancelButton: true,
                confirmButtonText: 'Reintentar',
                cancelButtonText: 'Cancelar',
                customClass: 'modalError',
                allowOutsideClick: false
            }).then((result) => {
              if (result.value) {
                  var texto = 'Realizando consulta a Buró de Crédito...';
                  Swal.fire({
                     html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
                     customClass: 'modalLoading',
                     showCancelButton: false,
                     showConfirmButton:false,
                     allowOutsideClick: false
                 });
                 segundaLlamadaBC(prospecto_id, solicitud_id);
              }
            });

        }

    })
    .catch(function (error) {

        var descripcionError = '';
        if (error.hasOwnProperty('response')) {
            descripcionError = error.response.status + ': ' + error.response.responseText;
        } else {
            descripcionError = error;
        }

        Swal.fire({
            title: "Ooops.. Surgió un problema",
            text: descripcionError,
            type: 'error',
            showConfirmButton: true,
            customClass: 'modalError',
            allowOutsideClick: false
       });

    });

},
BCCorreccion: function(datos) {
    var datosBuro = this;
    var texto = 'Actualizando datos...';
    swal({
       html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
       customClass: 'modalLoading',
       showCancelButton: false,
       showConfirmButton:false,
       allowOutsideClick: false
   });

    axios.post('/solicitud/correccionBC', datos)
    .then(function (response) {

        $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);

        if (response.data.success === true) {
            console.log(response);
            if (response.data.siguiente_paso == 'primera_llamada_bc') {
                console.log(response);
                var texto = 'Realizando consulta a Buró de Crédito...';
                swal({
                   html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
                   customClass: 'modalLoading',
                   showCancelButton: false,
                   showConfirmButton:false,
                   allowOutsideClick: false
                });
                datosBuro.primeraLlamadaBC(
                    response.data.prospecto_id,
                    response.data.solicitud_id
                );
            }

        } else {

            Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: response.data.message,
                type: 'error',
                showConfirmButton: true,
                customClass: 'modalError',
                allowOutsideClick: false
           });

        }

    })
    .catch(function (error) {

        $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
        Swal.fire({
            title: "Ooops.. Surgió un problema",
            text: error.response.status + ': ' + error.response.responseText,
            type: 'error',
            showConfirmButton: true,
            customClass: 'modalError',
            allowOutsideClick: false
       });

    });

}
  }
};
</script>
