<style>
select,
input[type="text"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: Montserrat-Regular;
    color: #000;
    text-transform: uppercase;
    background: transparent
}
.my-input {
    width: 111% !important;
    float: left;
    margin-left: -19px !important;
    margin-right: 0;
    position: relative;
    height: 40px !important;
}
.my-input input {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 7px !important;
    left: 0;
    font-size: 15px;
    background: transparent;
    border: none;
}
select:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    outline: none
}
.linea-dato {
    left: 15px !important;
}
.hasError .input {
    border-color: red;
}
.hasError label {
    color: red;
}
.hasError{
    color:red;
}
</style>
<template>
<div id="registro">
    <section class="content-header">
        <fieldset>
            <form id="form" method="POST" action="/" @submit.prevent="submit">
                <div class="row col-xs-12">
                    <div class="box">
                        <div class="container datos-prestamo">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong>Tu préstamo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <money id="data-prestamo" type="text" placeholder="" disabled v-model="monto" v-bind="money"></money>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="padding-top:20px"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong> Tu plazo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <input id="data-plazo" type="text" placeholder="" disabled v-model="plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <div class="box-header" >
                            <h3 class="box-title"><b>Solicitud de crédito</b></h3>
                            <br>
                            <span class="description">Estás muy cerca de terminar, este es el último paso de tu solicitud.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                              <label class="box-title">Ocupación</label>  
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="ocupacion" name="ocupacion" class="custom-select__content select_margin" maxlength="5" v-model="ocupacion" :class="{ 'is-invalid': submitted && $v.ocupacion.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Empleado Sector Público">Empleado Sector Público</option>
                                                <option value="Empleado Sector Privado">Empleado Sector Privado</option>
                                                <option value="Negocio Propio">Negocio Propio</option>
                                                <option value="Profesional Independiente">Profesional Independiente</option>
                                                <option value="Arrendador">Arrendador</option>
                                                <option value="Pensionado">Pensionado</option>
                                                <option value="Jubilado">Jubilado</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.ocupacion.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Fuente de ingresos</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="fuente_ingresos" name="fuente_ingresos" class="custom-select__content select_margin" maxlength="5" v-model="fuente_ingresos" :class="{ 'is-invalid': submitted && $v.fuente_ingresos.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Salario">Salario</option>
                                                <option value="Honorarios">Honorarios</option>
                                                <option value="Renta">Renta</option>
                                                <option value="Inmuebles">Inmuebles</option>
                                                <option value="Pensión">Pensión</option>
                                                <option value="Jubilación">Jubilación</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.fuente_ingresos.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Ingreso total mensual comprobable</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="ingreso_mensual" name="ingreso_mensual" class="form-control form-control-sm" style="text-align:center;"  maxlength="10" v-model="ingreso_mensual" :class="{ 'is-invalid': submitted && $v.ingreso_mensual.$error }">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.ingreso_mensual.$error" class="hasError">
                                                <span v-if="submitted && !$v.ingreso_mensual.required" class="hasError">El ingreso es obligatorio.</span>
                                                <span v-if="!$v.ingreso_mensual.numeric">Acepta solo números.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Antigüedad en empleo actual</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="antiguedad_empleo" name="antiguedad_empleo" class="custom-select__content select_margin" maxlength="5" v-model="antiguedad_empleo" :class="{ 'is-invalid': submitted && $v.antiguedad_empleo.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Menos de 1 año">Menos de 1 año</option>
                                                <option value="1 año">1 año</option>
                                                <option value="2 años">2 años</option>
                                                <option value="3 años">3 años</option>
                                                <option value="4 años">4 años</option>
                                                <option value="5 años">5 años</option>
                                                <option value="6 años">6 años</option>
                                                <option value="7 años">7 años</option>
                                                <option value="8 años">8 años</option>
                                                <option value="9 años">9 años</option>
                                                <option value="10 años">10 años</option>
                                                <option value="Más de 10 años">Más de 10 años</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.antiguedad_empleo.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Nombre de empresa/lugar de trabajo</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="empresa" name="empresa" class="form-control form-control-sm" style="text-align:center;" maxlength="50" v-model="nombre_empresa" :class="{ 'is-invalid': submitted && $v.nombre_empresa.$error }">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.nombre_empresa.$error" class="hasError">
                                                <span v-if="submitted && !$v.nombre_empresa.required" class="hasError">El nombre de la empresa es obligatorio.</span>
                                                
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Teléfono del empleo actual</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="telefono_empleo" name="telefono_empleo" class="form-control form-control-sm" style="text-align:center;" maxlength="10" v-model="telefono_empleo">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.telefono_empleo.$error" class="hasError">
                                                <span v-if="submitted && !$v.telefono_empleo.required" class="hasError">El teléfono es obligatorio.</span>
                                                <span v-if="!$v.telefono_empleo.numeric">Acepta solo números.</span>
                                                <span v-if="!$v.telefono_empleo.minLength">Mínimo 10 dígitos</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Residencia</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="residencia" name="residencia" class="custom-select__content select_margin" style="text-align:center;" maxlength="5" v-model="residencia" :class="{ 'is-invalid': submitted && $v.residencia.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Propia">Propia</option>
                                                <option value="Renta">Renta</option>
                                                <option value="Con Familiares">Con Familiares</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.residencia.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Antigüedad en domicilio actual</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="antiguedad_domicilio" name="antiguedad_domicilio" class="custom-select__content select_margin" maxlength="5" v-model="antiguedad_domicilio" :class="{ 'is-invalid': submitted && $v.antiguedad_domicilio.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Menos de 1 año">Menos de 1 año</option>
                                                <option value="1 año">1 año</option>
                                                <option value="2 años">2 años</option>
                                                <option value="3 años">3 años</option>
                                                <option value="4 años">4 años</option>
                                                <option value="5 años">5 años</option>
                                                <option value="6 años">6 años</option>
                                                <option value="7 años">7 años</option>
                                                <option value="8 años">8 años</option>
                                                <option value="9 años">9 años</option>
                                                <option value="10 años">10 años</option>
                                                <option value="Más de 10 años">Más de 10 años</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.antiguedad_domicilio.required" class="hasError">Elija una opción.</div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Monto gastos familiares mensuales</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="gastos_mensuales" name="gastos_mensuales" class="form-control form-control-sm" style="text-align:center;" maxlength="10" v-model="gastos_mensuales">
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.gastos_mensuales.$error" class="hasError">
                                                <span v-if="submitted && !$v.gastos_mensuales.required" class="hasError">El gasto es obligatorio.</span>
                                                <span v-if="!$v.gastos_mensuales.numeric">Acepta solo números.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Dependientes económicos</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia" style="background:none">
                                            <select type="text" id="dependientes_economicos" name="dependientes_economicos" class="custom-select__content select_margin" maxlength="5" v-model="dependientes_economicos" :class="{ 'is-invalid': submitted && $v.dependientes_economicos.$error }">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                            </div>
                                            <div v-if="submitted && !$v.dependientes_economicos.required" class="hasError">Elija una opción.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary text-red" v-if="$v.$error">
                                Todos los campos son obligatorios. 
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="row">
                                    <div class="col-xs-6 col-lg-6 col-6" style="display: flex; align-items: center; justify-content: center;">
                                        <button onclick="history.back()" type="button" class="green-white-btn">Regresar</button>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 col-6" style=" display: flex; align-items: center; justify-content: center;">
                                        <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
    <br><br>
</div>
</template>
<script>

import swal from 'sweetalert2';
import {Money} from 'v-money';
import Vuelidate from 'vuelidate';
import { required, minLength, numeric, alpha } from 'vuelidate/lib/validators';

export default {
  props: ['prop_aplica_cuestionario'],
  components: {Money},
  data: function() {
    return {
        monto: '',
        plazo: '',
        ocupacion: '',
        fuente_ingresos: '',
        ingreso_mensual: '',
        antiguedad_empleo: '',
        nombre_empresa: '',
        telefono_empleo: '',
        residencia: '',
        antiguedad_domicilio: '',
        gastos_mensuales: '',
        dependientes_economicos: '',
        submitted: false,
        money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
    }
  },
  validations: {
    ingreso_mensual: {required, numeric},
    nombre_empresa: { required },
    telefono_empleo: { required, numeric, minLength: minLength(10) },
    ocupacion: { required},
    gastos_mensuales: {required, numeric},
    residencia: {required},
    fuente_ingresos: {required},
    antiguedad_empleo: {required},
    antiguedad_domicilio: {required},
    dependientes_economicos: {required}
    
  },
  mounted() {
      this.monto = this.$root.monto;
      this.plazo = this.$root.plazo;
      if (this.prop_aplica_cuestionario != undefined) {
          this.aplica_cuestionario = this.prop_aplica_cuestionario;
      }
  },
  methods: {
      submit: function (event) {
          this.submitted = true;
          this.$v.$touch();
          if(this.$v.$error) return;

          var datosAdicionales = this;
          axios.post('/solicitud/datos_adicionales', {
              datos_adicionales: this._data
          })
          .then(function (response) {

              if (response.data.siguiente_paso == 'alp') {
                 datosAdicionales.sendALPRequest(
                    response.data.prospecto_id,
                    response.data.solicitud_id,
                    'datos_ingreso'
                );

              } else if(response.data.siguiente_paso == 'modal') {
                  Swal.fire({
                    title: response.data.stat,
                    html: response.data.modal,
                    showConfirmButton: true,
                    confirmButtonText: 'Aceptar',
                    customClass: 'modalError',
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.value) {
                        location.href = '/';
                    }
                });
              }
          })
          .catch(function (error) {
              Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: error.response.status + ': ' + error.response.responseText,
                type: 'error',
                showConfirmButton: true,
                customClass: 'modalError',
                allowOutsideClick: false
           });
          });
      },


    sendALPRequest: function (prospecto_id, solicitud_id, ocultar) {

    var datosIngreso = this;
    var clientId = 0;
    ga(function(tracker) {
    	clientId = tracker.get('clientId');
    });

    var texto = 'Estamos procesando tu solicitud...';
    Swal.fire({
       html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
       customClass: 'modalLoading',
       showCancelButton: false,
       showConfirmButton:false,
       allowOutsideClick: false
   });

    axios.post('/solicitud_fico_alp', {
        prospecto_id: prospecto_id,
        solicitud_id: solicitud_id,
        clientId: clientId
    })
    .then(function (response) {

        var respuesta = response.data;
        if (respuesta.success == true) {

            if (response.data.hasOwnProperty('eventTM')) {
                var eventos = response.data.eventTM;
                $.each(eventos, function(key, evento) {
                    dataLayer.push(evento);
                });
            }

            var tipoPoblacion = respuesta.tipo_poblacion;
            var pantallasExtra = 0;

            $('#encabezadoModal').html(respuesta.plantilla.modal_encabezado);
            $('#imgModal').html(respuesta.plantilla.modal_img);
            $('#cuerpoModal').html(respuesta.plantilla.modal_cuerpo);
            var decision = respuesta.decision;

            if (tipoPoblacion == 'oferta_normal' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_normal.PantallaExtra;
            } else if (tipoPoblacion == 'oferta_incrementada' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_mayor.PantallaExtra;
            } else if (tipoPoblacion == 'oferta_doble' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_mayor.PantallaExtra;
            }

            // Si la respuesta a la decision del stored procedure es 3 (Invitación
            // a continuar) y no hay pantallas extras se debe mostrar el modal
            // de oferta
            if (pantallasExtra == 0 && decision == 3) {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modaloferta'
                });

            } else if (pantallasExtra == 1 && decision == 3) {
            // Si la respuesta a la decisión del stored procedure es 3 (Invitación
            // a continuar) y hay pantallas extras se debe mostrar el cuestionario
            // fijo

                // Creando el cuestionario dinámico
                window.location = '/solicitud/cuestionarioDinamico';


            } else if (decision == 2 || decision == 1) {
            // Si la respuesta a la decisión del stored procedure es 2 (Oferta
            // diferida) ó 1 (Rechazado) solo se debe mostrar el modal del status
            // de la solicitud
                Swal.fire({
                    html: respuesta.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modalstatus'
                });

            }

        } else {

        }

    })
    .catch(function (error) {
        swal.close();
    });

},

getForm: function(siguientePaso = null, anterior = null) {

	axios.get('/getForm', {
      	params: {
      		paso: siguientePaso,
		}
	})
	.then(function(response) {
        $('#loading-form').hide();
		$('#' + response.data.formulario).show();

		if (anterior != null) {
			$('#' + anterior).hide();
		} else if (response.data.oculta != null && response.data.nueva_solicitud == false) {
            $('#info_prestamo_personal').show();
            $('#' + response.data.oculta).hide();
        }

        if (response.data.formulario == 'verificar_codigo') {
            $('#cuestionarioDinamico').hide();
            $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
            playinterval();
        }

        if (response.data.nueva_solicitud == true) {
            $('#nueva_solicitud').val('true');
        }

        if (response.data.hasOwnProperty('ultimo_status')) {
            if (response.data.ultimo_status == 'Registro') {
                Swal.fire({
                    title: "Aviso Importante",
                    html: response.data.modal_confianza,
                    showConfirmButton: true,
                    customClass: 'modalConfianza',
                    allowOutsideClick: false
               });
            }
        }

        if (response.data.hasOwnProperty('sesionIniciada')) {
            $('#linkNoSesion').hide();
            $('#linkSesion').show();
            $('#nombreProspecto').html(response.data.nombre_prospecto);
        }

        if (response.data.redirect != null) {
            location.href = response.data.redirect;
        } else if (response.data.cuestionario != null) {

            $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
            var cuestionarios = response.data.cuestionario;

            $('#cuestionarioDinamico').append("<form action='#' id='formCuestionarioDinamico'>");
            var formulario = "";
            var situaciones = "";
            formulario = formulario + "<div class='col-lg-10 col-lg-offset-1 col-xs-12'><h2 class='secondary-title txt-center'>Falta un paso más</h2>";
            formulario = formulario + "<div class='calculadoras-productos'><small>Ayúdanos con estos últimos datos.</small></div></div>";
            $.each(cuestionarios, function(key, cuestionario) {
                formulario = formulario + "<div class='col-lg-10 col-lg-offset-1 col-xs-12'>";
                formulario = formulario + "<div class='col-12' style='margin-bottom: 10px; margin-top: 10px;'>";
                if (cuestionario.introduccion != null) {
                    formulario = formulario + "<h4>" + cuestionario.encabezado + "</h4><label class=''>" + cuestionario.introduccion + "</label></div>";
                } else {
                    formulario = formulario + "<h4>" + cuestionario.encabezado + "</h4></div>";
                }

                $.each(cuestionario.cuestionario, function(index, pregunta) {

                    oculto = '';
                    change = '';
                    largo = 'col-12';
                    width = '100%';
                    if (pregunta.oculto == 1) {
                        oculto = 'display:none';
                    }
                    if (pregunta.grid_estilo != null) {
                        largo = pregunta.grid_estilo;
                    }
                    if (pregunta.ancho_estilo != null) {
                        width = pregunta.ancho_estilo;
                    }
                    id = cuestionario.situacion + '_' + pregunta.id;

                    formulario = formulario + "<div class='" + largo + " ' id='div_" + id + "' style='margin-bottom: 5px; margin-bottom: 5px;padding-left: 0px;padding-right: 0px;" + oculto +"'>";
                    situaciones = situaciones + cuestionario.situacion + '|';
                    if (pregunta.depende != '') {
                        var valores = "'" + pregunta.depende + "','" + pregunta.respuesta_depende + "'";
                        change = 'onChange = "campoVisible(this.value,' + valores + ')"';
                    }

                    if (pregunta.tipo == 'text') {
                        formulario = formulario + '<label id="label_' + id +'" class="labelDinamico">' + pregunta.pregunta + '</label>';
                        var style = 'text-transform: uppercase; text-align: center; width: ' + width;
                        formulario = formulario + '<div class="calculadora-personal"><input type="text" id="' + id + '" name="' + id + '" style="' + style + '"/></div>';
                    }

                    if (pregunta.tipo == 'textarea') {
                        formulario = formulario + '<label id="label_' + id +'" class="labelDinamicoT">' + pregunta.pregunta + '</label>';
                        var style = 'text-transform: uppercase; float: none important!; resize: none;';
                        formulario = formulario + '<div class="calculadora-personal"><textarea id="' + id + '" name="' + id + '" maxlength="255" rows="2" style="' + style + '"></textarea></div>';
                    }

                    if (pregunta.tipo == 'select') {
                        formulario = formulario + '<label id="label_' + id +'" class="labelDinamico">' + pregunta.pregunta + '</label>';
                        formulario = formulario + '<div class="calculadoras-productos"><div class="withDecoration"><span><select id="' + id + '" name="' + id + '" ' + change + ' class="dinamico pre-registro-input">';
                        formulario = formulario + '<option value="" selected>SELECCIONA</option>';
                        opciones = pregunta.opciones.split('|');
                        var opcionesLista = '';
                        $.each(opciones, function(indexO, opcion) {
                            opcionesLista = opcionesLista + '<option value="' + opcion + '">' + opcion + '</option>';
                        });
                        formulario = formulario + opcionesLista + '</select></span><div class="decoration"><i class="fas fa-chevron-down"></i></div></div></div>';
                    }
                    formulario = formulario + '<label id="lerror_' + id + '" class="help"></label>';
                    formulario = formulario + "</div>";
                });

                $('#cuestionarioDinamico form').append(formulario);
                formulario = "";

            });

            $('#cuestionarioDinamico form').append('<div class="row col-lg-10 col-lg-offset-1 col-xs-12 mt-0"><div class="text-right"><button type="button" class="general-button" onclick="guardarCuestionarioDinamico()">Continuar</button></div></div>');
            $('#cuestionarioDinamico form').append('<input type="hidden" id="situaciones" name="situaciones"/>');
            $('#cuestionarioDinamico form').append('<input type="hidden" id="tipo_poblacion" name="tipo_poblacion" value="' + response.data.tipo_poblacion + '"/>');
            $('#situaciones').val(situaciones);

        } else if (response.data.mostrar_oferta == true) {

            Swal.fire({
                html: response.data.modal,
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: 'modaloferta'
            });

        }

	})
	.catch(function(error) {
        console.log(error)
	});

}

  },
}

</script>
