<template>
<div id="registro">
    <section class="content-header">
        <fieldset>
            <form id="form" method="POST" action="/">
                <div class="row col-xs-12">
                    <div class="box">
                        <div class="box-header" >
                            <h3 class="box-title"><b>Solicitud de crédito</b></h3>
                            <br>
                            <span class="description">Estás muy cerca de terminar, este es el último paso de tu solicitud.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                              <label class="box-title">Ocupación</label>  
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="ocupacion" name="ocupacion" class="custom-select__content select_margin" maxlength="5" v-model="ocupacion">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Empleado Sector Público">Empleado Sector Público</option>
                                                <option value="Empleado Sector Privado">Empleado Sector Privado</option>
                                                <option value="Negocio Propio">Negocio Propio</option>
                                                <option value="Profesional Independiente">Profesional Independiente</option>
                                                <option value="Arrendador">Arrendador</option>
                                                <option value="Pensionado">Pensionado</option>
                                                <option value="Jubilado">Jubilado</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                               <label class="box-title">Fuente de ingresos</label> 
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="fuente_ingresos" name="fuente_ingresos" class="custom-select__content select_margin" maxlength="5" v-model="fuente_ingresos">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Salario">Salario</option>
                                                <option value="Honorarios">Honorarios</option>
                                                <option value="Renta">Renta</option>
                                                <option value="Inmuebles">Inmuebles</option>
                                                <option value="Pensión">Pensión</option>
                                                <option value="Jubilación">Jubilación</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Ingreso total mensual comprobable</label>
                                            </div>
                                            <input type="text" id="ingreso_mensual" name="ingreso_mensual" class="form-control form-control-sm" maxlength="10" v-model="ingreso_mensual">
                                            <div class="linea-dato"></div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Antigüedad en empleo actual</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="antiguedad_empleo" name="antiguedad_empleo" class="custom-select__content select_margin" maxlength="5" v-model="antiguedad_empleo">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Menos de 1 año">Menos de 1 año</option>
                                                <option value="1 año">1 año</option>
                                                <option value="2 años">2 años</option>
                                                <option value="3 años">3 años</option>
                                                <option value="4 años">4 años</option>
                                                <option value="5 años">5 años</option>
                                                <option value="6 años">6 años</option>
                                                <option value="7 años">7 años</option>
                                                <option value="8 años">8 años</option>
                                                <option value="9 años">9 años</option>
                                                <option value="10 años">10 años</option>
                                                <option value="Más de 10 años">Más de 10 años</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Nombre de empresa/lugar de trabajo</label>
                                            </div>
                                            <input type="text" id="empresa" name="empresa" class="form-control form-control-sm" maxlength="50" v-model="nombre_empresa">
                                            <div class="linea-dato"></div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Teléfono del empleo actual</label>
                                            </div>
                                            <input type="text" id="telefono_empleo" name="telefono_empleo" class="form-control form-control-sm" maxlength="10" v-model="telefono_empleo">
                                            <div class="linea-dato"></div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Residencia</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="residencia" name="residencia" class="custom-select__content select_margin" maxlength="5" v-model="residencia">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Propia">Propia</option>
                                                <option value="Renta">Renta</option>
                                                <option value="Con Familiares">Con Familiares</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Antigüedad en domicilio actual</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="antiguedad_domicilio" name="antiguedad_domicilio" class="custom-select__content select_margin" maxlength="5" v-model="antiguedad_domicilio">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="Menos de 1 año">Menos de 1 año</option>
                                                <option value="1 año">1 año</option>
                                                <option value="2 años">2 años</option>
                                                <option value="3 años">3 años</option>
                                                <option value="4 años">4 años</option>
                                                <option value="5 años">5 años</option>
                                                <option value="6 años">6 años</option>
                                                <option value="7 años">7 años</option>
                                                <option value="8 años">8 años</option>
                                                <option value="9 años">9 años</option>
                                                <option value="10 años">10 años</option>
                                                <option value="Más de 10 años">Más de 10 años</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Monto gastos familiares mensuales</label>
                                            </div>
                                            <input type="text" id="gastos_mensuales" name="gastos_mensuales" class="form-control form-control-sm" maxlength="10" v-model="gastos_mensuales">
                                            <div class="linea-dato"></div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Dependientes económicos</label>
                                            </div>
                                            <div id="mainDiv" class="custom-select my-select-colonia">
                                            <select type="text" id="dependientes_economicos" name="dependientes_economicos" class="custom-select__content select_margin" maxlength="5" v-model="dependientes_economicos">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submit" type="button" class="green-white-btn">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
    <br><br>
</div>
</template>
<script>

import swal from 'sweetalert2'

export default {
  props: ['prop_aplica_cuestionario'],
  data: function() {
    return {
        ocupacion: '',
        fuente_ingresos: '',
        ingreso_mensual: '',
        antiguedad_empleo: '',
        nombre_empresa: '',
        telefono_empleo: '',
        residencia: '',
        antiguedad_domicilio: '',
        gastos_mensuales: '',
        dependientes_economicos: '',
    }
  },
  mounted() {
      if (this.prop_aplica_cuestionario != undefined) {
          this.aplica_cuestionario = this.prop_aplica_cuestionario;
      }
  },
  methods: {
      submit: function (event) {
          var datosAdicionales = this;
          axios.post('/solicitud/datos_adicionales', {
              datos_adicionales: this._data
          })
          .then(function (response) {
                if (response.data.siguiente_paso == 'alp') {
                datosAdicionales.sendALPRequest(
                response.data.prospecto_id,
                response.data.solicitud_id,
                'datos_ingreso'
            );

            } else if(response.data.siguiente_paso == 'modal') {
                Swal.fire({
                title: response.data.stat,
                html: response.data.modal,
                showConfirmButton: true,
                confirmButtonText: 'Aceptar',
                customClass: 'modalError',
                allowOutsideClick: false
            }).then((result) => {
                if (result.value) {
                    location.href = '/';
                }
            });
            }

          })
          .catch(function (error) {

          });
      },
      sendALPRequest: function (prospecto_id, solicitud_id, ocultar) {

    var clientId = 0;
    ga(function(tracker) {
    	clientId = tracker.get('clientId');
    });

    var texto = 'Estamos procesando tu solicitud...';
    Swal.fire({
       html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
       customClass: 'modalLoading',
       showCancelButton: false,
       showConfirmButton:false,
       allowOutsideClick: false
   });

    axios.post('/solicitud_fico_alp', {
        prospecto_id: prospecto_id,
        solicitud_id: solicitud_id,
        clientId: clientId
    })
    .then(function (response) {

        $("html, body").animate({ scrollTop: $("#info_prestamo_personal").offset().top }, 1000);
        var respuesta = response.data;
        if (respuesta.success == true) {

            if (response.data.hasOwnProperty('eventTM')) {
                var eventos = response.data.eventTM;
                $.each(eventos, function(key, evento) {
                    dataLayer.push(evento);
                });
            }

            var tipoPoblacion = respuesta.tipo_poblacion;
            var pantallasExtra = 0;

            $('#encabezadoModal').html(respuesta.plantilla.modal_encabezado);
            $('#imgModal').html(respuesta.plantilla.modal_img);
            $('#cuerpoModal').html(respuesta.plantilla.modal_cuerpo);
            var decision = respuesta.decision;

            if (tipoPoblacion == 'oferta_normal' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_normal.PantallaExtra;
            } else if (tipoPoblacion == 'oferta_incrementada' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_mayor.PantallaExtra;
            } else if (tipoPoblacion == 'oferta_doble' && decision == 3) {
                pantallasExtra = respuesta.resultado.oferta_mayor.PantallaExtra;
            }

            // Si la respuesta a la decision del stored procedure es 3 (Invitación
            // a continuar) y no hay pantallas extras se debe mostrar el modal
            // de oferta
            if (pantallasExtra == 0 && decision == 3) {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modaloferta'
                });

            } else if (pantallasExtra == 1 && decision == 3) {
            // Si la respuesta a la decisión del stored procedure es 3 (Invitación
            // a continuar) y hay pantallas extras se debe mostrar el cuestionario
            // fijo

                // Creando el cuestionario dinámico
                axios.post('/solicitud/cuestionario', {
                    prospecto_id: respuesta.prospecto_id,
                    solicitud_id: respuesta.solicitud_id,
                })
                .then(function (response) {
                    console.log(response.data);
              if (response.data.success == true) {
                  window.location = '/solicitud/cuestionario';
              } else {

              }

          }) 

            } else if (decision == 2 || decision == 1) {
            // Si la respuesta a la decisión del stored procedure es 2 (Oferta
            // diferida) ó 1 (Rechazado) solo se debe mostrar el modal del status
            // de la solicitud
                Swal.fire({
                    html: respuesta.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modalstatus'
                });

            }

        } else {

        }

    })
    .catch(function (error) {
        swal.close();
    });

},
      maquina_riesgos: function (event) {

          var datosAdicionales = this;
          axios.post('/solicitud/maquina_riesgos', {

          })
          .then(function (response) {

              if (response.data.success == true) {

                  if (response.data.cuestionario_dinamico == true) {

                      window.location = '/solicitud/cuestionario_dinamico';

                  } else {

                      window.location = '/solicitud/decision';

                  }

              } else {
                  return false;
              }

          })
          .catch(function (error) {
              return false;
          });
      },
  },
}

</script>
