<template>
    <div id="oferta"  v-if="rechaza_oferta == false && gracias == false && solicitud_elegible == false && solicitud_no_elegible == false">
        <div id="muestra_oferta" v-show="oferta_aceptada == false && rechazo_oferta_diferida == false">
            <div v-if="doble_oferta == false" class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3><center style="text-transform: uppercase !important" class="nombreB">¡Felicidades! Tienes una oferta</center></h3>
                    </div>
                    <div class="box-body">
                        <p><span>Con base en la información que nos has proporcionado Progresemos te ofrece un préstamo con los siguientes términos:</span></p>
                        <ul style="text-align: justify; margin-bottom: 10px">
                            <li> <span class="cursive" style="font-size: 1.3em"> monto: </span><span>{{ monto }}</span></li>
                            <li> <span class="cursive" style="font-size: 1.3em"> plazo: </span><span>{{ plazo }}</span></li>
                            <li> <span class="cursive" style="font-size: 1.3em"> tasa: </span><span>{{ tasa }}</span></li>
                            <li> <span class="cursive" style="font-size: 1.3em; color:#529626"> pago estimado: </span><span>{{ pago_estimado }}</span></li>
                        </ul>
                        <p>
                            <span style="font-style: italic; font-size: 0.8em; font-weight:bold;">
                                Condiciones: Sujeto a comprobación de ingreso declarado y documentación requerida para aprobar el crédito
                            </span>
                        </p>
                    </div>
                    <div style="margin-bottom: 25px;">
                        <center>
                            <button v-on:click="aceptaOferta" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                <i class="fas fa-check"></i> ACEPTAR OFERTA
                            </button>
                            <button v-on:click="rechazaOferta" type="button" class="btn btn-outline-danger" style="border-color: #DC3545 !important;">
                                <i class="fas fa-times"></i> RECHAZAR OFERTA
                            </button>
                        </center>
                    </div>
                </div>
            </div>
            <div v-if="doble_oferta == true" class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3><center style="text-transform: uppercase !important">¡Felicidades! Tienes dos ofertas</center></h3>
                    </div>
                    <div class="box-body">
                        <p><span>Con base en la información que nos has proporcionado Progresemos te ofrece un préstamo con los siguientes términos:</span></p>
                        <div class="ofertas">
                            <span class="btn btn-oferta" v-on:click="seleccionaOferta('oferta1', 'oferta_normal')" style="margin-right:20px;" id="oferta1">{{ monto }}</span>
                            <span class="btn btn-oferta" v-on:click="seleccionaOferta('oferta2', 'oferta_mayor')" style="" id="oferta2">{{ montoM }}</span>
                        </div>
                        <div class="datos_oferta" style="display:none">
                            <ul style="margin-bottom: 10px" id="datos_oferta1" class="oferta">
                                <li><span class="cursive" style="font-size: 1.3em"> monto: </span><span>{{ monto }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> plazo: </span><span>{{ plazo }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> tasa: </span><span>{{ tasa }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> pago estimado: </span><span>{{ pago_estimado }}</span></li>
                            </ul>
                            <ul style="margin-bottom: 10px" id="datos_oferta2" class="oferta">
                                <li><span class="cursive" style="font-size: 1.3em"> monto: </span><span>{{ montoM }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> plazo: </span><span>{{ plazoM }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> tasa: </span><span>{{ tasaM }}</span></li>
                                <li><span class="cursive" style="font-size: 1.3em"> pago estimado: </span><span>{{ pago_estimadoM }}</span></li>
                            </ul>
                            <p style="font-style: italic; font-size: 0.7em; font-weight:bold; margin: 5px;">
                                Condiciones: Sujeto a comprobación de ingreso declarado y documentación requerida para aprobar el crédito
                            </p>
                            <div style="margin-bottom: 25px;">
                                <center>
                                    <button v-on:click="aceptaOfertaDoble" type="button" class="btn btn-success" style="margin: 10px; color: white">
                                        <i class="fas fa-check"></i> ACEPTAR OFERTA
                                    </button>
                                    <button v-on:click="rechazaOfertaDoble" type="button" class="btn btn-outline-primary" style="margin: 10px; border-color: #3490dc !important;">
                                        <i class="fas fa-times"></i> RECHAZAR OFERTA
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <div id="status_oferta"  v-show="oferta_aceptada == true && cuestionario_fijo == false && rechazo_oferta_diferida == false">
            <div class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3><center class="header_status" style="text-transform: uppercase !important"></center></h3>
                    </div>
                    <div class="box-body body_status" style="text-align:center">
                    </div>
                    <div style="margin-bottom: 25px;">
                        <center>
                            <button v-on:click="cuestionarioFijo" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                CONTINUAR
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div id="status_oferta"  v-show="oferta_aceptada == true && cuestionario_fijo == true && rechazo_oferta_diferida == false">
            <div class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3><center style="text-transform: uppercase !important">Datos para contacto</center></h3>
                    </div>
                    <div class="box-body" style="text-align:center">
                        <h5>
                            Para dar trámite a tu solicitud, nos será muy útil saber cuál es la mejor manera de contactarte. Para esto te pedimos la siguiente información
                        </h5>
                        <br>
                        <div style="margin-bottom: 25px;">
                            <div class="form-group">
                                <label for="telefonoContactar">Además del celular, ¿en dónde es más fácil contactarte?</label>
                                <br>
                                <select name="telefonoContactar" id="telefonoContactar" class="form-control-sm" v-model="telefono_contacto">
                                    <option value="" disabled>Seleccciona</option>
                                    <option value="Teléfono de casa">Teléfono de casa</option>
                                    <option value="Teléfono de trabajo">Teléfono de trabajo</option>
                                    <option value="Ambos">Ambos</option>
                                </select>
                            </div>
                            <div class="input-append date fechaContacto">
                                <label for="email">¿Qué horario es mejor para contactarte?</label>
                                <br>
                                <input size="16" type="text" readonly class="form-control-sm" placeholder="Selecciona un horario">
                                <input type="hidden" id="mirror_field" value="" readonly />
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="mediosContacto">¿Qué otros medios podemos usar para enviarte información?</label>
                                <br>
                                <div class="form-check form-check-inline" style="display: inline-block;">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" v-model="sms" value="SMS">
                                    SMS
                                    </label>
                                </div>
                                <div class="form-check form-check-inline" style="display: inline-block;">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="contactoWhatsapp" v-model="whatsapp" value="WhatsApp">
                                    WhatsApp
                                    </label>
                                </div>
                                <div class="form-check form-check-inline" style="display: inline-block;">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="contactoCorreo" v-model="correo" value="Correo electrónico">
                                    Correo electrónico
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 25px;">
                            <center>
                                <button v-on:click="guardaCuestionarioFijo" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                    CONTINUAR
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rechazado_oferta_diferida" v-show="rechazo_oferta_diferida == true">
            <div class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3><center class="header_status_rechazo" style="text-transform: uppercase !important" v-html="header"></center></h3>
                    </div>
                    <div class="box-body body_status_rechazo" style="text-align:center" v-html="body">
                    </div>
                    <div style="margin-bottom: 25px;">
                        <center>
                            <button v-on:click="finalizar" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                CONTINUAR
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rechaza_oferta" v-else-if="rechaza_oferta == true && gracias == false">
        <div class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3><center style="text-transform: uppercase !important">Rechazo de Oferta</center></h3>
                </div>
                <div class="box-body">
                    <center>
                        <label> ¿Por qué motivos rechazas la oferta? </label>
                        <br>
                        <select v-model="motivo_rechazo" name="motivo_rechazo" id="motivo_rechazo" class="form-control-sm col-10">
                            <option value="" disabled>SELECCIONA</option>
                            <option v-for="motivo in motivos" v-bind:value="motivo">
                                {{ motivo }}
                            </option>
                        </select>
                        <br>
                        <textarea autofocus v-model="descripcion_otro" id="textOtroRechazo" name="textOtroRechazo" v-if="motivo_rechazo == 'Otro'" maxlength="255" rows="2" class="form-control" style="margin-top: 5px; resize: none">
                        </textarea>
                    </center>
                </div>
                <div style="margin-bottom: 25px;">
                    <center>
                        <button v-on:click="confirmaRechazo" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                            RECHAZAR OFERTA
                        </button>
                        <button v-on:click="cancelaRechazo" type="button" class="btn btn-outline-primary" style="border-color: #3490dc !important;">
                            CANCELAR
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="rechaza_oferta" v-else-if="gracias == true && rechazo_oferta_diferida == false">
        <div class="col-sm-12 col-md-6" style="margin: auto; padding-top: 50px;">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3><center style="text-transform: uppercase !important">Gracias por tu solicitud</center></h3>
                </div>
                <div class="box-body">
                    <center>
                        En breve te contactaremos para asesorarte y terminar con tu solicitud.
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="solicitud_elegible" v-else-if="gracias == false && solicitud_elegible == true">
        <div class="col-sm-7 col-md-7" style="margin: auto; padding-top: 50px;">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <center style="text-transform: uppercase !important"><h3>Necesitamos más información</h3></center>
                </div>
                <div class="box-body">
                    <center>
                        <p>¡Gracias por tu solicitud!</p>
                        <p>Para analizar tu crédito necesitamos más
                           información sobre tu empleo o actividad
                           económica. Uno de nuestros representantes
                           se pondrá en contacto contigo para
                           proporcionarte mayor información.</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="solicitud_elegible" v-else-if="gracias == false && solicitud_no_elegible == true">
        <div class="col-sm-7 col-md-7" style="margin: auto; padding-top: 50px;">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <center style="text-transform: uppercase !important"><h3>¡Gracias por tu solicitud!</h3></center>
                </div>
                <div class="box-body">
                    <center>
                        <p>Nuestra política de crédito no nos permite
                           autorizar tu préstamo en este momento.</p>
                        <p>Esto puede deberse a factores como tu
                           historial de crédito, nivel de endeudamiento,
                           o simplemente a que todavía no atendemos
                           la plaza en donde radicas.</p>
                        <p>Esperamos en un futuro poder atenderte.</p>
                    </center>
                </div>
            </div>
        </div>
        <br> <br>
    </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';

export default {
  components: {
      Datepicker 
  },
  data: function() {
    return {
        monto: '',
        tasa: '',
        plazo: '',
        pago_estimado: '',
        montoM: '',
        tasaM: '',
        plazoM: '',
        pago_estimadoM: '',
        tipo_oferta: '',
        rechaza_oferta: false,
        oferta_aceptada: null,
        motivo_rechazo: '',
        descripcion_otro: '',
        cuestionario_fijo: false,
        telefono_contacto: '',
        horario_contacto: '',
        sms: '',
        whatsapp: '',
        correo: '',
        gracias: false,
        rechazo_oferta_diferida: false,
        solicitud_elegible: false,
        solicitud_no_elegible: false,
        clientId: null,
        header: '',
        body: '',
        doble_oferta: false,
        oferta: false
    }
  },

  mounted() {
      this.getDatosOferta();
  },
  methods: {
      submit: function (event) {
          var decision = this;

      },
      seleccionaOferta: function(oferta, tipo_oferta) {

          $('.btn-oferta').removeClass('btn-oferta-clicked');
          $('#' + oferta).addClass('btn-oferta-clicked');
          $('.datos_oferta').hide();
          $('.oferta').hide();
          $('#datos_' + oferta).show();
          $('.datos_oferta').show();
          this.tipo_oferta = tipo_oferta;

      },
      track: function(evento) {

          console.log(evento);
          var decision = this;
          decision.$gtm.trackEvent({
            event: evento,
            userId: decision.auth_user.prospecto_id_sitio,
            clientId: decision.clientId,
            solicId: decision.auth_user.solicitud_id_sitio

          });

      },
      getDatosOferta: function () {
          var decision = this;
              axios.get('/solicitud/datosOferta')
              .then(function (response) {
                  console.log(response.data);
                  if (response.data.success == true) {
                          var ofertas = response.data.datos_oferta;
                          if (response.data.datos_oferta[0].decision == 'Invitación a Continuar') {
                              if (ofertas[0].hasOwnProperty('tipo_poblacion')) {
                                  var tipo_poblacion = ofertas[0].tipo_poblacion;
                                  if (tipo_poblacion == 'oferta_doble') {

                                      decision.doble_oferta = true;
                                      $.each(ofertas, function(key, oferta) {
                                          if (oferta.tipo_oferta == 'oferta_normal') {
                                              decision.monto = oferta.monto;
                                              decision.tasa = oferta.tasa;
                                              decision.plazo = oferta.plazo;
                                              decision.pago_estimado = oferta.pago;
                                          } else if (oferta.tipo_oferta == 'oferta_mayor') {
                                              decision.montoM = oferta.monto;
                                              decision.tasaM = oferta.tasa;
                                              decision.plazoM = oferta.plazo;
                                              decision.pago_estimadoM = oferta.pago;
                                          }
                                      });

                                  } else {
                                      decision.monto = response.data.datos_oferta[0].monto;
                                      decision.tasa = response.data.datos_oferta[0].tasa;
                                      decision.plazo = response.data.datos_oferta[0].plazo;
                                      decision.pago_estimado = response.data.datos_oferta[0].pago;
                                  }
                              } else {
                                  decision.monto = response.data.datos_oferta[0].monto;
                                  decision.tasa = response.data.datos_oferta[0].tasa;
                                  decision.plazo = response.data.datos_oferta[0].plazo;
                                  decision.pago_estimado = response.data.datos_oferta[0].pago;
                              }

                              $('.header_status').html(response.data.plantilla.modal_encabezado);
                              $('.body_status').html(response.data.plantilla.modal_cuerpo);
                              decision.convierteTimePicker();
                              decision.oferta_aceptada = false;
                              swal.close();
                          } else {

                              /* var resultado = response.data.datos_oferta[0].decision.toLowerCase();
                              resultado = resultado.replace(/\s+/g, '_');
                              decision.header = response.data.plantilla.modal_encabezado;
                              decision.body = response.data.plantilla.modal_cuerpo;

                               axios.post('/updateStatus', {
                                  'user_id' : decision.auth_user.id,
                                  'last_status' : resultado,
                              }).then(function (response) {
                                  decision.rechazo_oferta_diferida = true;
                                  decision.oferta_aceptada = false;
                                   swal.close();
                              }).catch(function (error) {

                                  swal({
                                      title: 'Ocurrio un error al procesar tu solicitud',
                                      text: error,
                                      allowOutsideClick: false,
                                  });

                              });*/

                          }

   

                  } else {

                      swal({
                          title: 'Ocurrio un error al obtener los datos de la oferta',
                          text: '',
                          allowOutsideClick: false,
                          confirmButtonText: 'Reintentar',
                      }).then((result) => {
                          if (result.value) {
                              decision.getDatosOferta();
                          }
                      })

                  }

              }).catch(function (error) {

                  swal({
                      title: 'Ocurrio un error al obtener los datos de la oferta',
                      text: error,
                      allowOutsideClick: false,
                      confirmButtonText: 'Reintentar',
                  }).then((result) => {
                      if (result.value) {
                          decision.getDatosOferta();
                      }
                  })

              });
      },
      finalizar: function() {
          window.location.href = decision.url.sitio;
      },
      aceptaOferta: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.post('/solicitud/status_oferta', {
              status_oferta: 'Oferta Aceptada',
               tipo_oferta: decision.tipo_oferta
          }).then(function (response) {
              swal.close();
                decision.oferta_aceptada = true;
                
                Swal.fire({
                html: response.data.modal,
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: 'modaloferta'
            });

            if (response.data.carga_identificacion_selfie == true) {
            location.href = '/carga_documentos/paso1';
            } else {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modalstatus'
                });
            }

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      rechazaOferta: function() {

          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          
          axios.post('/solicitud/rechazar_oferta', {
              status_oferta: 'Oferta Rechazada',
              motivo: false,
          }).then(function (response) {
              console.log(response)
              swal({
                title: 'Solicitud rechazada',
                text: response.message,
                allowOutsideClick: false,
                });

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });

      },
      aceptaOfertaDoble: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.post('/solicitud/status_oferta_doble', {
              status_oferta: 'Oferta Aceptada',
              tipo_oferta: decision.tipo_oferta
          }).then(function (response) {
                console.log(response);
                swal.close();
                decision.oferta_aceptada = true;
                
                Swal.fire({
                html: response.data.modal,
                showConfirmButton: false,
                allowOutsideClick: false,
                customClass: 'modaloferta'
            });
            if (response.data.carga_identificacion_selfie == true) {
            location.href = '/carga_documentos/paso1';
            } else {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    customClass: 'modalstatus'
                });
            }
          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      rechazaOfertaDoble: function() {

          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.post('/solicitud/status_oferta', {
              status_oferta: 'Oferta Rechazada',
              tipo_oferta: decision.tipo_oferta,
              motivo: false,
          }).then(function (response) {

              axios.post('/updateStatus', {
                  'user_id' : decision.auth_user.id,
                 // 'last_status' : 'oferta_pre_rechazada',
              }).then(function (response) {

                  swal.close();
                  decision.rechaza_oferta = true;

              }).catch(function (error) {

                  swal({
                      title: 'Ocurrio un error al procesar tu solicitud',
                      text: error,
                      allowOutsideClick: false,
                  });

              });

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });

      },
      cancelaRechazo: function() {

        this.rechaza_oferta = false;
        this.motivo_rechazo = '';
        this.descripcion_otro = '';

      },
      confirmaRechazo: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          var url_rechazo = '';
          if (decision.doble_oferta == true) {
              url_rechazo = decision.urls.status_oferta_doble;
          } else {
              url_rechazo = decision.urls.status_oferta;
          }

         
          axios.post(url_rechazo, {
              prospecto_id: decision.auth_user.prospecto_id_sitio,
              solicitud_id: decision.auth_user.solicitud_id_sitio,
              status_oferta: 'Oferta Rechazada',
              motivo: true,
              motivo_rechazo: decision.motivo_rechazo,
              descripcion_otro: decision.descripcion_otro,
          }).then(function (response) {

              axios.post('/updateStatus', {
                  'user_id' : decision.auth_user.id,
                  //'last_status' : 'oferta_rechazada',
              }).then(function (response) {

                  swal.close();
                  window.location.href = decision.urls.sitio;

              }).catch(function (error) {

                  swal({
                      title: 'Ocurrio un error al procesar tu solicitud',
                      text: error,
                      allowOutsideClick: false,
                  });

              });

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      cuestionarioFijo: function() {
        this.cuestionario_fijo = true;
      },
      guardaCuestionarioFijo: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.defaults.headers.post['Content-Type'] = 'application/json';
          axios.defaults.headers.post['Authorization'] = this.token_api;
          axios.post('/saveCuestionarioFijo', {
              prospecto_id_CF: decision.auth_user.prospecto_id_sitio,
              solicitud_id_CF: decision.auth_user.solicitud_id_sitio,
              telefonoContactar: decision.telefono_contacto,
              fechaContacto: decision.horario_contacto,
              contactoSms: decision.sms,
              contactoWhatsapp: decision.whatsapp,
              contactoCorreo: decision.correo,

          }).then(function (response) {

              decision.gracias = true;
              swal.close();

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar tu solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      convierteTimePicker: function() {
          var decision = this;
          var date = new Date();
          var cday = date.getDay();
          var chour = date.getHours();
          var suma = 0;
          var startDate = 0;
          var endDate = 0;
          var diaExtra = 0;
          var horaInicio = 0;
          switch(cday) {
              case 0:
                  startDate = new Date(date.setDate(date.getDate() + 1));
                  endDate = new Date(date.setDate(date.getDate() + 1));
                  break;
              case 1:
                  if (chour >= 19) {
                      diaExtra = 1;
                      horaInicio = 8;
                  } else {
                      horaInicio = chour;
                      suma = 60;
                  }
                  startDate = new Date(date.setDate(date.getDate() + diaExtra));
                  endDate = new Date(date.setDate(date.getDate() + 1));
                  break;
              case 2:
                  if (chour >= 19) {
                      diaExtra = 1;
                      horaInicio = 8;
                  } else {
                      horaInicio = chour;
                      suma = 60;
                  }
                  startDate = new Date(date.setDate(date.getDate() + diaExtra));
                  endDate = new Date(date.setDate(date.getDate() + 1));
                  break;
              case 3:
                  if (chour >= 19) {
                      diaExtra = 1;
                      horaInicio = 8;
                  } else {
                      horaInicio = chour;
                      suma = 60;
                  }
                  startDate = new Date(date.setDate(date.getDate() + diaExtra));
                  endDate = new Date(date.setDate(date.getDate() + 1));
                  break;
              case 4:
                  if (chour >= 19) {
                      diaExtra = 1;
                      horaInicio = 8;
                  } else {
                      horaInicio = chour;
                      suma = 60;
                  }
                  startDate = new Date(date.setDate(date.getDate() + diaExtra));
                  endDate = new Date(date.setDate(date.getDate() + 1));
                  break;
              case 5:
                  if (chour >= 19) {
                      diaExtra = 1;
                      horaInicio = 8;
                  } else {
                      horaInicio = chour;
                      suma = 60;
                  }
                  startDate = new Date(date.setDate(date.getDate() + diaExtra));
                  endDate = new Date(date.setDate(date.getDate() + 2 ));
                  break;
              case 6:
                  if (chour >= 14) {
                      horaInicio = 9;
                      startDate = new Date(date.setDate(date.getDate() + 2));
                      endDate = new Date(date.setDate(date.getDate() + 1 ));
                  } else {
                      horaInicio = chour;
                      suma = 60;
                      startDate = new Date(date.setDate(date.getDate()));
                      endDate = new Date(date.setDate(date.getDate() + 2 ));
                  }
                  break;
          }

          var initialDate = new Date(startDate.getUTCFullYear(), startDate.getUTCMonth(), startDate.getDate(), horaInicio);
          if (suma != 0) {
              initialDate.setMinutes(date.getMinutes() + suma);
          }

         /*  $('.fechaContacto').datetimepicker({
              initialDate: initialDate,
              startDate: initialDate,
              autoclose: true,
              endDate: new Date(endDate.getUTCFullYear(), endDate.getUTCMonth(), endDate.getDate(), 23),
              daysOfWeekDisabled: [0],
              format: 'yyyy-mm-dd hh:ii',
              minView: 0,
              timezone: 'GMT-0600',
              language: 'es',
              minuteStep: 15,
              linkField: 'mirror_field',
              linkFormat: 'yyyy-mm-dd hh:ii',
              onRenderHour: function(date) {

                  if (date.getDay() == 6) {
                      if (date.getUTCHours() < 9 || date.getUTCHours() > 14)
                        return ['disabled'];
                  } else if ( date.getDay() == 0) {
                      return ['disabled'];
                  } else {
                      if (date.getUTCHours() < 8 && date.getUTCHours() > 19)
                        return ['disabled'];
                  }
              },
              onRenderMinute: function(date) {
                if (date.getUTCHours() <= 7 || (date.getUTCHours() == 19 && date.getUTCMinutes() > 1 ) || date.getUTCHours() > 19)
                    return ['disabled'];
                if (date.getDay() == 6) {
                    if (date.getUTCHours() <= 8 || (date.getUTCHours() == 14 && date.getUTCMinutes() > 1) || date.getUTCHours() > 14)
                      return ['disabled'];
                }
              },

          });
 */
          /* $('.fechaContacto').datetimepicker('setHoursDisabled', [0,1,2,3,4,5,6,7,20,21,22,23])
            .on('changeDate', function(ev) {
                decision.horario_contacto = $('#mirror_field').val();
            }); */
      }
  },
}

</script>
