<template>
<div id="panel">
    <section>
        <!-- Formulario Datos de la SOlicitud -->
        <img src="/images/landings/dentalia/logo_dentalia_prestanomico.png" alt="Logo" width="250px" style="margin-bottom: 10px;">
        <fieldset v-if='solicitud == true'>
            <form id="form">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <h3 class="box-title"><b>Solicitud de crédito</b></h3>
                            <br>
                            <span class="description">Datos del préstamo.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Monto solicitado</label>
                                            <vue-numeric id="monto" name="monto" currency="$" separator="," v-model="fields.monto" class="form-control form-control-sm"></vue-numeric>
                                            <!-- <input type="text" id="monto" name="monto" maxlength="50" class="form-control form-control-sm" v-model="fields.monto" v-upper> -->
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Plazo</label>
                                            <select id="plazo" name="plazo" class="form-control form-control-sm" v-model="fields.plazo">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option v-for="(plazo, index) in configuracion.plazos" :value="plazo.clave">{{ plazo.duracion }} {{ plazo.plazo }}</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Finalidad</label>
                                            <select id="finalidad" name="finalidad" class="form-control form-control-sm" v-model="fields.finalidad">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option v-for="(finalidad, index) in configuracion.finalidades" :value="finalidad.id">{{ finalidad.finalidad }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset v-if='solicitud == true'>
            <form id="form">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <span class="description">Datos Generales.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Nombre(s)</label>
                                            <input type="text" id="nombres" name="nombres" maxlength="50" class="form-control form-control-sm" v-model="fields.nombres" v-upper>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Apellido paterno</label>
                                            <input type="text" id="apellido_paterno" name="apellido_paterno" maxlength="50" class="form-control form-control-sm" v-model="fields.apellido_paterno" v-upper>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Apellido materno</label>
                                            <input type="text" id="apellido_materno" name="apellido_materno" maxlength="50" class="form-control form-control-sm" v-model="fields.apellido_materno" v-upper>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Email</label>
                                            <input type="text" id="email" name="email" maxlength="50" class="form-control form-control-sm" v-model="fields.email" v-upper>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Telefono celuar</label>
                                            <input type="text" id="celular" name="celular" maxlength="10" class="form-control form-control-sm" v-model="fields.celular">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Contraseña</label>
                                            <input type="password" id="password" name="password" minlenght="8" class="form-control form-control-sm" v-model="fields.password">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <label class="box-title">Confirma contraseña</label>
                                            <input type="password" id="confirma_password" minlenght="8" name="confirma_password" class="form-control form-control-sm" v-model="fields.confirma_password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset v-if='solicitud == true'>
            <form id="form" method="POST" action="/">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <span class="description">Datos Domicilio.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-12 col-form-label">
                                            <label class="box-title">Domicilio</label>
                                            <div class="col-12" style="display: inline-flex; padding: 0px;">
                                                <input type="text" id="calle" name="calle" placeholder="Calle" class="col-xl-6 col-lg-6 col-6 form-control form-control-sm" maxlength="35" v-model="fields.calle" v-upper>
                                                <input type="text" id="no_ext" name="no_ext" placeholder="No. Ext" class="col-xl-3 col-lg-2 col-2 form-control form-control-sm" style="margin-left: 4px;" maxlength="5" v-model="fields.no_ext" v-upper>
                                                <input type="text" id="no_int" name="no_int" placeholder="No. Int" class="col-xl-3 col-lg-2 col-2 form-control form-control-sm" style="margin-left: 4px;" maxlength="5" v-model="fields.no_int" v-upper>
                                            </div>
                                            <label id="domicilio_error" class="error" style="color:#dc3545; font-size:80%; text-transform: none;"></label>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-sm-2 col-4 col-form-label">
                                            <label class="box-title">Codigo postal</label>
                                            <input type="text" id="codigo_postal" name="codigo_postal" class="form-control form-control-sm" maxlength="5" v-model="fields.codigo_postal" v-on:change="busca_colonias" v-bind:class="{ 'is-invalid': codigoPostalInvalido }">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-8 col-form-label">
                                            <label class="box-title">Colonia</label>
                                            <select id="colonia" name="colonia" class="form-control form-control-sm" v-model="fields.id_colonia"  v-on:change="getDescripcionColonia">
                                                <option disabled selected value=""> Selecciona </option>
                                                <option v-for="colonia in colonias" :value="colonia.id">{{ colonia.colonia }}</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-6 col-form-label">
                                            <label class="box-title">Delegación/Municipio</label>
                                            <input disabled placeholder="Ingrese Código Postal" type="text" id="delegacion_municipio" name="delegacion_municipio" class="form-control form-control-sm" v-model="fields.delegacion_municipio">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-6 col-form-label">
                                            <label class="box-title">Ciudad</label>
                                            <input disabled placeholder="Ingrese Código Postal" type="text" id="ciudad" name="ciudad" class="form-control form-control-sm" v-model="fields.ciudad">
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-6 col-form-label">
                                            <label class="box-title">Estado</label>
                                            <input disabled placeholder="Ingrese Código Postal" type="text" id="estado" name="estado" class="form-control form-control-sm" v-model="fields.estado">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset v-if='solicitud == true'>
            <form id="form" method="POST" action="/">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <span class="description">Datos Personales.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-2 col-lg-2 col-sm-2 col-4 col-form-label">
                                            <label class="box-title">Sexo</label>
                                            <select id="sexo" name="sexo" class="form-control form-control-sm" v-model="fields.sexo">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="M">HOMBRE</option>
                                                <option value="F">MUJER</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Fecha de nacimiento</label>
                                            <datepicker placeholder="Ejemplo: 01-Enero-1987" input-class="form-control form-control-sm" :language="es" format="dd-MMMM-yyyy" @selected="fechaSeleccionada"></datepicker>
                                            <label id="fecha_nacimiento_error" class="error" style="color:#dc3545; font-size:80%; text-transform: none;"></label>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 col-form-label">
                                            <label class="box-title" style="display: inherit">Lugar de Nacimiento</label>
                                            <div class="col-12" style="display: inline-flex; padding: 0px">
                                                <div class="col-xl-6 col-lg-6 col-sm-6 col-12" style="padding: 0px">
                                                    <select id="estado" name="estado" class="form-control form-control-sm" v-model="fields.id_estado_nacimiento" v-on:change="busca_ciudades">
                                                        <option disabled selected value="">Estado</option>
                                                        <option v-for="(estado, index) in estados" :value="estado.id_estado">{{ estado.estado }}</option>
                                                    </select>
                                                    <label id="estado_nacimiento_error" class="error" style="color:#dc3545; font-size:80%; text-transform: none;"></label>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-sm-6 col-12" style="padding: 0px; margin-left: 4px;">
                                                    <select id="ciudad" name="ciudad" class="form-control form-control-sm" v-model="fields.ciudad_nacimiento">
                                                        <option disabled selected value="">Ciudad</option>
                                                        <option v-for="ciudad in ciudades" :value="ciudad">{{ ciudad }}</option>
                                                    </select>
                                                    <label id="ciudad_nacimiento_error" class="error" style="color:#dc3545; font-size:80%; text-transform: none;"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-8 col-form-label">
                                            <label class="box-title">Teléfono casa</label>
                                            <input type="text" id="telefono_casa" name="telefono_casa" class="form-control form-control-sm" maxlength="10" v-model="fields.telefono_casa">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Estado civil</label>
                                            <select id="estado_civil" name="estado_civil" class="form-control form-control-sm" v-model="fields.estado_civil">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="M">CASADO</option>
                                                <option value="D">DIVORCIADO</option>
                                                <option value="S">SOLTERO</option>
                                                <option value="F">UNIÓN LIBRE</option>
                                                <option value="W">VIUDO</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Nivel de estudios</label>
                                            <select id="nivel_estudios" name="nivel_estudios" class="form-control form-control-sm" v-model="fields.nivel_estudios">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="SECUNDARIA">SECUNDARIA</option>
                                                <option value="PREPARATORIA">PREPARATORIA</option>
                                                <option value="CARRETA TÉCNICA">CARRETA TÉCNICA</option>
                                                <option value="LICENCIATURA">LICENCIATURA</option>
                                                <option value="POSTGRADO">POSTGRADO</option>
                                                <option value="OTRO">OTRO</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-6 col-form-label">
                                            <label class="box-title">RFC</label>
                                            <input type="text" id="rfc" name="rfc" class="form-control form-control-sm" maxlength="13" v-model="fields.rfc" v-upper>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset v-if='solicitud == true'>
            <form id="form" method="POST" action="/">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <span class="description">Datos Adicionales.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Ocupación</label>
                                            <select type="text" id="ocupacion" name="ocupacion" class="form-control form-control-sm" maxlength="5" v-model="fields.ocupacion">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="EMPLEADO SECTOR PÚBLICO">EMPLEADO SECTOR PÚBLICO</option>
                                                <option value="EMPLEADO SECTOR PRIVADO">EMPLEADO SECTOR PRIVADO</option>
                                                <option value="NEGOCIO PROPIO">NEGOCIO PROPIO</option>
                                                <option value="PROFESIONAL INDEPENDIENTE">PROFESIONAL INDEPENDIENTE</option>
                                                <option value="ARRENDADOR">ARRENDADOR</option>
                                                <option value="PENSIONADO">PENSIONADO</option>
                                                <option value="JUBILADO">JUBILADO</option>
                                                <option value="OTRO">OTRO</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Fuente de ingresos</label>
                                            <select type="text" id="fuente_ingresos" name="fuente_ingresos" class="form-control form-control-sm" maxlength="5" v-model="fields.fuente_ingresos">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="SALARIO">SALARIO</option>
                                                <option value="HONORARIOS">HONORARIOS</option>
                                                <option value="RENTA">RENTA</option>
                                                <option value="INMUEBLES">INMUEBLES</option>
                                                <option value="PENSIÓN">PENSIÓN</option>
                                                <option value="JUBILACIÓN">JUBILACIÓN</option>
                                                <option value="OTRO">OTRO</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Ingreso total mensual comprobable</label>
                                            <vue-numeric id="ingreso_mensual" name="ingreso_mensual" currency="$" separator="," v-model="fields.ingreso_mensual" class="form-control form-control-sm"></vue-numeric>
                                            <!-- <input type="text" id="ingreso_mensual" name="ingreso_mensual" class="form-control form-control-sm" maxlength="10" v-model="fields.ingreso_mensual">-->
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Antigüedad en empleo actual</label>
                                            <select type="text" id="antiguedad_empleo" name="antiguedad_empleo" class="form-control form-control-sm" maxlength="5" v-model="fields.antiguedad_empleo">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="0">MENOS DE 1 AÑO</option>
                                                <option value="1">1 AÑO</option>
                                                <option value="2">2 AÑOS</option>
                                                <option value="3">3 AÑOS</option>
                                                <option value="4">4 AÑOS</option>
                                                <option value="5">5 AÑOS</option>
                                                <option value="6">6 AÑOS</option>
                                                <option value="7">7 AÑOS</option>
                                                <option value="8">8 AÑOS</option>
                                                <option value="9">9 AÑOS</option>
                                                <option value="10">10 AÑOS</option>
                                                <option value="11">MÁS DE 10 AÑOS</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-sm-4 col-4 col-form-label">
                                            <label class="box-title">Nombre de empresa/lugar de trabajo</label>
                                            <input type="text" id="nombre_empresa" name="nombre_empresa" class="form-control form-control-sm" maxlength="50" v-model="fields.nombre_empresa" v-upper>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Teléfono del empleo actual</label>
                                            <input type="text" id="telefono_empleo" name="telefono_empleo" class="form-control form-control-sm" maxlength="10" v-model="fields.telefono_empleo">
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Residencia</label>
                                            <select type="text" id="residencia" name="residencia" class="form-control form-control-sm" maxlength="5" v-model="fields.residencia">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="PROPIA">PROPIA</option>
                                                <option value="RENTA">RENTA</option>
                                                <option value="CON FAMILIARES">CON FAMILIARES</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Antigüedad en domicilio actual</label>
                                            <select type="text" id="antiguedad_domicilio" name="antiguedad_domicilio" class="form-control form-control-sm" maxlength="5" v-model="fields.antiguedad_domicilio">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="0">MENOS DE 1 AÑO</option>
                                                <option value="1">1 AÑO</option>
                                                <option value="2">2 AÑOS</option>
                                                <option value="3">3 AÑOS</option>
                                                <option value="4">4 AÑOS</option>
                                                <option value="5">5 AÑOS</option>
                                                <option value="6">6 AÑOS</option>
                                                <option value="7">7 AÑOS</option>
                                                <option value="8">8 AÑOS</option>
                                                <option value="9">9 AÑOS</option>
                                                <option value="10">10 AÑOS</option>
                                                <option value="11">MÁS DE 10 AÑOS</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Monto gastos familiares mensuales</label>
                                            <vue-numeric id="gastos_mensuales" name="gastos_mensuales" currency="$" separator="," v-model="fields.gastos_mensuales" class="form-control form-control-sm"></vue-numeric>
                                            <!-- <input type="text" id="gastos_mensuales" name="gastos_mensuales" class="form-control form-control-sm" maxlength="10" v-model="fields.gastos_mensuales"> -->
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">Dependientes económicos</label>
                                            <select type="text" id="dependientes_economicos" name="dependientes_economicos" class="form-control form-control-sm" maxlength="5" v-model="fields.dependientes_economicos">
                                                <option disabled selected value=""> SELECCIONA </option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submitSolicitud" type="button" class="btn btn-primary">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <!-- Formulario Datos de buró de crédito -->
        <fieldset v-if='buro == true'>
            <form id="form" method="POST" action="/">
                <div class="row col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header" >
                            <h3 class="box-title"><b>Autorización de consulta al Buró de Crédito</b></h3>
                            <br>
                            <span class="description">Para evaluar la solicitud necesitamos consultar tus antecedentes crediticios.<br>
                                Para este fin, el Buró de Crédito nos pide respuesta a las siguientes preguntas.<br>
                                No es un requisito para nosotros que tengas tarjeta o cualquier otro tipo de crédito, pero sí es necesario que respondas de manera verdadera para que podamos obtener tu información del Buró.</span>
                        </div>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">¿Cuentas con un crédito hipotecario a tu nombre?</label>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_hipotecario_si" name="credito_hipotecario" value="on" class="custom-control-input" v-model="credito_hipotecario">
                                                <label for="credito_hipotecario_si" class="custom-control-label">Si</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_hipotecario_no" name="credito_hipotecario" value="off" class="custom-control-input" v-model="credito_hipotecario">
                                                <label for="credito_hipotecario_no" class="custom-control-label">No</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">¿Has ejercido en los últimos dos años un crédito automotriz?</label>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_automotriz_si" name="credito_automotriz" value="on" class="custom-control-input" v-model="credito_automotriz">
                                                <label for="credito_automotriz_si" class="custom-control-label">Si</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_automotriz_no" name="credito_automotriz" value="off" class="custom-control-input" v-model="credito_automotriz">
                                                <label for="credito_automotriz_no" class="custom-control-label">No</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-3 col-4 col-form-label">
                                            <label class="box-title">¿Eres titular de al menos una tarjeta de crédito bancaria?</label>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_bancario_si" name="credito_bancario" value="on" class="custom-control-input" v-model="credito_bancario">
                                                <label for="credito_bancario_si" class="custom-control-label">Si</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline radio-inline">
                                                <input type="radio" id="credito_bancario_no" name="credito_bancario" value="off" class="custom-control-input" v-model="credito_bancario">
                                                <label for="credito_bancario_no" class="custom-control-label">No</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-sm-2 col-6 col-form-label" v-if="credito_bancario == 'on'">
                                            <label class="box-title">Ingresa los últimos 4 dígitos de tu tarjeta</label>
                                            <input type="text" id="digitos_tarjeta" name="digitos_tarjeta" class="form-control form-control-sm" maxlength="4" v-model="digitos_tarjeta">
                                        </div>
                                    </div>
                                    <label class="form-check-label">Hoy siendo <b>{{ fecha }}</b> autorizo a Prestanómico® S.A.P.I. de C.V a consultar mis antecedentes crediticios por única ocasión ante las Sociedades de Información Crediticia que estime conveniente, declarando que conozco la naturaleza, alcance y uso que Prestanómico S.A.P.I. de C.V. hará de tal información.</label>
                                    <div class="form-check">

                                        <input class="form-check-input" type="checkbox" value="" id="acepto_consulta" name="acepto_consulta" v-model="acepto_consulta">
                                        <label class="form-check-label">Acepto</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submitDatosBuro" type="button" class="btn btn-primary">Consultar Buro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <!-- Formulario Cuestionario Dinámico -->
        <fieldset v-if='cuestionario_dinamico == true'>
            <div class="box box-warning box-solid">
                <div class="box-header" >
                </div>
                <div class="box-body">
                    <vue-form-generator class="row" :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
                    <div id="button" class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                        <button v-on:click="submitCuestionarioDinamico" type="button" class="btn btn-primary" style="border-color: #3490dc !important; width:250px;">Siguiente</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <div v-if='decision == true'>
            <center>
                <!-- Modal Oferta -->
                <div id="oferta" v-if="rechaza_oferta == false && gracias == false && solicitud_elegible == false && solicitud_no_elegible == false">
                    <div id="muestra_oferta" v-show="oferta_aceptada == false && rechazo_oferta_diferida == false">
                        <div class="col-sm-12 col-md-6 offset-md-3">
                            <div class="box box-warning box-solid">
                                <div class="box-header with-border">
                                    <h3><center style="text-transform: uppercase !important">¡Felicidades! Tienes una oferta</center></h3>
                                </div>
                                <div class="box-body">
                                    <p><span>Con base en la información que nos has proporcionado Prestanómico te ofrece un préstamo con los siguientes términos:</span></p>
                                    <ul style="text-align: justify; margin-bottom: 10px">
                                        <li> <span class="cursive" style="font-size: 1.3em"> monto: </span><span>{{ monto }}</span></li>
                                        <li> <span class="cursive" style="font-size: 1.3em"> plazo: </span><span>{{ plazo }}</span></li>
                                        <li> <span class="cursive" style="font-size: 1.3em"> tasa: </span><span>{{ tasa }}</span></li>
                                        <li> <span class="cursive" style="font-size: 1.3em"> pago estimado: </span><span>{{ pago_estimado }}</span></li>
                                    </ul>
                                    <p>
                                        <span style="font-style: italic; font-size: 0.8em; font-weight:bold;">
                                            Condiciones: Sujeto a comprobación de ingreso declarado y documentación requerida para aprobar el crédito
                                        </span>
                                    </p>
                                </div>
                                <div style="margin-bottom: 25px;">
                                    <center>
                                        <button v-on:click="aceptaOferta" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                            <i class="fas fa-check"></i> ACEPTAR OFERTA
                                        </button>
                                        <button v-on:click="rechazaOferta" type="button" class="btn btn-outline-primary" style="border-color: #3490dc !important;">
                                            <i class="fas fa-times"></i> RECHAZAR OFERTA
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Oferta Aceptada -->
                    <div id="status_oferta"  v-show="oferta_aceptada == true && cuestionario_fijo == false && rechazo_oferta_diferida == false">
                        <div class="col-sm-12 col-md-6 offset-md-3">
                            <div class="box box-warning box-solid">
                                <div class="box-header with-border">
                                    <h3>
                                        <center class="header_status" style="text-transform: uppercase !important" v-html="header">
                                        </center>
                                    </h3>
                                </div>
                                <div class="box-body body_status" style="text-align:center" v-html="body">
                                </div>
                                <div style="margin-bottom: 25px;">
                                    <center>
                                        <button v-on:click="finalizar" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                            CONTINUAR
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Oferta Diferida/Rechazado -->
                    <div id="rechazado_oferta_diferida" v-show="rechazo_oferta_diferida == true">
                        <div class="col-sm-12 col-md-6 offset-md-3">
                            <div class="box box-warning box-solid">
                                <div class="box-header with-border">
                                    <h3>
                                        <center class="header_status_rechazo" style="text-transform: uppercase !important" v-html="header">
                                        </center>
                                    </h3>
                                </div>
                                <div class="box-body body_status_rechazo" style="text-align:center" v-html="body">
                                </div>
                                <div style="margin-bottom: 25px;">
                                    <center>
                                        <button v-on:click="finalizar" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                            CONTINUAR
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Formulario Oferta Rechazada -->
                <div id="rechaza_oferta" v-else-if="rechaza_oferta == true && gracias == false">
                    <div class="col-sm-12 col-md-6 offset-md-3">
                        <div class="box box-warning box-solid">
                            <div class="box-header with-border">
                                <h3><center style="text-transform: uppercase !important">Rechazo de Oferta</center></h3>
                            </div>
                            <div class="box-body">
                                <center>
                                    <label> ¿Por qué motivos rechazas la oferta? </label>
                                    <br>
                                    <select v-model="motivo_rechazo" name="motivo_rechazo" id="motivo_rechazo" class="form-control-sm col-10">
                                        <option value="" disabled>SELECCIONA</option>
                                        <option v-for="motivo in motivos" v-bind:value="motivo.motivo">
                                            {{ motivo.motivo }}
                                        </option>
                                    </select>
                                    <br>
                                    <textarea autofocus v-model="descripcion_otro" id="textOtroRechazo" name="textOtroRechazo" v-if="motivo_rechazo == 'Otro'" maxlength="255" rows="2" class="form-control" style="margin-top: 5px; resize: none">
                                    </textarea>
                                </center>
                            </div>
                            <div style="margin-bottom: 25px;">
                                <center>
                                    <button v-on:click="confirmaRechazo" type="button" class="btn btn-warning" style="margin-right: 20px; color: white">
                                        RECHAZAR OFERTA
                                    </button>
                                    <button v-on:click="cancelaRechazo" type="button" class="btn btn-outline-primary" style="border-color: #3490dc !important;">
                                        CANCELAR
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </section>
</div>
</template>
<script>

import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import VueFormGenerator from "vue-form-generator";
import VueNumeric from 'vue-numeric';

export default {
  props: ['estados', 'motivos', 'configuracion', 'fecha', 'url'],
  components: {
    Datepicker,
    VueNumeric
  },
  data: function() {
    return {
        es: es,
        fields: {
            monto: '',
            plazo: '',
            finalidad: '',
            nombres: '',
            apellido_paterno: '',
            apellido_materno: '',
            email: '',
            celular: '',
            password: '',
            confirma_password: '',
            calle: '',
            no_ext: '',
            no_int: '',
            codigo_postal: '',
            colonia: '',
            id_colonia: '',
            delegacion_municipio: '',
            id_delegacion_municipio: '',
            ciudad: '',
            id_ciudad: '',
            estado: '',
            id_estado: '',
            codigo_estado: '',
            sexo:'',
            fecha_nacimiento: '',
            id_estado_nacimiento: '',
            estado_nacimiento: '',
            ciudad_nacimiento: '',
            telefono_casa: '',
            estado_civil: '',
            nivel_estudios: '',
            rfc: '',
            ocupacion: '',
            fuente_ingresos: '',
            ingreso_mensual: '',
            antiguedad_empleo: '',
            nombre_empresa: '',
            telefono_empleo: '',
            residencia: '',
            antiguedad_domicilio: '',
            gastos_mensuales: '',
            dependientes_economicos: '',
            monto_minimo: '',
            monto_maximo: '',
            prospecto_id: null,
        },
        situaciones : '',
        schema: {
            groups: null
        },
        model: null,
        formOptions: {},
        colonias: [],
        ciudades: [],
        codigo_invalido: false,
        credito_bancario: '',
        credito_automotriz: '',
        credito_hipotecario: '',
        digitos_tarjeta: '',
        acepto_consulta: false,
        monto: '',
        tasa: '',
        plazo: '',
        pago_estimado: '',
        last_status: null,
        rechaza_oferta: false,
        oferta_aceptada: null,
        motivo_rechazo: '',
        descripcion_otro: '',
        cuestionario_fijo: false,
        telefono_contacto: '',
        horario_contacto: '',
        sms: '',
        whatsapp: '',
        correo: '',
        gracias: false,
        rechazo_oferta_diferida: false,
        solicitud_elegible: false,
        solicitud_no_elegible: false,
        prospecto_id: '',
        solicitud_id: '',
        solicitud: true,
        buro: false,
        cuestionario_dinamico: false,
        decision: false,
        header: '',
        body: '',
    }
  },
  filters: {
    uppercase: function(v) {
      return v.toUpperCase();
    }
  },
  directives: {
    upper: {
    	update: function(el) {
    		el.value = el.value.toUpperCase()
    	},
    }
  },
  computed: {
      codigoPostalInvalido: function () {
          return this.codigo_invalido;
      },
  },
  mounted() {
      this.fields.monto_maximo = this.configuracion.monto_maximo;
      this.fields.monto_minimo = this.configuracion.monto_minimo;
      this.fields.producto_id = this.configuracion.id;
  },
  methods: {
      // Envía el formulario de la solicitud
      submitSolicitud: function() {
          $('.error').html('');
          var datosSolicitud = this;
          swal({
              title: 'Guardando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })
          axios.post('/solicitudExpress', {
              'datosSolicitud' : this._data.fields
          })
          .then(function (response) {

              swal.close();
              if (response.data.success == true) {
                  datosSolicitud.solicitud = false;
                  datosSolicitud.prospecto_id = response.data.prospecto_id;
                  datosSolicitud.solicitud_id = response.data.solicitud_id;
                  datosSolicitud.buro = true;
              } else {
                  swal({
                      title: 'Ocurrio un error al procesar la solicitud',
                      text: response.data.msg,
                      allowOutsideClick: false,
                  });
              }

          })
          .catch(function (error) {

              if (error.response.status == 422) {
                  var errores = error.response.data;
                  $('.error').html('');
                  var domicilio_error = '';
                  var fecha_nacimiento_error = '';
                  var estado_nacimiento_error = '';
                  var ciudad_nacimiento_error = '';
                  $.each(errores, function(error, value) {
                      if (error == 'no_ext' || error == 'no_int' || error == 'calle') {
                          domicilio_error = domicilio_error + ' ' + value;
                          $('#domicilio_error').html(domicilio_error);
                      } else if (error == 'fecha_nacimiento') {
                          fecha_nacimiento_error = fecha_nacimiento_error + ' ' + value;
                          $('#fecha_nacimiento_error').html(fecha_nacimiento_error);
                      } else if (error == 'estado_nacimiento') {
                          estado_nacimiento_error = estado_nacimiento_error + ' ' + value;
                          $('#estado_nacimiento_error').html(estado_nacimiento_error);
                      } else if (error == 'ciudad_nacimiento') {
                          ciudad_nacimiento_error = ciudad_nacimiento_error + ' ' + value;
                          $('#ciudad_nacimiento_error').html(ciudad_nacimiento_error);
                      } else {
                          $('<label class="error" style="color:#dc3545; font-size:80%; text-transform: none;">' + value + '</label>')
                            .insertAfter('#'+ error);
                      }

                  });
                  swal({
                    title: 'Faltan datos obligatorios...',
                    allowOutsideClick: false,
                  });

              } else {
                  swal({
                      title: 'Ocurrio un error al procesar la solicitud',
                      text: error,
                       allowOutsideClick: false,
                  });
              }

          });


      },
      // Envia el formulario de Buro de Crédito.
      submitDatosBuro: function() {

          var datosBuro = this;
          if (datosBuro.credito_hipotecario == '' || datosBuro.credito_automotriz == ''
            || datosBuro.credito_bancario == '') {

                swal({
                    title: 'Faltan datos obligatorios',
                    text: 'Se deben responder las 3 preguntas',
                    allowOutsideClick: false,
                });
                return false;

          } else if (datosBuro.digitos_tarjeta == '' && datosBuro.credito_bancario == 'on') {

              swal({
                  title: 'Faltan datos obligatorios',
                  text: 'Se deben proporcionar los ultimos 4 digitos de la tarjeta',
                  allowOutsideClick: false,
              });
              return false;

          } else if (datosBuro.acepto_consulta == '') {

              swal({
                  title: 'Faltan datos obligatorios',
                  text: 'Se deben aceptar los terminos y condiciones',
                  allowOutsideClick: false,
              });
              return false;

          }


          swal({
              title: 'Estamos procesando la solicitud...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          axios.post('/cuentas_de_credito', {
              'prospect_cc_id' : datosBuro.prospecto_id,
              'solic_cc_id' : datosBuro.solicitud_id,
              'solic_credito_hipotecario' : datosBuro.credito_hipotecario,
              'solic_credito_automotriz' : datosBuro.credito_automotriz,
              'solic_credito_tdc' : datosBuro.credito_bancario,
              'solic_num_tdc' : datosBuro.digitos_tarjeta,
              'solic_autorizar' : datosBuro.acepto_consulta,
          })
          .then(function (response) {

              if (response.data.response == 'OK') {
                  datosBuro.primera_llamada_bc();
              } else {
                  swal({
                      title: 'Ocurrio un error al procesar la solicitud',
                      text: response.data.message,
                      allowOutsideClick: false,
                  });
              }

          })
          .catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      // Envía el formulario de Cuestionario dinámico
      submitCuestionarioDinamico: function () {
          $('.error').html('');
          var cuestionarioDinamico = this;
          swal({
              title: 'Guardando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          });

          axios.post('/saveCuestionarioDinamico',
            cuestionarioDinamico.model
          ).then(function (response) {

              cuestionarioDinamico.getDatosOferta();

          }).catch(function (error) {

              if (error.response.status == 422) {
                  var errores = error.response.data;
                  $('.error').html('');
                  $.each(errores, function(error, value) {
                      $('<label class="error" style="color:red">' + value + '</label>').insertAfter('#'+ error);
                  });
                  swal({
                    title: 'Faltan datos obligatorios...',
                    allowOutsideClick: false,
                  });

              } else {
                  swal({
                    title: 'Ocurrio un error al guardar los datos...',
                    allowOutsideClick: false,
                    text: error,
                    confirmButtonText: 'Aceptar',
                  });
              }


          });
      },
      // Realiza la primera llamada a BC
      primera_llamada_bc: function (event) {
          var datosBuro = this;
          axios.post('/solicitud_bc_score', {
               'prospect_bc_id' : datosBuro.prospecto_id,
               'solic_bc_id' : datosBuro.solicitud_id,
               'db_source' : 'buro_de_credito',
          })
          .then(function (response) {

              if (response.data.stat == "Califica BC Score") {

                  datosBuro.segunda_llamada_bc();


              } else {

                if (response.data.stat == "No Califica") {

                    swal({
                        title: 'Gracias por tu solicitud',
                        html: '<p>Nuestra política de crédito no nos permite autorizar tu préstamo en este momento.</p> <p>Esto puede deberse a factores como tu historial de crédito, nivel de endeudamiento, o simplemente a que todavía no atendemos la plaza en donde radicas.</p> <p>Esperamos en un futuro poder atenderte.</p>',
                        allowOutsideClick: false,
                        confirmButtonText: 'Finalizar',
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = datosBuro.url;
                        }
                    })

                } else if (response.data.stat == "No Encontrado") {

                    var errores = '';
                    var erroresHTML = '';
                    errores = JSON.stringify(response.data.message[0]);
                    errores = JSON.parse(errores);
                    $.each(errores, function(error, value) {
                        erroresHTML = erroresHTML + '<b>' + error + '</b>' + ':' + value + '</br>';
                    });

                    swal({
                        title: 'No se encontro al prospecto en buró o la consulta arrojo un error',
                        html: erroresHTML,
                        allowOutsideClick: false,
                    });


                } else if (response.data.stat == "Error BC") {

                    swal({
                        title: 'Intenta de Nuevo',
                        html: ' <p><b>¡Lo sentimos!</b></p><p>Estamos experimentando problemas de conexión.</p>',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        confirmButtonText: 'Reintentar',
                        cancelButtonText: 'Cancelar',
                    }).then((result) => {
                        if (result.value) {
                            datosBuro.primera_llamada_bc();
                        }
                    })

                } else if (response.data.stat == "Datos Elegible") {

                        datosBuro.segunda_llamada_bc();

                } else if(response.data.stat == "ERROR") {
                    swal({
                        title: 'Ocurrio un error al procesar la solicitud',
                        text: response.data.message,
                        allowOutsideClick: false,
                    });
                }
              }

          })
          .catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      datos_elegible: function () {
          var datosBuro = this;
          axios.post('/', {
               'prospecto_id' : datosBuro.prospecto_id,
               'solicitud_id' : datosBuro.solicitud_id,
          }).then(function (response) {

              if (response.data.stat == "Elegible") {

                  window.location.href = datosBuro.url;


              } else if (response.data.stat == "No Elegible") {

                  window.location.href = datosBuro.url;


              }

          })
          .catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  allowOutsideClick: false,
              });

          });
      },
      // Realiza la segunda llamada a BC
      segunda_llamada_bc: function (event) {

          swal({
              title: 'Seguimos procesando la solicitud, espera un poco...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          var datosBuro = this;
          axios.post('/solicitud_hawk', {
               'prospect_hawk_id' : datosBuro.prospecto_id,
               'solic_hawk_id' : datosBuro.solicitud_id,
               'db_source' : 'buro_de_credito',
          })
          .then(function (response) {

              if (response.data.stat == "Segunda Llamada BC OK") {

                  datosBuro.consulta_alp();


              } else {

                if (response.data.stat == "ERROR") {
                    swal({
                        title: 'Ocurrio un error al procesar la solicitud',
                        text: response.data.message,
                        allowOutsideClick: false,
                    });
                } else if (response.data.stat == "No Encontrado") {
                    swal({
                        title: 'Falta información de buró',
                        html: '<p>No pudimos encontrar tus antecedentes crediticios con la información que nos proporcionaste.</p><p>Por favor revisa que tus datos sean correctos y vuelve a intentarlo, o envíanos tu Reporte de Crédito Especial haciendo click aquí</p><p><a href="https://www.burodecredito.com.mx/">https://burodecredito.com.mx/</a></p><p>Si crees que estás recibiendo este mensaje por error, mándanos un email a <b>atencion@prestanomico.com</b></p>',
                        allowOutsideClick: false,
                    });
                } else if (response.data.stat == "Error BC") {
                    swal({
                        title: 'Intenta de Nuevo',
                        html: ' <p><b>¡Lo sentimos!</b></p><p>Estamos experimentando problemas de conexión.</p>',
                        allowOutsideClick: false,
                    });
                }

              }

          })
          .catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  allowOutsideClick: false,
                  text: error,
              });

          });
      },
      // Realiza la consulta a ALP y Stored Procedure y determina el status de
      // la solicitud
      consulta_alp: function (event) {

          swal({
              title: 'Ya casi terminamos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          var datosBuro = this;
          axios.post('/solicitud_fico_alp', {
               'prospect_alp_id' : datosBuro.prospecto_id,
               'solic_alp_id' : datosBuro.solicitud_id,
               'db_source' : 'buro_de_credito',
          }).then(function (response) {

              // Si la decisión es 3 (Invitación a continuar) y tiene pantallas extra,
              // se obtiene el cuestionario dinámico.
              if (response.data.resultado.Decision == 3 && response.data.resultado.PantallaExtra == 1) {

                  datosBuro.getCuestionario();

              // Si la decisión es 3 (Invitación a continuar) y no tiene pantallas extra,
              // se muestra modal de oferta
              } else if (response.data.resultado.Decision == 3 && response.data.resultado.PantallaExtra == 0) {

                  datosBuro.getDatosOferta();

              // Si la decisión es 2 se muestra modal de oferta diferida
              } else if (response.data.resultado.Decision == 2) {

                  datosBuro.getDatosOferta();

              // Si la decisión es 2 se muestra modal de rechazo
              } else if (response.data.resultado.Decision == 1) {

                  datosBuro.getDatosOferta();

              }

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  allowOutsideClick: false,
                  text: error,
              });

          });
      },
      // Obtiene los datos de la oferta
      getDatosOferta: function () {
          var decision = this;

          swal({
              title: 'Obteniendo datos de la oferta...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          axios.get('/datosOferta', {
              params: {
                  prospecto_id: decision.prospecto_id,
                  solicitud_id: decision.solicitud_id
              }
          }).then(function (response) {

              if (response.data.success == true) {
                  decision.decision = true;
                  decision.cuestionario_dinamico = false;
                  decision.buro = false;
                  if (response.data.datos_oferta[0].decision == 'Invitación a Continuar') {

                      decision.monto = response.data.datos_oferta[0].monto;
                      decision.tasa = response.data.datos_oferta[0].tasa;
                      decision.plazo = response.data.datos_oferta[0].plazo;
                      decision.pago_estimado = response.data.datos_oferta[0].pago;
                      decision.header = response.data.plantilla.modal_encabezado;
                      decision.body = response.data.plantilla.modal_cuerpo;
                      decision.oferta_aceptada = false;
                      swal.close();

                  } else {

                      decision.rechazo_oferta_diferida = true;
                      var resultado = response.data.datos_oferta[0].decision.toLowerCase();
                      resultado = resultado.replace(/\s+/g, '_');
                      decision.header = response.data.plantilla.modal_encabezado;
                      decision.body = response.data.plantilla.modal_cuerpo;
                      swal.close();

                  }

              } else {

                  swal({
                      title: 'Ocurrio un error al obtener los datos de la oferta',
                      text: '',
                      allowOutsideClick: false,
                      confirmButtonText: 'Reintentar',
                      cancelButtonText: 'Cancelar',
                  }).then((result) => {
                      if (result.value) {
                          decision.getDatosOferta();
                      }
                  })

              }

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al obtener los datos de la oferta',
                  text: error,
                  allowOutsideClick: false,
                  confirmButtonText: 'Reintentar',
                  cancelButtonText: 'Cancelar',
              }).then((result) => {
                  if (result.value) {
                      decision.getDatosOferta();
                  }
              })

          });

      },
      // Finaliza la Solicitud
      finalizar: function() {
          window.location.href = this.url;
      },
      // Actualiza el status de la oferta a Aceptada
      aceptaOferta: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          axios.post('/statusOferta', {
              prospecto_id: decision.prospecto_id,
              solicitud_id: decision.solicitud_id,
              status_oferta: 'Oferta Aceptada',
          }).then(function (response) {
              swal.close();
              decision.oferta_aceptada = true;

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      // Actualiza el status de la oferta a Rechazada y muestra el formulario
      // que muestra los motivos de rechazo
      rechazaOferta: function() {

          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          axios.post('/statusOferta', {
              prospecto_id: decision.prospecto_id,
              solicitud_id: decision.solicitud_id,
              status_oferta: 'Oferta Rechazada',
              motivo: false,
          }).then(function (response) {
              swal.close();
              decision.rechaza_oferta = true;

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });

      },
      // Cancela el rechazo de la oferta
      cancelaRechazo: function() {

        this.rechaza_oferta = false;
        this.motivo_rechazo = '';
        this.descripcion_otro = '';

      },
      // Confirma el rechazo de la oferta
      confirmaRechazo: function() {
          var decision = this;
          swal({
              title: 'Actualizando datos...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          })

          axios.post('/statusOferta', {
              prospecto_id: decision.prospecto_id,
              solicitud_id: decision.solicitud_id,
              status_oferta: 'Oferta Rechazada',
              motivo: true,
              motivo_rechazo: decision.motivo_rechazo,
              descripcion_otro: decision.descripcion_otro,
          }).then(function (response) {

              swal.close();
              window.location.href = decision.url;

          }).catch(function (error) {

              swal({
                  title: 'Ocurrio un error al procesar la solicitud',
                  text: error,
                  allowOutsideClick: false,
              });

          });
      },
      // Cambia el formato de la fecha de nacimiento seleccionada
      fechaSeleccionada(date) {
          this.fields.fecha_nacimiento = moment(date).format('Y-MM-DD');
      },
      // Busca las ciudades/municipios del estado seleccionado
      busca_ciudades: function (event) {
          var estado = event.target.selectedOptions[0].innerHTML;
          this.fields.estado_nacimiento = estado;
          var datosPersonales = this;
          datosPersonales.ciudades = [];
          datosPersonales.fields.ciudad_nacimiento = '';
          axios.get('/api/ciudades/' + estado)
          .then(function (response) {
              if (response.data.success == true) {
                  datosPersonales.ciudades = response.data.municipios;
              } else {
                  alert(response.data.message)
              }
          })
          .catch(function (error) {

          });
      },
      // Busca las coloinias del código postal capturado
      busca_colonias: function (event) {
          var codigo_postal = event.target.value;
          if (codigo_postal.length == 5) {
              this.codigo_invalido = false;
              var domicilio = this;
              domicilio.colonias = [];
              domicilio.fields.delegacion_municipio = '';
              domicilio.fields.id_delegacion_municipio = '';
              domicilio.fields.estado = '';
              domicilio.fields.id_estado = '';
              domicilio.fields.codigo_estado = '';
              domicilio.fields.ciudad = '';
              domicilio.fields.id_ciudad = '';
              domicilio.fields.colonia = '';
              domicilio.fields.id_colonia = '';
              axios.get('/api/cp/' + codigo_postal)
              .then(function (response) {
                  if (response.data.response == 'Ok') {
                      domicilio.codigo_invalido = false;
                      domicilio.colonias = response.data.colonias;
                      domicilio.fields.colonia = '';
                      domicilio.fields.id_colonia = '';
                      domicilio.fields.delegacion_municipio = response.data.deleg_munic;
                      domicilio.fields.id_delegacion_municipio = response.data.id_deleg_munic;
                      domicilio.fields.estado = response.data.estado;
                      domicilio.fields.id_estado = response.data.id_estado;
                      domicilio.fields.codigo_estado = response.data.codigo_estado;
                      if (response.data.ciudad != '') {
                          domicilio.fields.ciudad = response.data.ciudad;
                          domicilio.fields.id_ciudad = response.data.id_ciudad;
                      } else {
                          domicilio.fields.ciudad = '';
                          domicilio.fields.id_ciudad = '';
                          $('#ciudad').attr('placeholder', 'No Aplica');
                      }
                      $('#colonia').value = 0;
                  } else {

                      domicilio.codigo_invalido = true;
                      $('#estado').attr('placeholder', 'Ingrese Código Postal Válido');
                      $('#delegacion_municipio').attr('placeholder', 'Ingrese Código Postal Válido');
                      $('#ciudad').attr('placeholder', 'Ingrese Código Postal Válido');

                  }
              })
              .catch(function (error) {

              });

          } else {
              this.colonias = [];
              this.fields.delegacion_municipio = '';
              this.fields.id_delegacion_municipio = '';
              this.fields.estado = '';
              this.fields.id_estado = '';
              this.fields.codigo_estado = '';
              this.fields.ciudad = '';
              this.fields.id_ciudad = '';
              this.fields.colonia = '';
              this.fields.id_colonia = '';
              this.codigo_invalido = true;
              $('#estado').attr('placeholder', 'Ingrese Código Postal Válido');
              $('#delegacion_municipio').attr('placeholder', 'Ingrese Código Postal Válido');
              $('#ciudad').attr('placeholder', 'Ingrese Código Postal Válido');
          }
      },
      // Obtiene la descripción de la colonia seleccionada
      getDescripcionColonia: function (event) {
          this.fields.colonia = event.target.selectedOptions[0].innerHTML
      },
      // Obtiene el cuestionario dinámico de la solicitud
      getCuestionario: function () {
          var cuestionarioDinamico = this;
          swal({
              title: 'Obteniendo cuestionario...',
              allowOutsideClick: false,
              onOpen: () => {
                  swal.showLoading();
              }
          });

          axios.get('/cuestionario_dinamico', {
              params: {
                  prospecto_id: cuestionarioDinamico.prospecto_id,
                  solicitud_id: cuestionarioDinamico.solicitud_id
              }
          }).then(function (response) {
              cuestionarioDinamico.cuestionario_dinamico = true;
              cuestionarioDinamico.buro = false;

              var formulario = response.data.formulario;
              cuestionarioDinamico.schema.groups = formulario;
              cuestionarioDinamico.schema.groups.forEach(
                groups => {
                  groups.fields.forEach(
                      field => {
                          if (typeof field.onChanged === "string") {
                              var func = field.onChanged
                              field.onChanged = new Function('model', func)
                    	  }
                  })
              });
              cuestionarioDinamico.model = response.data.model;
              cuestionarioDinamico.model.prospecto_id = cuestionarioDinamico.prospecto_id;
              cuestionarioDinamico.model.solicitud_id = cuestionarioDinamico.solicitud_id;
              cuestionarioDinamico.model.situaciones = response.data.situaciones;

              swal.close();

          }).catch(function (error) {

              swal({
                title: 'Ocurrio un error al obtener el cuestionario...',
                allowOutsideClick: false,
                text: error,
                confirmButtonText: 'Reintentar',
                cancelButtonText: 'Cancelar',
              }).then((result) => {
                  if (result.value) {
                      cuestionarioDinamico.getCuestionario();
                  }
              })


          });
      }
  },
}

</script>
