<template>
<div id="panel">
    <section class="invoice panel panel-default" v-if='id != null'>
        <div class="row panel-heading">
            <div class="col-xs-5">
                <h3> Solicitud # {{ id }} </h3> <br>
                <strong> <a v-bind:href="'/panel/prospecto/' + solicitud.prospecto.id"><i class="fas fa-arrow-left"></i>  {{ solicitud.prospecto.nombres | uppercase}} {{ solicitud.prospecto.apellido_paterno | uppercase}} {{ solicitud.prospecto.apellido_materno | uppercase}} </a></strong>
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>FECHA DE SOLICITUD</strong><br> {{ solicitud.created_at_disp }}
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>STATUS</strong><br> {{ solicitud.status }}
            </div>
            <div class="col-xs-2" style="margin-top: 20px;">
                <strong>SUBSTATUS</strong><br> {{ solicitud.sub_status }}
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Datos del Prestamo -->
            <div class="col-md-8 offset-md-2">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos del prestamo</b> </h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_prestamo" @click="show_datos_prestamo = !show_datos_prestamo">
                                    <i v-if='show_datos_prestamo == false' class="fa fa-plus"></i>
                                    <i v-else class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body collapse" id="datos_prestamo">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th>PRESTAMO:</th>
                                    <td>{{ solicitud.prestamo }}</td>
                                </tr>
                                <tr>
                                    <th>PLAZO:</th>
                                    <td>{{ solicitud.plazo }}</td>
                                </tr>
                                <tr>
                                    <th>FINALIDAD:</th>
                                    <td>{{ solicitud.finalidad | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th>NOS GUSTARÍA CONOCERTE:</th>
                                    <td>{{ solicitud.finalidad_custom | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th>PAGO ESTIMADO:</th>
                                    <td>{{ solicitud.pago_estimado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Datos de la oferta -->
                <div class="box box-success">
                    <div class="box-header" v-if='datos_oferta.status_oferta != "" && datos_oferta.decision == "Invitación a Continuar"'>
                        <h3 class="box-title"><b> Datos de la oferta</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="'#datos_oferta" @click="show_datos_oferta = !show_datos_oferta">
                                <i v-if='show_datos_oferta == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" id="datos_oferta">
                        <div class="box" v-if='datos_oferta.status_oferta != ""' style="border-top: none !important">
                            <div class="box-header">
                                <table class="table no-margin">
                                    <tbody>
                                        <tr>
                                            <th>STATUS OFERTA:</th>
                                            <td v-if='datos_oferta.status_oferta !== null'>{{ datos_oferta.status_oferta | uppercase }}</td>
                                            <td v-else> NO SE HA RECIBIDO RESPUESTA</td>

                                            <th>TIPO DE OFERTA:</th>
                                            <td v-if='datos_oferta.tipo !== null'>{{ datos_oferta.tipo | uppercase }}</td>
                                            <td v-else> OFERTA NORMAL </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-body"  v-if = "datos_oferta.status_oferta != 'Oferta Rechazada'">
                                <div class="box box-primary col-6" style="display: inline-block;" v-for="(respuesta, index) in datos_oferta.oferta">
                                    <div class="box-header">
                                        <span v-if = "respuesta.status_oferta == 'Oferta Aceptada' && respuesta.elegida == true"  style="color: green"><i class="fas fa-check"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta == 'Oferta Aceptada' && respuesta.elegida == false" style="color: red"><i class="fas fa-times"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta === null"><i class="far fa-hourglass"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>                                    </div>
                                    <div class="box-body">
                                        <table class="table no-margin">
                                            <tbody>
                                                <tr>
                                                    <th width="40%">MONTO:</th>
                                                    <td v-if='respuesta.monto != null'>
                                                        {{ respuesta.monto | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PLAZO:</th>
                                                    <td v-if='respuesta.plazo != null'>
                                                        {{ respuesta.plazo | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PAGO ESTIMADO:</th>
                                                    <td v-if='respuesta.pago != null'>
                                                        {{ respuesta.pago | uppercase}}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">TASA:</th>
                                                    <td v-if='respuesta.tasa != null'>
                                                        {{ respuesta.tasa | uppercase }}
                                                    </td>
                                                    <td v-else></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" v-else>
                                <table class="table no-margin">
                                    <tbody v-if = "datos_oferta.oferta[0].status_oferta !== null">
                                        <tr>
                                            <th width="40%">MOTIVO RECHAZO:</th>
                                            <td>{{ datos_oferta.oferta[0].motivo_rechazo }}</td>
                                        </tr>
                                        <tr v-if='datos_oferta.oferta[0].motivo_rechazo == "OTRO"'>
                                            <th width="40%">DESCRIPCION:</th>
                                            <td>{{ datos_oferta.oferta[0].descripcion_otro }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="box box-primary col-6" style="display: inline-block;" v-for="(respuesta, index) in datos_oferta.oferta">
                                    <div class="box-header">
                                        <span v-if = "respuesta.status_oferta == 'Oferta Rechazada' && datos_oferta.status_oferta == 'Oferta Rechazada' && respuesta.tipo_oferta !== null"  style="color: red"><i class="fas fa-times"> </i> {{ respuesta.tipo_oferta.replace('_', ' ') | uppercase }} </span>
                                        <span v-else-if = "respuesta.status_oferta == 'Oferta Rechazada' && respuesta.tipo_oferta === null"  style="color: red"><i class="fas fa-times"> </i> Oferta Normal </span>
                                    </div>
                                    <div class="box-body">
                                        <table class="table no-margin">
                                            <tbody>
                                                <tr>
                                                    <th width="40%">MONTO:</th>
                                                    <td v-if='respuesta.monto != null'>
                                                        {{ respuesta.monto | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PLAZO:</th>
                                                    <td v-if='respuesta.plazo != null'>
                                                        {{ respuesta.plazo | uppercase }}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">PAGO ESTIMADO:</th>
                                                    <td v-if='respuesta.pago != null'>
                                                        {{ respuesta.pago | uppercase}}
                                                    </td>
                                                    <td v-else>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th width="40%">TASA:</th>
                                                    <td v-if='respuesta.tasa != null'>
                                                        {{ respuesta.tasa | uppercase }}
                                                    </td>
                                                    <td v-else></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <!-- Datos del Usuario -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><b> Datos del usuario</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_usuario" @click="show_datos_usuario = !show_datos_usuario">
                                <i v-if='show_datos_usuario == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="datos_usuario">
                        <table class="table no-margin">
                            <tbody>
                                <tr>
                                    <th width="40%">Id:</th>
                                    <td>{{ solicitud.prospecto_id }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">Correo electrónico:</th>
                                    <td>{{ solicitud.prospecto.email }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">Contraseña:</th>
                                    <td v-if="solicitud.prospecto.encryptd != ''">
                                        <input type="password" id="password" disabled class="form-control-sm col-4" style="display: inline-block" :value="solicitud.prospecto.encryptd"> </input>
                                        <button type="button" id="verPassword" class="btn btn-sm btn-warning col-3" v-on:click='verPassword()'> Mostrar </button>
                                        <button type="button" id="ocultarPassword" class="btn btn-sm btn-primary col-3" v-on:click='ocultarPassword()' style="display:none"> Ocultar </button>
                                    </td>
                                    <td v-else>
                                        N/A
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%">NOMBRE:</th>
                                    <td>{{ solicitud.prospecto.nombres | uppercase}}</td>
                                </tr>
                                <tr>
                                    <th width="40%">APELLIDO PATERNO:</th>
                                    <td>{{ solicitud.prospecto.apellido_paterno | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">APELLIDO MATERNO:</th>
                                    <td>{{ solicitud.prospecto.apellido_materno | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">GENERO:</th>
                                    <td>{{ solicitud.sexo | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">FECHA DE NACIMIENTO:</th>
                                    <td>{{ solicitud.fecha_nac | uppercase }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">LUGAR DE NACIMIENTO:</th>
                                    <td v-if='solicitud.lugar_nacimiento_ciudad != null && solicitud.lugar_nacimiento_estado != null'>
                                        {{ solicitud.lugar_nacimiento_ciudad | uppercase }}, {{ solicitud.lugar_nacimiento_estado | uppercase }}
                                    </td>
                                    <td v-else-if='solicitud.lugar_nacimiento_ciudad == null && solicitud.lugar_nacimiento_estado != null'>
                                        {{ solicitud.lugar_nacimiento_estado | uppercase }}
                                    </td>
                                    <td v-else-if='solicitud.lugar_nacimiento_ciudad != null && solicitud.lugar_nacimiento_estado == null'>
                                        {{ solicitud.lugar_nacimiento_ciudad | uppercase }}
                                    </td>
                                </tr>
                                <tr>
									<th width="40%">RFC:</th>
									<td>{{ solicitud.rfc | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">CURP:</th>
									<td>{{ solicitud.curp | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">TELEFONO CASA:</th>
									<td>{{ solicitud.telefono_casa }}</td>
								</tr>
								<tr>
									<th width="40%">ESTADO CIVIL:</th>
									<td>{{ solicitud.estado_civil | uppercase }}</td>
								</tr>
                                <tr>
									<th width="40%">NIVEL DE ESTUDIOS:</th>
									<td>{{ solicitud.nivel_estudios | uppercase }}</td>
								</tr>
                            </tbody>
                            <tbody  v-if='domicilio == true'>
                                <tr>
									<th width="40%">CP:</th>
									<td>{{ solicitud.domicilio.cp }}</td>
								</tr>
                                <tr>
                                    <th width="40%">DOMICILIO:</th>
                                    <td>{{ solicitud.domicilio.calle | uppercase }} {{ solicitud.domicilio.num_exterior }} {{ solicitud.domicilio.num_interior }}</td>
                                </tr>
                                <tr>
                                    <th width="40%">COLONIA:</th>
                                    <td>{{ solicitud.domicilio.colonia | uppercase }}</td>
                                </tr>
								<tr>
									<th width="40%">DELEGACION:</th>
									<td>{{ solicitud.domicilio.delegacion | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">CIUDAD:</th>
									<td>{{ solicitud.domicilio.ciudad | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">ESTADO:</th>
									<td>{{ solicitud.domicilio.estado | uppercase }}</td>
								</tr>
                            </tbody>
                            <tbody>
								<tr>
									<th width="40%">CREDITO HIPOTECARIO:</th>
									<td>{{ solicitud.credito_hipotecario | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">CREDITO AUTOMOTRIZ:</th>
									<td>{{ solicitud.credito_automotriz | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">CREDITO BANCARIO:</th>
									<td>{{ solicitud.credito_bancario | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">ULT 4 NUM TDC:</th>
									<td>{{ solicitud.ultimos_4_digitos }}</td>
								</tr>
								<tr>
									<th width="40%">TIPO DE RESIDENCIA:</th>
									<td>{{ solicitud.tipo_residencia | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">INGRESO TOTAL MENSUAL ACTUAL:</th>
									<td>{{ solicitud.ingreso_mensual | uppercase }}</td>
								</tr>
								<tr v-if='datos_adicionales == true'>
									<th width="40%">NOMBRE DE LA EMPRESA/DEPENDENCIA/NEGOCIO:</th>
									<td>{{ solicitud.datos_adicionales.nombre_empresa | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">ANTIGUEDAD DE EMPLEO ACTUAL:</th>
									<td>{{ solicitud.antiguedad_empleo }}</td>
								</tr>
								<tr>
									<th width="40%">ANTIGUEDAD EN DOMICILIO ACTUAL:</th>
									<td>{{ solicitud.antiguedad_domicilio }}</td>
								</tr>
								<tr>
									<th width="40%">MONTO GASTOS FAMILIARES MENSUALES:</th>
									<td>{{ solicitud.gastos_familiares }}</td>
								</tr>
								<tr>
									<th width="40%">NUMERO DE DEPENDIENTES</th>
									<td>{{ solicitud.numero_dependientes }}</td>
								</tr>
								<tr>
									<th width="40%">OCUPACION</th>
									<td>{{ solicitud.ocupacion | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">PRINCIPAL FUENTE DE INGRESOS</th>
									<td>{{ solicitud.fuente_ingresos | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">TELEFONO DE EMPLEO</th>
									<td>{{ solicitud.telefono_empleo }}</td>
								</tr>
								<tr>
									<th width="40%">AUTORIZO CONSULTA BC:</th>
									<td>{{ solicitud.autorizado | uppercase }}</td>
								</tr>
								<tr>
									<th width="40%">IP DE USUARIO</th>
									<td>{{ solicitud.user_ip }}</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Reporte BC Score -->
                <div class="box box-info" v-if='datos_bc == true && solicitud.bc_score'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Reporte BC Score</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#reporte_bcscore" @click="show_datos_reporte_bcscore = !show_datos_reporte_bcscore">
                                <i v-if='show_datos_reporte_bcscore == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="reporte_bcscore">
                        <table class="table no-margin">
                            <tbody>
								<tr>
									<th width="20%">ENCONTRADO:</th>
									<td v-if='solicitud.encontrado'>{{ solicitud.encontrado }}</td>
                                    <td v-else>-</td>
								</tr>
								<tr>
									<th width="20%">BC SCORE:</th>
									<td v-if='solicitud.bc_score.bc_score'>{{ solicitud.bc_score.bc_score }}</td>
                                    <td v-else>-</td>
                                </tr>
                                <tr>
									<th width="20%">BC ERROR:</th>
									<td v-if='solicitud.bc_score.bc_error'>{{ solicitud.bc_score.bc_error }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">BC EXCLUSION:</th>
									<td v-if='solicitud.bc_score.exclusion'>{{ solicitud.bc_score.exclusion }}</td>
                                    <td v-else>-</td>
                                </tr>
        	                    <tr>
									<th width="20%">BC RAZON 1:</th>
									<td v-if='solicitud.bc_score.bc_razon1'>{{ solicitud.bc_score.bc_razon1 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">BC RAZON 2:</th>
									<td v-if='solicitud.bc_score.bc_razon2'>{{ solicitud.bc_score.bc_razon2 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">BC RAZON 3:</th>
									<td v-if='solicitud.bc_score.bc_razon3'>{{ solicitud.bc_score.bc_razon3 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">MICRO SCORE:</th>
									<td v-if='solicitud.bc_score.micro_valor'>{{ solicitud.bc_score.micro_valor }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">MICRO RAZON 1:</th>
									<td v-if='solicitud.bc_score.micro_razon1'>{{ solicitud.bc_score.micro_razon1 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">MICRO RAZON 2:</th>
									<td v-if='solicitud.bc_score.micro_razon2'>{{ solicitud.bc_score.micro_razon3 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">MICRO RAZON 3:</th>
									<td v-if='solicitud.bc_score.micro_razon3'>{{ solicitud.bc_score.micro_razon3 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th colspan="2" class="text-center">DESCONTINUADO</th>
                                </tr>
								<tr>
									<th width="20%">ICC SCORE: </th>
									<td v-if='solicitud.bc_score.icc_score'>{{ solicitud.bc_score.icc_score }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">ICC RAZON 1:</th>
									<td v-if='solicitud.bc_score.icc_razon1'>{{ solicitud.bc_score.icc_razon1 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">ICC RAZON 2:</th>
									<td v-if='solicitud.bc_score.icc_razon2'>{{ solicitud.bc_score.icc_razon2 }}</td>
                                    <td v-else>-</td>
                                </tr>
								<tr>
									<th width="20%">ICC RAZON 3:</th>
									<td v-if='solicitud.bc_score.icc_razon3'>{{ solicitud.bc_score.icc_razon3 }}</td>
                                    <td v-else>-</td>
								</tr>
                                <tr>
									<th width="20%">ICC EXCLUSION:</th>
									<td v-if='solicitud.bc_score.icc_exclusion'>{{ solicitud.bc_score.icc_exclusion }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Reporte BC Completo -->
                <div class="box box-info" v-if='datos_bc == true'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Cadena BC Reporte Completo</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#reporte_bccompleto" @click="show_reporte_bccompleto = !show_reporte_bccompleto">
                                <i v-if='show_reporte_bccompleto == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="reporte_bccompleto">
                        <div v-if='solicitud.bc_datospersonales'>
                            <div>
                                <h5 style="display: inline-block"> Datos personales </h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#datos_personales">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="datos_personales" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(datosPersonales, key) in solicitud.bc_datospersonales'>
                                    <tbody>
        								<tr v-for='(dato, keyDato) in datosPersonales'
                                            v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px"><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
        									<td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_direccionesF'>
                            <div>
                                <h5 style="display: inline-block"> Direcciones: ({{ solicitud.bc_direccionesF.length }})</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#direcciones">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="direcciones" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(direccion, key) in solicitud.bc_direccionesF'>
                                    <caption>Direccion {{ key + 1 }}: </caption>
                                    <tbody>
        								<tr v-for='(dato, keyDato) in direccion'
                                            v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px"><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
        									<td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_empleosF'>
                            <div>
                                <h5 style="display: inline-block"> Empleos: ({{ solicitud.bc_empleosF.length }})</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#empleos">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="empleos" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(empleo, key) in solicitud.bc_empleosF'>
                                    <caption>Empleo {{ key + 1 }}: </caption>
                                    <tbody>
        								<tr v-for='(dato, keyDato) in empleo'
                                         v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px"><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
        									<td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_consultasF'>
                            <div>
                                <h5 style="display: inline-block"> Consultas: ({{ solicitud.bc_consultasF.length }})</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#consultas">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="consultas" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(consulta, key) in solicitud.bc_consultasF'>
                                    <caption>Consulta {{ key + 1 }}: </caption>
                                    <tbody >
        								<tr v-for='(dato, keyDato) in consulta'
                                            v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px" v-if='keyDato != "no_consulta"'><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
                                            <th width="250px" v-else><b>{{ keyDato }}:</b></th>
        									<td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_cuentasF'>
                            <div>
                                <h5 style="display: inline-block"> Cuentas: ({{ solicitud.bc_cuentasF.length }})</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#cuentas">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="cuentas" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(cuenta, key) in solicitud.bc_cuentasF'>
                                    <caption>Cuenta {{ key + 1 }}: </caption>
                                    <tbody>
        								<tr v-for='(dato, keyDato) in cuenta'
                                            v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px" v-if='keyDato != "no_cuenta"'><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
                                            <th width="250px" v-else><b>{{ keyDato }}:</b></th>
        									<td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_hawkF'>
                            <div>
                                <h5 style="display: inline-block"> Hawk: ({{ solicitud.bc_hawkF.length }})</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#hawk">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="hawk" style="margin-left: 40px;">
                                <table class="table no-margin" v-for='(hawk, key) in solicitud.bc_hawkF'>
                                    <caption>Hawk {{ key + 1 }}: </caption>
                                    <tbody>
        								<tr v-for='(dato, keyDato) in hawk'
                                            v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
        									<th width="250px" v-if='keyDato != "hawk_tipo"'><b>({{ solicitud.etiquetas[keyDato] }}) {{ keyDato }}:</b></th>
                                            <th width="250px" v-else><b>{{ keyDato }}:</b></th>
                                            <td>{{ dato }}</td>
        								</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if='solicitud.bc_resumen_buroF'>
                            <div>
                                <h5 style="display: inline-block"> Resumen buro:</h5>
                                <button class="btn btn-box-tool" data-toggle="collapse" href="#resumen_bc">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <table class="table no-margin collapse" id="resumen_bc" style="margin-left: 40px;">
                                <tbody>
                                    <tr v-for='(resumen, key) in solicitud.bc_resumen_buroF'
                                        v-if='key != "prospecto_id" && key != "solicitud_id" && key != "id" && key != "created_at" && key != "updated_at"'>
        								<th width="250px"><b>({{ solicitud.etiquetas[key] }}) {{ key }}:</b></th>
        								<td>{{ resumen }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Cuestionario dinámico -->
                <div class="box box-info" v-if='solicitud.respuesta_maquina_riesgos.length >= 1'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Cuestionario Dinámico </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#cuestionario_dinamico" @click="show_cuestionario_dinamico = !show_cuestionario_dinamico">
                                <i v-if='show_cuestionario_dinamico == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="cuestionario_dinamico" v-if='solicitud.respuesta_maquina_riesgos[0].pantallas_extra == 1'>
                        <table>
                            <tbody>
                                <tr>
                                    <th style='width: 120px'> SITUACIONES: </th>
                                    <td> {{ solicitud.respuesta_maquina_riesgos[0].situaciones }} </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table no-margin collapse" v-if='solicitud.respuesta_maquina_riesgos[0].cuestionario_dinamico_guardado == 1'>
                            <tbody v-for='(direccion, key) in solicitud.bc_direccionesF'>
								<tr v-for='(dato, keyDato) in direccion'
                                    v-if='keyDato != "prospecto_id" && keyDato != "solicitud_id" && keyDato != "id" && keyDato != "created_at" && keyDato != "updated_at"'>
									<th width="20%"><b>{{ keyDato }}:</b></th>
									<td>{{ dato }}</td>
								</tr>
                            </tbody>
                        </table>
                        <div v-if='solicitud.respuesta_maquina_riesgos[0].cuestionario_dinamico_guardado == 1'>
                            <div v-for='(datoRespuesta, key) in solicitud.cuestionarios_dinamicos.respuestas'>
                                <center><h5>{{ solicitud.cuestionarios_dinamicos['situaciones'][key]['encabezado'] }}</h5></center>
                                <table class="table no-margin">
                                    <tbody>
                                        <tr v-for='(respuesta, keyRespuesta) in datoRespuesta'>
                                            <th>{{ solicitud.cuestionarios_dinamicos['preguntas'][respuesta.pregunta_id]['pregunta'] }}</th>
                                            <td>{{ respuesta.respuesta }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-else>
                            <br>
                            No hay respuestas por parte del cliente
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="cuestionario_dinamico" v-else>
                        NO APLICA
                    </div>
                </div>
                <!-- Fin Cuestionario dinámico -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Cadenas Buro -->
                <div class="box box-warning" v-if='datos_bc == true'>
                    <div class="box-header">
                        <h3 class="box-title"><b> Cadenas BC</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#cadenas_bcscore" @click="show_cadenas_bc = !show_cadenas_bc">
                                <i v-if='show_cadenas_bc == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="cadenas_bcscore">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
								<tr>
                                    <th>CONSULTA BC:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.consultas_buro[0]'>{{ solicitud.consultas_buro[0]['cadena_original'] }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>RESPUESTA BC SCORE:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.consultas_buro[1]'>{{ solicitud.consultas_buro[1]['cadena_original'] }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>CONSULTA REPORTE:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.consultas_buro[2]'>{{ solicitud.consultas_buro[2]['cadena_original'] }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>RESPUESTA REPORTE:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.consultas_buro[3]'>{{ solicitud.consultas_buro[3]['cadena_original'] }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-warning" v-else>
                    <div class="box-header">
                        <h3 class="box-title"><b> Cadenas BC</b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#cadenas_bcscore" @click="show_cadenas_bc = !show_cadenas_bc">
                                <i v-if='show_cadenas_bc == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="cadenas_bcscore">
                        No hubo consultas a buró de crédito.
                    </div>
                </div>
                <!-- FICO JSON RESPONSE -->
                <div class="box box-warning" v-if='datos_fico == true'>
                    <div class="box-header">
                        <h3 class="box-title"><b> FICO ALP </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#fico" @click="show_fico = !show_fico">
                                <i v-if='show_fico == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="fico">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
								<tr>
                                    <th>ALP Result:</th>
                                </tr>
                                <tr>
                                    <td>{{ solicitud.fico_alp }}</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>FICO ALP REQUEST:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.fico_request' v-html="solicitud.fico_request"></td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>FICO ALP RESPONSE:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.fico_response' v-html="solicitud.fico_response"></td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- FICO DATOS TABLA -->
                <div class="box box-warning" v-if='solicitud.fico_tabla'>
                    <div class="box-header">
                        <h3 class="box-title"><b> FICO ALP </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#fico" @click="show_fico = !show_fico">
                                <i v-if='show_fico == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="fico">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
								<tr>
                                    <th>ALP Result:</th>
                                </tr>
                                <tr>
                                    <td>{{ solicitud.alp.alp_result }}</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>FICO ALP REQUEST:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.alp.alp_request'>{{ solicitud.alp.alp_request }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                            <tbody>
								<tr>
                                    <th>FICO ALP RESPONSE:</th>
                                </tr>
                                <tr>
                                    <td v-if='solicitud.alp.alp_response'>{{ solicitud.alp.alp_response }}</td>
                                    <td v-else>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <!-- Ultimo punto de registro -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title"><b> Ultimo punto de registro </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#ultimo_punto_registro" @click="show_ultimo_punto_registro = !show_ultimo_punto_registro">
                                <i v-if='show_ultimo_punto_registro == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="ultimo_punto_registro">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
                                <tr v-for="(mensaje, index) in solicitud.tracking">
                                    <td width="25%">
                                        {{ mensaje.status }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.sub_status }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.created_at }}
                                    </td>
                                    <td width="25%">
                                        {{ mensaje.descripcion }}
                                    </td>
                                </tr>
                                <!--
                                <tr v-if='solicitud.ultimo_punto_registro.length == 0'>
                                    No exiten registros de log
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Ultimo mensaje al usuario -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title"><b> Ultimo mensaje al usuario (Log de consola) </b> </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-toggle="collapse" href="#ultimo_mensaje_usuario" @click="show_ultimo_mensaje_usuario = !show_ultimo_mensaje_usuario">
                                <i v-if='show_ultimo_mensaje_usuario == false' class="fa fa-plus"></i>
                                <i v-else class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body collapse" style="" id="ultimo_mensaje_usuario">
                        <table class="table no-margin" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
                                <tr v-for="(mensaje, index) in solicitud.ultimo_mensaje_usuario">
                                    <td width="30%">
                                        <b>{{ mensaje.datetime }}</b>
                                    </td>
                                    <td v-if='solicitud.ultimo_mensaje_usuarioLog == false'>
                                        <span v-for="(item, key) in JSON.parse(mensaje.console_log)">
                                            <div v-if='isObject(item)'>
                                                <b>{{ key }}: </b><br>
                                                <span style="margin-left: 10px" v-for="(itemB, keyB) in item" v-if="keyB != 'pago_mensual_debug'
                                                    && keyB !== 'mop1_report'
                                                    && keyB !== 'cuentas_con_mop2_debug'
                                                    && keyB !== 'cuentas_con_mop3_debug'
                                                    && keyB !== 'pago_mensual_debug'">
                                                    <b>{{ keyB }}: </b> <span v-html="itemB"></span><br>
                                                </span>
                                            </div>
                                            <div v-else>
                                                <b>{{ key }}: </b> {{ item }} <br>
                                            </div>
                                        </span>
                                    </td>
                                    <td v-else>
                                        <span v-for="(item, key) in mensaje.console_log">
                                            <div v-if='isObject(item)'>
                                                <b>{{ key }}: </b><br>
                                                <span style="margin-left: 10px" v-for="(itemB, keyB) in item" v-if="keyB != 'pago_mensual_debug'
                                                    && keyB !== 'mop1_report'
                                                    && keyB !== 'cuentas_con_mop2_debug'
                                                    && keyB !== 'cuentas_con_mop3_debug'
                                                    && keyB !== 'pago_mensual_debug'">
                                                    <b>{{ keyB }}: </b> <span v-html="itemB"></span><br>
                                                </span>
                                            </div>
                                            <div v-else>
                                                <b>{{ key }}: </b> {{ item }} <br>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <!--<tr v-if='solicitud.ultimo_mensaje_usuario.length == 0'>
                                    No exiten registros de log
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="invoice" v-else>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="page-header">
                    <center> Obteniendo información de la solicitud </center>
                </h3>
                <br>
                <center><img src='/images/loading.gif' alt='Cargando...' style='height: 100px'></img></center>
            </div>
        </div>
    </section>
</div>
</template>
<script>

export default {
  props: ['solicitud_id'],
  data: function() {
    return {
      term: '',
      id: null,
      domicilio: false,
      datos_adicionales: false,
      solicitud: {},
      datos_bc: false,
      show_datos_prestamo: false,
      show_datos_oferta: false,
      show_datos_usuario: false,
      show_datos_reporte_bcscore: false,
      show_cadenas_bc: false,
      show_ultimo_punto_registro: false,
      show_ultimo_mensaje_usuario: false,
      show_reporte_bccompleto: false,
      show_cuestionario_dinamico: false,
      show_fico: false,
      datos_fico: false,
      datos_oferta: {
          tipo: '',
          status_oferta: '',
          oferta: [],
          decision: '',
      },
    }
  },
  filters: {
    uppercase: function(v) {
      return v.toUpperCase();
    }
  },
  mounted() {
    this.getResults(this.solicitud_id);
  },
  methods: {
    isObject: function(o) {
        return typeof o == "object"
    },
    verPassword: function() {
        $("#password").prop("type", "text");

        $('#verPassword').hide();
        $('#ocultarPassword').show();
    },
    ocultarPassword: function() {
        $("#password").prop("type", "password");
        $('#verPassword').show();
        $('#ocultarPassword').hide();
    },
    getResults(solicitud_id) {
        var detalleSolicitud = this;
    	axios.get('/panel/prospecto/getDetalleSolicitud/' + solicitud_id)
		.then(function (response) {
            detalleSolicitud.id = response.data.id;
            detalleSolicitud.solicitud = response.data;
            detalleSolicitud.domicilio = response.data.domicilio !== null;
            detalleSolicitud.ultimo_mensaje_usuarioLog = detalleSolicitud.solicitud.ultimo_mensaje_usuarioLog;
            detalleSolicitud.datos_adicionales = response.data.datos_adicionales !== null;
            if (['Consulta BC', 'Hit BC', 'Reporte Completo', 'Pre-aprobado', 'Pre-Aprobado', 'Revisión Comité', 'Elegible', 'No Elegible', 'Denegado', 'Invitación a Continuar', 'Oferta Diferida', 'Rechazado'].includes(response.data.status)) {
                detalleSolicitud.datos_bc = true;
            }
            if (response.data.fico_alp != '' && response.data.fico == 1) {
                detalleSolicitud.datos_fico = true;
            }

            if (detalleSolicitud.solicitud.respuesta_maquina_riesgos) {

                if (detalleSolicitud.solicitud.respuesta_maquina_riesgos.length == 2) {
                    detalleSolicitud.datos_oferta.tipo = 'Doble oferta';
                } else {
                    detalleSolicitud.datos_oferta.tipo = 'Oferta normal';
                }

                $.each(detalleSolicitud.solicitud.respuesta_maquina_riesgos, function( index, respuesta ) {

                    if (respuesta.status_oferta !== null) {
                        detalleSolicitud.datos_oferta.status_oferta = respuesta.status_oferta;
                    }
                    if (detalleSolicitud.datos_oferta.status_oferta === '') {
                        detalleSolicitud.datos_oferta.status_oferta = 'NO SE HA RECIBIDO RESPUESTA';
                    }
                    detalleSolicitud.datos_oferta.decision = respuesta.decision;
                    detalleSolicitud.datos_oferta.oferta[index] = respuesta;
                });
            }

        });
    }
  },
}

</script>
