<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl" id="navigator">
                <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
                    <li role="presentation" class="active"><a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab"><i class="icon-id-front-1"></i>
                        <p>Paso 1</p>
                    </a></li>
                    <li role="presentation"><a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab"><i class="icon-id-back-1"></i>
                        <p>Paso 2</p>
                    </a></li>
                    <li role="presentation"><a href="#discover" aria-controls="discover" role="tab" data-toggle="tab"><i class="icon-selfie-camera" aria-hidden="true"></i>
                        <p>Paso 3</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm col-md col-lg col-xl">
                <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                      <div class="col" style="text-align: center">
                        <h5 class="card-header-title">
                            FRENTE IDENTIFICACION OFICIAL
                        </h5>
                        <hr>
                        @if($desktop === true)
                        <span>
                            Si la foto no se toma de manera automática, puedes tomarla manualmente dando click en el botón con el icono <i class="fas fa-camera"></i>
                            <br>
                            Asegurate de que la imagen sea clara.
                        </span>
                        @else
                        <span>
                            Coloca tu credencial de elector sobre un fondo negro y tomale una foto a la parte de enfrente.
                            <br>
                            Asegurate de que la imagen sea clara.
                            <br>
                            Si la foto no se toma automaticamente puedes tomarla con el botón con el icono <i class="fas fa-camera"></i>
                        </span>
                        @endif
                      </div>
                    </div>
                  </div>
                  <div class="card-body" id="tomar-foto">
                    @if($desktop === true)
                    <div class="videoDiv desktop" id="videoDiv">
                        <video id="videoInput" autoplay="true" class="desktop"></video>
                        <div class="controls">
                            <button class="btn btn-danger play" title="Tomar foto"><i class="fas fa-camera fa-3x"></i></button>
                        </div>
                    </div>
                    @else
                    <div class="videoDiv mobile" id="videoDiv">
                        <video id="videoInput" autoplay="true" class="mobile"></video>
                        <div class="controls">
                            <button class="btn btn-danger play" title="Tomar foto"><i class="fas fa-camera fa-3x"></i></button>
                        </div>
                    </div>
                    @endif
                    <div>
                        <input id="ChangeCamera" type="button" value="Change Camera"  style="visibility: hidden; padding: 10px 20px" onclick="askForChangeCameraFunction();"/>
                    </div>
                  </div>
                  <div class="card-body" id="resultado">
                        <canvas id="resultImage"></canvas>
                        <hr>
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto">
                              <button id="repetirFoto" type="button" class="btn btn-primary" onclick="repetirPaso1()">
                                  Repetir Foto
                              </button>
                              <button id="siguientePaso1" type="button" class="btn btn-primary" onclick="saveImage()">
                                  Siguiente
                              </button>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
  props: [],
  data: function() {

  },
  filters: {

  },
  mounted() {
      var OPTIONS_VIDEO = {
          modeCapture: IcarSDK.MODE_CAPTURE.DOCUMENT_IDCARD,
          callBackFeedBackFunction: onFeedBackCallBack,
          flip_video: true
      }
      IcarSDK.video.initialize(videoInput, OPTIONS_VIDEO);
      IcarSDK.video.getNumberOfCameras(onNumCamsReceivedCallback);

      var OPTIONS_DOCUMENTS = {
          type_document: IcarSDK.TYPE_DOC.IDCARD,
          MAX_ATTEMPTS: -1,
          fontText: "bold 50px Arial",
          colorText: "#c91f28",
          multiplicationFactorBlurring: 1.5,
          messageFeedbackFunction: messageDocCaptureFeedback,
          MSG_PLACE_DOC_INSIDE: "COLOCA LA IDENTIFICACIÓN\nDENTRO",
          MSG_DOC_OK: "PERMANECE QUIETO",
          MSG_DARK_IMAGE: "IMAGEN OSCURA",
          MSG_BLURRED_IMAGE: "IMAGEN BORROSA",
          MSG_TRY_AGAIN: "INTENTA ENFOCAR EL DOCUMENTO\nACERCANDOLO E INTENTA DE NUEVO",
      }
      IcarSDK.documentCapture.create(videoInput, requestFrameCallback, onDocumentResultCallback, OPTIONS_DOCUMENTS);
      $('#videoDiv').show();
  },
  methods: {

    getResults() {

    }

  },
}

</script>
