<style>
    select,
    input[type="text"],
    input[type="tel"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        -o-border-radius: none;
        border-radius: none;
        border: none;
        font-family: Montserrat-Regular;
        color: #000;
        text-transform: uppercase;
        background: transparent
    }
     .hasError .input {
	 border-color: red;
    }
    .hasError label {
        color: red;
    }
    .hasError{
        color:red;
    }
    #login{
        display: none;
    }
</style>
<template>
<div id="registro">
     <br>
    <section class="content-header">
        <fieldset>
            <div class="summary text-red" v-if="$v.$error">
                Form has errors 
            </div>
            <form id="formRegistro" method="POST" action="/" @submit.prevent="submit">
                <div class="row col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title nombreC" ><center><b>{{datosprospecto.nombre}},</b><b>tienes un crédito <strong>pre-aprobado.</strong></b></center></h3>
                            <br>
                        </div>
                        <div class="container datos-prestamo">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong>Tu préstamo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <money id="data-prestamo" type="text" placeholder="" :style="styleObject" disabled v-model="datosprospecto.monto" v-bind="money"></money>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="padding-top:20px"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong> Tu plazo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <input id="data-plazo" type="text" placeholder="" :style="styleObject" disabled v-model="datosprospecto.plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <br><br />
                        <div class="container">
                            <div class="h5" style="padding-top:3%">Para continuar, necesitamos nos ayudes con verificar tu identidad y de ser necesario, actualizar tus datos</div>
                        </div>
                        <br /> <br>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <input id="formulario" name="formulario" type="hidden" value="registro">
                                            <div class="label">
                                                <label class="box-title">Nombre(s)</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="nombres" name="nombres" value="" maxlength="50" class="form-control form-control-sm" v-model="datosprospecto.nombre">
                                                <div class="linea-dato"></div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Apellido paterno</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="apellido_paterno" name="apellido_paterno" maxlength="50" class="form-control form-control-sm" v-model="datosprospecto.apellidopaterno" >
                                                <div class="linea-dato"></div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Apellido materno</label>
                                            </div>
                                            <div class="my-input">
                                                <input type="text" id="apellido_materno" name="apellido_materno" maxlength="50" class="form-control form-control-sm" v-model="datosprospecto.apellidomaterno">
                                                <div class="linea-dato"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Email</label>
                                            </div>
                                            <div class="my-input">
                                                <input 
                                                type="text" 
                                                id="email" 
                                                name="email" 
                                                maxlength="50" 
                                                class="form-control form-control-sm" 
                                                v-model="datosprospecto.email"
                                                :class="{ 'is-invalid': submitted && $v.datosprospecto.email.$error }"
                                                required
                                                >
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.datosprospecto.email.$error" class="hasError">
                                                <span v-if="!$v.datosprospecto.email.required">El email es obligatorio</span>
                                                <span v-if="!$v.datosprospecto.email.email">El email es invalido</span>
                                            </div>
                                            <button type="button" id="login" class="btn btn-sm btn-warning col-3" v-on:click='iniciarSesion()'> Iniciar sesion </button>
                                            
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Teléfono celular</label>
                                            </div>
                                            <div class="my-input">
                                                <input 
                                                type="text" 
                                                id="celular" 
                                                name="celular" 
                                                maxlength="10" 
                                                class="form-control form-control-sm" 
                                                v-model="datosprospecto.celular"
                                                :class="{ 'is-invalid': submitted && $v.datosprospecto.celular.$error }"
                                                required
                                                >
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.datosprospecto.celular.$error" class="hasError">
                                                <span v-if="submitted && !$v.datosprospecto.celular.required" class="hasError">El teléfono es obligatorio.</span>
                                                <span v-if="!$v.datosprospecto.celular.numeric">Acepta solo números.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Crea tu contraseña</label>
                                            </div>
                                            <div class="my-input">
                                                <input 
                                                type="password" 
                                                id="password" 
                                                name="password" 
                                                minlenght="8" 
                                                class="form-control form-control-sm" 
                                                v-model="datosprospecto.password"
                                                :class="{ 'is-invalid': submitted && $v.datosprospecto.password.$error }"
                                                required>
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.datosprospecto.password.$error" class="hasError">
                                                <span v-if="!$v.datosprospecto.password.required">La contraseña es obligatoria</span>
                                                <span v-if="!$v.datosprospecto.password.minLength">La contraseña debe ser minímo 8 carácteres</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-sm-4 col-12 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Confirma tu contraseña</label>
                                            </div>
                                            <div class="my-input">
                                                <input 
                                                type="password" 
                                                id="confirma_password" 
                                                minlenght="8" 
                                                name="confirma_password" 
                                                class="form-control form-control-sm" 
                                                v-model="datosprospecto.confirma_password"
                                                :class="{ 'is-invalid': submitted && $v.datosprospecto.confirma_password.$error }"
                                                >
                                                <div class="linea-dato"></div>
                                            </div>
                                            <div v-if="submitted && $v.datosprospecto.confirma_password.$error" class="hasError">
                                                <span v-if="!$v.datosprospecto.confirma_password.required">Campo obligatorio</span>
                                                <span v-else-if="!$v.datosprospecto.confirma_password.sameAsPassword">Las contraseñas no coinciden</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <label
                                class="form-check-label text-align-center" style="font-size:small"
                                >Al accesar al presente sitio de internet acepta nuestro Aviso de Privacidad en donde usted otorga expresamente a Financiamiento Progresemos, S.A. de C.V. SOFOM ENR su concentiemiento para el uso de sus datos personales. así como la transferencia de los mismos a Prestanómico S.A.P.I de C.V. en el carácter de Encargado para el tratamiento de dichos datos en los términos de la ley. Si desea conocer nuestro Aviso de Privacidad completo haga click <a href="https://progresemos.net/aviso-de-privacidad/" target="_blank">aquí</a></label>
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value
                                        id="acepto_consulta"
                                        name="acepto_consulta"
                                        v-model="datosprospecto.acepto_consulta"                                   
                                        :class="{ 'is-invalid': submitted && $v.datosprospecto.acepto_consulta.$error }"/>
                                    <label class="form-check-label">Acepto</label>
                                </div>
                                <div v-if="submitted && !$v.datosprospecto.acepto_consulta.required" class="hasError">Debes aceptar los términos y condiciones</div>
                            </div>
                            <div class="col-xs-12 txt-center" style="color:red; margin-top: 10px;">
                                <label id="validacionesRegistro"></label>
                            </div>
                            <div class="summary text-red" v-if="$v.$error">
                                Todos los campos son obligatorios. 
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submit" type="button" class="green-white-btn">Continuar</button>
                            </div>
                        </div>
                        <br>
                        <p class="leyenda">Te enviaremos un código de verificación via SMS para validar tu registro.</p>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
    <br />
</div>
</template>
<script>
import {Money} from 'v-money';
import Vuelidate from 'vuelidate';
import { required, minLength, numeric, email, sameAs } from 'vuelidate/lib/validators';

export default {
    components: {Money},
    props: ['datos'],

  data: function() {
    return {
        datosprospecto:{
            email: "",
            celular: "",
            password: "",
            confirma_password: ""
        },
        money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
        submitted: false,
        styleObject: {
            'font-weight': 'bold'
        },
        formulario: 'registro',
        acepto_consulta: '',
        clientId: '',
        monto: '',
        plazo: '',
        isUser: false
    }
  },
  validations: {
      datosprospecto: {
        email: {required, email},
        celular: {required, numeric},
        password: { required, minLength: minLength(8) },
        confirma_password: { required, sameAsPassword: sameAs('password') },
        acepto_consulta: {required}
      }
  },
  filters: {
    toCurrency: function(v) {
        if (typeof v !== "number") {
        return v;
        }
        var formatter = new Intl.NumberFormat('es-MX', {
            style: 'currency',
            currency: 'MXN',
            minimumFractionDigits: 2
        });
        return formatter.format(v);
    }
},
  mounted() {
    this.datosprospecto = this.datos;
    //this.datos.monto = formatPrice(monto);
    var ap = this;
    var root = this;
    this.$root.monto = ap.datosprospecto.monto;
    this.$root.plazo = ap.datosprospecto.plazo;
    this.$root.celular = ap.datosprospecto.celular;
  
  },
  methods: {
      stripTheGarbage(e) {
      if (e.keyCode < 48 && e.keyCode !== 46 || e.keyCode > 59) {
        e.preventDefault()
      }
    },

      submit: function (event) {
        this.submitted = true;
        var clientId = 0;
        ga(function(tracker) {
            clientId = tracker.get('clientId');
        });
        this.$v.$touch();
        if(this.$v.$error) return;
        var registro = this;    
        axios.post('/solicitud/registro', {
            datos_registro: registro.datosprospecto
        })
        .then(function (response) {
              if (response.data.success == true) {
                registro.datosprospecto.prospecto_id = response.data.prospecto_id;
                
                if (response.data.hasOwnProperty('eventTM')) {
                    var eventos = response.data.eventTM;
                    $.each(eventos, function(key, evento) {
                        dataLayer.push(evento);
                    });
                }
                  if (response.data.solicitud_id != undefined) {
                      registro.solicitud_id = response.data.solicitud_id;
                  }
                  if (response.data.siguiente_paso == 'ldap') {
                      registro.crea_usuario_ldap();
                  } else if (response.data.siguiente_paso == 'sms') {
                      Swal.fire({
                        title: '<strong>Aviso Importante.</strong>',
                        icon: 'info',
                        html:
                            'En <b>Progresemos</b>, no pide depósitos ni cualquier tipo de pago anticipado para otorgar préstamos. ',
                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        timer:7000,
                        confirmButtonText:
                            '<i class="fa fa-thumbs-up"></i> Ok!',
                        confirmButtonAriaLabel: 'Thumbs up, great!'
                        })
                      registro.envia_sms();
                  }

              } else {

                  if (response.data.siguiente_paso == 'login') {;
                      Swal.fire({
                        title: "Usuario Registrado",
                        text: 'Ya existe un usuario con el email que intentas registrar. Inicia sesión para continuar con tu solicitud',
                        type: 'info',
                        showConfirmButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Iniciar Sesión',
                        customClass: 'moda',
                        cancelButtonText: 'Cancelar',
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            $('#login').show();
                        }
                    });
                  }
              }
          })
          .catch(function (error) {
               console.log(error);
          });
      },

    iniciarSesion: function() {

    $("#loginError").html('');
    var texto = 'Iniciando sesión...';
    Swal.fire({
       html: '<center><img src="/images/ajax-loader.gif" class="loading-gif"><p>'+ texto +'</p></center>',
       customClass: 'modalLoading',
       showCancelButton: false,
       showConfirmButton:false,
       allowOutsideClick: false
    });

    var registro = this;
    var clientId = 0;
    ga(function(tracker) {
        clientId = tracker.get('clientId');
    });
    registro.datosprospecto['clientId'] = clientId;

    axios.post('/login/prospecto', {datos_registro: registro.datosprospecto})
    .then(function (response) {

        if (response.data.success == true) {
            swal.close();
            if (response.data.formulario == 'verificar_codigo') {
                console.log(response);
                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'Aceptar',
                    customClass: 'modalstatus'
                }).then((result) => {
                   if (result.value) {
                      $("html, body").animate({ scrollTop: $(scrolTop).offset().top - 50 }, 1000);
                   }
               });
                window.location = '/solicitud/validacion_usuario';
                $('#' + response.data.formulario).show();
                $('#' + response.data.oculta).hide();
                $('#formRegistro').hide();
                
                /*var scrolTop = '#info_prestamo_personal';
                $('#info_prestamo_personal').show();
                $("#info_general_prestamo").text(response.data.prestamo);
                $("#info_general_plazo").text(response.data.plazo);
                $("#info_general_finalidad").text(response.data.finalidad);*/

                playinterval();
            } else {
                $('#' + response.data.formulario).show();
                $('#formRegistro').hide();
                swal.close();
                $('#nueva_solicitud').val('true');
            }

            $('#linkNoSesion').hide();
            $('#linkSesion').show();
            $('#nombreProspecto').html(response.data.nombre_prospecto);
            $('#show_celular').html(response.data.celular);

            if (response.data.modal != null) {

                Swal.fire({
                    html: response.data.modal,
                    showConfirmButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'Aceptar',
                    customClass: 'modalstatus'
                }).then((result) => {
                   if (result.value) {
                      $("html, body").animate({ scrollTop: $(scrolTop).offset().top - 50 }, 1000);
                   }
               });

            }

        } else {

            $("#loginError").html(response.data.message);
            swal.close();
        }
    })
    .catch(function (error) {

        var descripcionError = '';
        if (error.hasOwnProperty('response')) {
            descripcionError = error.response.status + ': ' + error.response.responseText;
        } else {
            descripcionError = error;
        }

        $("#loginError").html(descripcionError);

    });

},
      envia_sms: function (event) {
          var registro = this;
          axios.post('/solicitud/registro/sms', {
              datos_registro: registro.datosprospecto,  
          })
          .then(function (response) {
              console.log(response);
              if (response.data.success == true) {
                  //getForm('verificar_codigo', 'registro');
                  window.location = '/solicitud/validacion_usuario';
              } else {
                  
              }

          })
          .catch(function (error) {
              console.log(error);
          });
      }
  },
}

</script>
