<template>

<div id="registro">
    <br>
    <section class="content-header">
        <fieldset>
            <form id="form" method="POST" action="/">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <!-- <h3 class="box-title nombreC" ><center><b>{}},</b><b>tienes un crédito <strong>pre-aprobado.</strong></b></center></h3> -->
                            <br />
                        </div>
                        <div class="container datos-prestamo">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong>Tu préstamo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <money id="data-prestamo" type="text" placeholder="" disabled v-model="monto" v-bind="money"></money>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="padding-top:20px"></div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="form-data">
                                        <div class="form-data__label">
                                            <div class="form-data__label--line-up"></div>
                                            <div class="label"><strong> Tu plazo</strong></div>
                                            <div class="form-data__label--line-down"></div>
                                        </div>
                                        <div class="form-data__input">
                                            <input id="data-plazo" type="text" placeholder="" disabled v-model="plazo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <span class="description">Te hemos enviado un código de verificación por SMS al número {{celular}}. Ingrésalo exactamente como lo recibas.</span>
                        </div>
                        <br>
                        <div class="box-body row">
                            <div class="col-xs-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <div class="form-group row" style=" display: flex; align-items: center; justify-content: center;">
                                        <div class="col-xl-3 col-lg-3 col-sm-2 col-4 col-form-label">
                                            <div class="label">
                                                <label class="box-title">Validación de código</label>
                                            </div> 
                                            <div class="my-input">
                                                <input type="text" id="codigo_confirmacion" name="codigo_confirmacion" class="form-control form-control-sm" maxlength="5" v-model="codigo_confirmacion">
                                                <div class="linea-dato"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-xs-12 col-lg-12 col-12" style="display: flex; align-items: center; justify-content: center">
                                <button v-on:click="submit" type="button" class="green-white-btn">Validar</button>
                            </div>
                            <!-- <div class="col-xs-12 col-lg-12 col-12">
                                <div class="row">
                                    <div class="col-xs-6 col-lg-6 col-6" style="display: flex; align-items: center; justify-content: center;">
                                        <button onclick="history.back()" type="button" class="green-white-btn">Regresar</button>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 col-6" style=" display: flex; align-items: center; justify-content: center;">
                                        <button v-on:click="submit" type="button" class="green-white-btn">Validar</button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
    <br /> <br />
</div>

</template>
<script>
import {Money} from 'v-money';
export default {
components: {Money},
  data: function() {
    return {
        codigo_confirmacion: '',
        plazo: '',
        monto: '',
        celular: '',
        money: {
          decimal: ',',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 0,
          masked: false
        },
    }
  },
  mounted() {
    this.monto = this.$root.monto;
    this.plazo = this.$root.plazo;
    this.celular = this.$root.celular;
    this.datosprospecto = this.datos;
    console.log(this.celular);
  },

  methods: {
      submit: function (event) {
          var sigpaso = this;
          axios.post('/solicitud/conf_sms_code', this._data)
          .then(function (response) {
              if (response.data.success == true) {
                //sigpaso.getForm(response.data.siguiente_paso.formulario, 'verificar_codigo');
                window.location = '/solicitud/' + response.data.siguiente_paso.formulario;
              } else {
                 Swal.fire({
                title: "Ooops.. Surgió un problema",
                text: response.data.message,
                type: 'error',
                showConfirmButton: true,
                customClass: 'modalError',
                allowOutsideClick: false
                });
              }
          })
          .catch(function (error) {
              text: error.response.status + ': ' + error.response.responseText
          });
      },
  },
}

</script>
