.navbar{
    background-color: #529626;
}

.navbar-header {
    display: block;
    margin: auto;
}
.loggeo {
    float: right;
    text-decoration-color: #FFF;
}
.linea-dato {
    width: 90%;
    height: 10px;
    border: solid 1px #529626;
    border-top: none;
    position: absolute;
    bottom: 5px;
    left: 0;
 }

 .nombreC {
     color: #89ce1b;
 }
 .nombreB{
     color: #FFF;
 }

 .form-data {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 40px
}

.form-data__label {
    width: 50%;
    float: left;
    height: 100%;
    position: relative
}

.form-data__label--line-up {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 1px 1px #529626;
    -moz-box-shadow: inset 1px 1px #529626;
    -o-box-shadow: inset 1px 1px #529626;
    box-shadow: inset 1px 1px #529626
}

.bordes{
    border: 2px solid rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  }

.green-white-btn {
    background: #fff;
    border: solid 1px #53a13c;
    border-radius: 5px;
    color: #53a13c;
    text-transform: uppercase;
    padding: 0.8em;
    transition: all .2s ease-in-out
}
.green-white-btn:hover {
    background: #89ce1b;
    color: #fff
}

.green-white-btn:hover a {
    color: #fff
}

.green-white-btn a {
    color: #44b4f6
}

.green-white-btn a:hover {
    color: #fff
}
.white-green-btn {
    background: #529626;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.8em;
    transition: all .2s ease-in-out
}
.general-buttton {
    background: #fff !important;
    border: solid 1px #53a13c !important;
    border-radius: 5px !important;
    color: #53a13c !important;
    text-transform: uppercase !important;
    padding: 0.8em !important;
    transition: all .2s ease-in-out !important
}
.general-buttton:hover {
    background: #89ce1b !important;
    color: #fff !important
}

.general-buttton:hover a {
    color: #fff !important
}

.general-button a {
    color: #44b4f6 !important
}

.general-buttton a:hover {
    color: #fff !important
}

.tooltip {
    width: 20px;
    height: 20px;
    position: absolute !important;
    display: inline-block !important;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip .tooltip-img {
    width: 20px;
    height: 20px;
}


.tooltip-soli3 {
    display: block;
    margin-top: 5px;
}

.tooltip-soli3 .tooltip-text {
    top: -100px;
    left: 32px;
    width: 240px;
}

@media (min-width: 768px) {
    .tooltip-soli3 .tooltip-text {
        top: -80px;
        width: 340px;
    }
}

.tooltip-soli3-1 {
    display: block;
    margin-top: 5px;
}

.tooltip-soli3-1 .tooltip-text {
    top: -113px;
    left: 32px;
    width: 240px;
}

@media (min-width: 768px) {
    .tooltip-soli3-1 .tooltip-text {
        top: -98px;
        width: 340px;
    }
}

.tooltip-soli3-1 .tooltip-text:before {
    top: 82%;
}

@media (min-width: 768px) {
    .tooltip-soli3-1 .tooltip-text:before {
        top: 80%;
    }
}

.form-data__label--line-down {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 1px -1px 0 0 #529626;
    -moz-box-shadow: inset 1px -1px 0 0 #529626;
    -o-box-shadow: inset 1px -1px 0 0 #529626;
    box-shadow: inset 1px -1px 0 0 #529626
}

.form-data__label .label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 11px 0;
    color: #000;
    text-align: center
}

.form-data__input {
    width: 50%;
    float: right;
    margin-right: 0;
    height: 100%;
    background-color: #529626
}

.form-data__input input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 10px 0
}

.form-data input,
.form-data .label {
    font-size: .92857rem;
    text-transform: uppercase
}
.form-registro__row {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 2em 0 0
}

.form-registro__item {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 1em 0
}

.form-registro__item__content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0
}

.form-registro__item__content .label {
    margin: 1em 0
}

.form-registro__item__content input {
    top: 15px
}
/*select,
input[type="text"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: 'Open Sans';
    color: #000;
    text-transform: uppercase;
    background: transparent
}

select:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    outline: none
}
*/
input[type="text"]:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: #fff;
    border: 0;
    -webkit-text-fill-color: #fff
}
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: 'Open Sans'
}

input[type="password"]:focus {
    outline: none
}
.label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative
}

.label label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    color: #b7b7b7;
    font-size: 0.84rem
}
.loader {
    left: 0px;
    width: 100%;
    min-height: 510px;
    z-index: 9 !important;
    background: url('/images/loading.gif') 50% 50% no-repeat rgb(249,249,249) !important;
    opacity: .8;
    position: absolute;
}
.datos-prestamo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 1em 0
}

.leyenda {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    color: #000;
    font-size: .78571rem;
    margin: 0.5em 0
}

.my-input {
    width: 120%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    height: 35px
}

.my-input input {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 15px;
    background: transparent;
    border: none;
    font-family: "Source Sans Pro";
}

.my-select {
    width: 100%;
    position: relative;
    height: 40px
}

.my-select select {
    width: 100%;
    text-align-last: center;
    font-size: 1.57143rem;
    position: absolute;
    top: 3px;
    left: 0
}

.dateColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8px 0;
}

label {
    font-weight: normal;
}
.custom-select {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 45px;
    text-align: center;
    color: #000;
    position: relative
}
.logoP {
    
    background-image: url(/images/brand/Logo_Final_Blanco_50px.png);
}
.custom-select__content {
    width: 113%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    background: transparent url(/images/icons/select-icon.png) 98% center no-repeat;
    height: 28px;
    overflow: hidden
}
.select_margin {
    text-align-last: center;
    text-align: center;
    -moz-text-align-last: center;
    font-size: 0.87rem;
    font-family: Montserrat-Regular;
}
#mainDiv {
    width: 100%;
    height: 35px;
    background-clip: content-box;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to top, #529626 31%, rgba(0,0,0,0) 31%);
    border-image-slice: 1;
}
.error {
    color: red !important;
    border-bottom: 2px red solid !important;
}
.errorTitle {
    color: red !important;
}
.help {
    color: red !important;
    margin-bottom: 0px !important;
}
#formRegisgtro {
    margin-top: 25px;
}
#formRegistro .calculadora-personal {
    min-height: 47px;
    margin-bottom: 0px;
}
#formDatosIngreso .calculadora-personal {
    min-height: 57px;
    margin-top: 15px !important;
}
#formDatosDomicilio .calculadora-personal {
    min-height: 47px;
    margin-top: 15px !important;
}
#formDatosPersonales .calculadora-personal {
    min-height: 67px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}
#formDatosEmpleo .calculadora-personal {
    min-height: 57px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}

#formDatosPersonales .fecha_nacimiento {
    margin-top: 0px !important;
}

#info_prestamo_personal {
    min-height: 30px;
    margin-bottom: 15px;
}
.bold{
    color: #FFF !important;
}

#verificar_codigo {
    margin-top: 35px;
}
/* #laPaz #header .navbar-nav .dropdown-menu {
    padding: 5px 0;
    background: rgb(230, 65, 64, 1);
    text-align: center;
} */

.modal-headers .close {
    margin-top: -25px !important;
}
#laPaz .modal .modal-content .modal-title {
    padding-bottom: 0px !important;
}
.modal-headers {
    background: #529626;
    color: #FFF;
    padding: 1rem;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
    width: 100%;
}

.modal-headers .titulo-dinamico {
    margin: 0px;
    font-size: 20px;
}

@media (max-width: 575.98px) {
    .modal-sm {
        max-width: 300px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
 */
    .secondary-title {
        font-size: 22px;
    }

    .slider-title {
        font-size: 22px !important;
    }

    #laPaz .page-view.page-product .page-product-description img {
        width: 45px !important;
    }

    #laPaz .page-view.page-product .calculadora-personal small {
        font-size: 11.5px;
    }

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 850px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .form-registro {
        padding-left: 8.33333%;
        padding-right: 8.33333%;
        width: 83.33333%;
        float: left
    }
    .form-registro__item {
        width: 50%;
        float: left
    }
    .form-registro__item:nth-child(2n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0
    }
    .form-registro__item:nth-child(2n+2) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none
    }
    .form-registro__item__content {
        padding-left: 0%;
        padding-right: 8.33333%;
        width: 91.66667%;
        float: left
    }
    .modal-sm {
        max-width: 320px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    } */

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }


    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    } */

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #000;
    }
    .finalidad_custom {
        margin-top: 0px !important;
    }
    .loader {
        min-height: 750px;
    }
    .form-registro__row {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 2em 0 0
    }
    
    .form-registro__item {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 1em 0
    }
    
    .form-registro__item__content {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    
    .form-registro__item__content .label {
        margin: 1em 0
    }
    
    .form-registro__item__content input {
        top: 15px
    }

}

@media (min-width: 1200px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #000;
    }
}

#laPaz .modal .modal-content {
    border-radius: 5px !important;
    text-align: center !important;
}
#laPaz .modal .modal-headers {
    border-radius: 3px 3px 0px 0px !important;
    text-align: center !important;
}
#olvidePassword {
    color: #529626 !important;
}
#olvidePassword:hover {
    color: #529626 !important;
}

#laPaz .modal .modal-content .error {
    font-size: inherit;
}

table.combodate {
    width: 100%;
}

.input-correcciones {
    border: none;
    width: 100%;
    border-bottom: 2px #B1B1B2 solid;
    background: transparent !important;
    text-transform: uppercase;
    text-align: center;
}

.day {
    background-color: transparent !important;
}

.year {
    background-color: transparent !important;
}

.month {
    background-color: transparent !important;
}

::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder {
   text-transform: initial;
}

::-moz-placeholder {
   text-transform: initial;
}

:-ms-input-placeholder {
   text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase !important;
}

.labelDinamico {
    font-size: 16px;
    min-height: 55px;
}

.labelDinamicoT {
    font-size: 16px;
    min-height: 40px;
}

legend {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: .5rem !important;
    font-size: 1.25rem !important;
    line-height: inherit !important;
    color: inherit !important;
    white-space: normal !important;
}

#H_23, #A_4, #B_6, #B_7, #B_8, #D_13, #D_14, #G_21, #I_30, #I_31 {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto !important;
    color: -internal-light-dark-color(black, white) !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    -webkit-appearance: textfield !important;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical !important;
    cursor: text !important;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 10px 10px;
    border: 1px  solid #529626 !important;
    
}

#cuestionarioDinamico .calculadora-personal {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
}

#cuestionarioDinamico .margin {
    padding:10px !important;
}

#cuestionarioDinamico .pre-registro-input {
    margin-bottom: 0px !important;
}

#cuestionarioDinamico input {
    padding:5px !important;
}

.disabled {
    cursor: not-allowed !important;
    background: rgba(233,64,75, .5) !important;
}
.btn-oferta {
    background-color: #fff;
    border-color: #89ce1b;
    border-radius: 5px;
    border-width: 2px;
    color: #89ce1b;
    text-transform: uppercase;
    padding: .8em;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-width: 35px;
    border-style: solid;
    cursor: pointer;
}

.btn-oferta-clicked {
    background-color: #89ce1b;
    border-color: #89ce1b;
    border-radius: 5px;
    border-width: 2px;
    color: #fff;
    border-bottom: none;
    position: relative;
}

.btn-oferta-clicked:hover {
    background-color: #89ce1b;
    border-color: #89ce1b;
    color: #fff;
    border-bottom: none;
}

.datos_oferta {
    border-color: #89ce1b;
    border-radius: 10px;
    border-width: 12px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
}

.btn-oferta-clicked:after,
.btn-oferta-clicked:after {

    position: absolute;
    top: 98.1%;
    left: 55%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #89ce1b;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;

}

.ofertas {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.emojiDO {
    height: 55px;
    width: auto !important;
}

#mostrarFormRechazOD {
    font-size: 13px;
}

@media (max-width: 400px) {

    .modal {
        max-width: -webkit-fill-available !important;
    }

    .emojiDO {
        height: 45px;
    }

    #mostrarFormRechazOD {
        font-size: 14px;
    }

}

@media (min-width: 1024px) {
    .ofertas {
        margin-bottom: 15px;
    }
}
