/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1042;
  overflow: hidden;
  position: fixed !important;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

@-webkit-keyframes swal2-show{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes swal2-show{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes swal2-hide{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}@keyframes swal2-hide{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}@-webkit-keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@-webkit-keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@-webkit-keyframes swal2-rotate-success-circular-line{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@keyframes swal2-rotate-success-circular-line{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@-webkit-keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}50%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}80%{margin-top:-.375em;-webkit-transform:scale(1.15);transform:scale(1.15)}100%{margin-top:0;-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}50%{margin-top:1.625em;-webkit-transform:scale(.4);transform:scale(.4);opacity:0}80%{margin-top:-.375em;-webkit-transform:scale(1.15);transform:scale(1.15)}100%{margin-top:0;-webkit-transform:scale(1);transform:scale(1);opacity:1}}@-webkit-keyframes swal2-animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes swal2-animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}body.swal2-toast-shown .swal2-container{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-shown{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-top{top:0;right:auto;bottom:auto;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-top-end,body.swal2-toast-shown .swal2-container.swal2-top-right{top:0;right:0;bottom:auto;left:auto}body.swal2-toast-shown .swal2-container.swal2-top-left,body.swal2-toast-shown .swal2-container.swal2-top-start{top:0;right:auto;bottom:auto;left:0}body.swal2-toast-shown .swal2-container.swal2-center-left,body.swal2-toast-shown .swal2-container.swal2-center-start{top:50%;right:auto;bottom:auto;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-center{top:50%;right:auto;bottom:auto;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}body.swal2-toast-shown .swal2-container.swal2-center-end,body.swal2-toast-shown .swal2-container.swal2-center-right{top:50%;right:0;bottom:auto;left:auto;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-left,body.swal2-toast-shown .swal2-container.swal2-bottom-start{top:auto;right:auto;bottom:0;left:0}body.swal2-toast-shown .swal2-container.swal2-bottom{top:auto;right:auto;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-end,body.swal2-toast-shown .swal2-container.swal2-bottom-right{top:auto;right:0;bottom:0;left:auto}body.swal2-toast-column .swal2-toast{flex-direction:column;align-items:stretch}body.swal2-toast-column .swal2-toast .swal2-actions{flex:1;align-self:stretch;height:2.2em;margin-top:.3125em}body.swal2-toast-column .swal2-toast .swal2-loading{justify-content:center}body.swal2-toast-column .swal2-toast .swal2-input{height:2em;margin:.3125em auto;font-size:1em}body.swal2-toast-column .swal2-toast .swal2-validation-message{font-size:1em}.swal2-popup.swal2-toast{flex-direction:row;align-items:center;width:auto;padding:.625em;box-shadow:0 0 .625em #d9d9d9;overflow-y:hidden}.swal2-popup.swal2-toast .swal2-header{flex-direction:row}.swal2-popup.swal2-toast .swal2-title{flex-grow:1;justify-content:flex-start;margin:0 .6em;font-size:1em}.swal2-popup.swal2-toast .swal2-footer{margin:.5em 0 0;padding:.5em 0 0;font-size:.8em}.swal2-popup.swal2-toast .swal2-close{position:initial;width:.8em;height:.8em;line-height:.8}.swal2-popup.swal2-toast .swal2-content{justify-content:flex-start;font-size:1em}.swal2-popup.swal2-toast .swal2-icon{width:2em;min-width:2em;height:2em;margin:0}.swal2-popup.swal2-toast .swal2-icon-text{font-size:2em;font-weight:700;line-height:1em}.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line]{top:.875em;width:1.375em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:.3125em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:.3125em}.swal2-popup.swal2-toast .swal2-actions{height:auto;margin:0 .3125em}.swal2-popup.swal2-toast .swal2-styled{margin:0 .3125em;padding:.3125em .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-styled:focus{box-shadow:0 0 0 .0625em #fff,0 0 0 .125em rgba(50,100,150,.4)}.swal2-popup.swal2-toast .swal2-success{border-color:#a5dc86}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line]{position:absolute;width:2em;height:2.8125em;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-radius:50%}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.25em;left:-.9375em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:2em 2em;transform-origin:2em 2em;border-radius:4em 0 0 4em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.25em;left:.9375em;-webkit-transform-origin:0 2em;transform-origin:0 2em;border-radius:0 4em 4em 0}.swal2-popup.swal2-toast .swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-success .swal2-success-fix{top:0;left:.4375em;width:.4375em;height:2.6875em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line]{height:.3125em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip]{top:1.125em;left:.1875em;width:.75em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long]{top:.9375em;right:.1875em;width:1.375em}.swal2-popup.swal2-toast.swal2-show{-webkit-animation:showSweetToast .5s;animation:showSweetToast .5s}.swal2-popup.swal2-toast.swal2-hide{-webkit-animation:hideSweetToast .2s forwards;animation:hideSweetToast .2s forwards}.swal2-popup.swal2-toast .swal2-animate-success-icon .swal2-success-line-tip{-webkit-animation:animate-toast-success-tip .75s;animation:animate-toast-success-tip .75s}.swal2-popup.swal2-toast .swal2-animate-success-icon .swal2-success-line-long{-webkit-animation:animate-toast-success-long .75s;animation:animate-toast-success-long .75s}@-webkit-keyframes showSweetToast{0%{-webkit-transform:translateY(-.625em) rotateZ(2deg);transform:translateY(-.625em) rotateZ(2deg);opacity:0}33%{-webkit-transform:translateY(0) rotateZ(-2deg);transform:translateY(0) rotateZ(-2deg);opacity:.5}66%{-webkit-transform:translateY(.3125em) rotateZ(2deg);transform:translateY(.3125em) rotateZ(2deg);opacity:.7}100%{-webkit-transform:translateY(0) rotateZ(0);transform:translateY(0) rotateZ(0);opacity:1}}@keyframes showSweetToast{0%{-webkit-transform:translateY(-.625em) rotateZ(2deg);transform:translateY(-.625em) rotateZ(2deg);opacity:0}33%{-webkit-transform:translateY(0) rotateZ(-2deg);transform:translateY(0) rotateZ(-2deg);opacity:.5}66%{-webkit-transform:translateY(.3125em) rotateZ(2deg);transform:translateY(.3125em) rotateZ(2deg);opacity:.7}100%{-webkit-transform:translateY(0) rotateZ(0);transform:translateY(0) rotateZ(0);opacity:1}}@-webkit-keyframes hideSweetToast{0%{opacity:1}33%{opacity:.5}100%{-webkit-transform:rotateZ(1deg);transform:rotateZ(1deg);opacity:0}}@keyframes hideSweetToast{0%{opacity:1}33%{opacity:.5}100%{-webkit-transform:rotateZ(1deg);transform:rotateZ(1deg);opacity:0}}@-webkit-keyframes animate-toast-success-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@keyframes animate-toast-success-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@-webkit-keyframes animate-toast-success-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@keyframes animate-toast-success-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow:hidden}body.swal2-height-auto{height:auto!important}body.swal2-no-backdrop .swal2-shown{top:auto;right:auto;bottom:auto;left:auto;background-color:transparent}body.swal2-no-backdrop .swal2-shown>.swal2-modal{box-shadow:0 0 10px rgba(0,0,0,.4)}body.swal2-no-backdrop .swal2-shown.swal2-top{top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-top-left,body.swal2-no-backdrop .swal2-shown.swal2-top-start{top:0;left:0}body.swal2-no-backdrop .swal2-shown.swal2-top-end,body.swal2-no-backdrop .swal2-shown.swal2-top-right{top:0;right:0}body.swal2-no-backdrop .swal2-shown.swal2-center{top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}body.swal2-no-backdrop .swal2-shown.swal2-center-left,body.swal2-no-backdrop .swal2-shown.swal2-center-start{top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-center-end,body.swal2-no-backdrop .swal2-shown.swal2-center-right{top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-bottom{bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-bottom-left,body.swal2-no-backdrop .swal2-shown.swal2-bottom-start{bottom:0;left:0}body.swal2-no-backdrop .swal2-shown.swal2-bottom-end,body.swal2-no-backdrop .swal2-shown.swal2-bottom-right{right:0;bottom:0}.swal2-container{display:flex;position:fixed;top:0;right:0;bottom:0;left:0;flex-direction:row;align-items:center;justify-content:center;padding:10px;background-color:transparent;z-index:1060;overflow-x:hidden;-webkit-overflow-scrolling:touch}.swal2-container.swal2-top{align-items:flex-start}.swal2-container.swal2-top-left,.swal2-container.swal2-top-start{align-items:flex-start;justify-content:flex-start}.swal2-container.swal2-top-end,.swal2-container.swal2-top-right{align-items:flex-start;justify-content:flex-end}.swal2-container.swal2-center{align-items:center}.swal2-container.swal2-center-left,.swal2-container.swal2-center-start{align-items:center;justify-content:flex-start}.swal2-container.swal2-center-end,.swal2-container.swal2-center-right{align-items:center;justify-content:flex-end}.swal2-container.swal2-bottom{align-items:flex-end}.swal2-container.swal2-bottom-left,.swal2-container.swal2-bottom-start{align-items:flex-end;justify-content:flex-start}.swal2-container.swal2-bottom-end,.swal2-container.swal2-bottom-right{align-items:flex-end;justify-content:flex-end}.swal2-container.swal2-grow-fullscreen>.swal2-modal{display:flex!important;flex:1;align-self:stretch;justify-content:center}.swal2-container.swal2-grow-row>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-grow-column{flex:1;flex-direction:column}.swal2-container.swal2-grow-column.swal2-bottom,.swal2-container.swal2-grow-column.swal2-center,.swal2-container.swal2-grow-column.swal2-top{align-items:center}.swal2-container.swal2-grow-column.swal2-bottom-left,.swal2-container.swal2-grow-column.swal2-bottom-start,.swal2-container.swal2-grow-column.swal2-center-left,.swal2-container.swal2-grow-column.swal2-center-start,.swal2-container.swal2-grow-column.swal2-top-left,.swal2-container.swal2-grow-column.swal2-top-start{align-items:flex-start}.swal2-container.swal2-grow-column.swal2-bottom-end,.swal2-container.swal2-grow-column.swal2-bottom-right,.swal2-container.swal2-grow-column.swal2-center-end,.swal2-container.swal2-grow-column.swal2-center-right,.swal2-container.swal2-grow-column.swal2-top-end,.swal2-container.swal2-grow-column.swal2-top-right{align-items:flex-end}.swal2-container.swal2-grow-column>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{margin:auto}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-container .swal2-modal{margin:0!important}}.swal2-container.swal2-fade{transition:background-color .1s}.swal2-container.swal2-shown{background-color:rgba(0,0,0,.4)}.swal2-popup{display:none;position:relative;flex-direction:column;justify-content:center;width:32em;max-width:100%;padding:1.25em;border-radius:.3125em;background:#fff;font-family:inherit;font-size:1rem;box-sizing:border-box}.swal2-popup:focus{outline:0}.swal2-popup.swal2-loading{overflow-y:hidden}.swal2-popup .swal2-header{display:flex;flex-direction:column;align-items:center}.swal2-popup .swal2-title{display:block;position:relative;max-width:100%;margin:0 0 .4em;padding:0;color:#595959;font-size:1.875em;font-weight:600;text-align:center;text-transform:none;word-wrap:break-word}.swal2-popup .swal2-actions{flex-wrap:wrap;align-items:center;justify-content:center;margin:1.25em auto 0;z-index:1}.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled[disabled]{opacity:.4}.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))}.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:active{background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2))}.swal2-popup .swal2-actions.swal2-loading .swal2-styled.swal2-confirm{width:2.5em;height:2.5em;margin:.46875em;padding:0;border:.25em solid transparent;border-radius:100%;border-color:transparent;background-color:transparent!important;color:transparent;cursor:default;box-sizing:border-box;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-popup .swal2-actions.swal2-loading .swal2-styled.swal2-cancel{margin-right:30px;margin-left:30px}.swal2-popup .swal2-actions.swal2-loading :not(.swal2-styled).swal2-confirm::after{display:inline-block;width:15px;height:15px;margin-left:5px;border:3px solid #999;border-radius:50%;border-right-color:transparent;box-shadow:1px 1px 1px #fff;content:'';-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal}.swal2-popup .swal2-styled{margin:.3125em;padding:.625em 2em;font-weight:500;box-shadow:none}.swal2-popup .swal2-styled:not([disabled]){cursor:pointer}.swal2-popup .swal2-styled.swal2-confirm{border:0;border-radius:.25em;background:initial;background-color:#3085d6;color:#fff;font-size:1.0625em}.swal2-popup .swal2-styled.swal2-cancel{border:0;border-radius:.25em;background:initial;background-color:#aaa;color:#fff;font-size:1.0625em}.swal2-popup .swal2-styled:focus{outline:0;box-shadow:0 0 0 2px #fff,0 0 0 4px rgba(50,100,150,.4)}.swal2-popup .swal2-styled::-moz-focus-inner{border:0}.swal2-popup .swal2-footer{justify-content:center;margin:1.25em 0 0;padding:1em 0 0;border-top:1px solid #eee;color:#545454;font-size:1em}.swal2-popup .swal2-image{max-width:100%;margin:1.25em auto}.swal2-popup .swal2-close{position:absolute;top:0;right:0;justify-content:center;width:1.2em;height:1.2em;padding:0;transition:color .1s ease-out;border:none;border-radius:0;outline:initial;background:0 0;color:#ccc;font-family:serif;font-size:2.5em;line-height:1.2;cursor:pointer;overflow:hidden}.swal2-popup .swal2-close:hover{-webkit-transform:none;transform:none;color:#f27474}.swal2-popup>.swal2-checkbox,.swal2-popup>.swal2-file,.swal2-popup>.swal2-input,.swal2-popup>.swal2-radio,.swal2-popup>.swal2-select,.swal2-popup>.swal2-textarea{display:none}.swal2-popup .swal2-content{justify-content:center;margin:0;padding:0;color:#545454;font-size:1.125em;font-weight:300;line-height:normal;z-index:1;word-wrap:break-word}.swal2-popup #swal2-content{text-align:center}.swal2-popup .swal2-checkbox,.swal2-popup .swal2-file,.swal2-popup .swal2-input,.swal2-popup .swal2-radio,.swal2-popup .swal2-select,.swal2-popup .swal2-textarea{margin:1em auto}.swal2-popup .swal2-file,.swal2-popup .swal2-input,.swal2-popup .swal2-textarea{width:100%;transition:border-color .3s,box-shadow .3s;border:1px solid #d9d9d9;border-radius:.1875em;font-size:1.125em;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);box-sizing:border-box}.swal2-popup .swal2-file.swal2-inputerror,.swal2-popup .swal2-input.swal2-inputerror,.swal2-popup .swal2-textarea.swal2-inputerror{border-color:#f27474!important;box-shadow:0 0 2px #f27474!important}.swal2-popup .swal2-file:focus,.swal2-popup .swal2-input:focus,.swal2-popup .swal2-textarea:focus{border:1px solid #b4dbed;outline:0;box-shadow:0 0 3px #c4e6f5}.swal2-popup .swal2-file::-webkit-input-placeholder,.swal2-popup .swal2-input::-webkit-input-placeholder,.swal2-popup .swal2-textarea::-webkit-input-placeholder{color:#ccc}.swal2-popup .swal2-file:-ms-input-placeholder,.swal2-popup .swal2-input:-ms-input-placeholder,.swal2-popup .swal2-textarea:-ms-input-placeholder{color:#ccc}.swal2-popup .swal2-file::-ms-input-placeholder,.swal2-popup .swal2-input::-ms-input-placeholder,.swal2-popup .swal2-textarea::-ms-input-placeholder{color:#ccc}.swal2-popup .swal2-file::placeholder,.swal2-popup .swal2-input::placeholder,.swal2-popup .swal2-textarea::placeholder{color:#ccc}.swal2-popup .swal2-range input{width:80%}.swal2-popup .swal2-range output{width:20%;font-weight:600;text-align:center}.swal2-popup .swal2-range input,.swal2-popup .swal2-range output{height:2.625em;margin:1em auto;padding:0;font-size:1.125em;line-height:2.625em}.swal2-popup .swal2-input{height:2.625em;padding:0 .75em}.swal2-popup .swal2-input[type=number]{max-width:10em}.swal2-popup .swal2-file{font-size:1.125em}.swal2-popup .swal2-textarea{height:6.75em;padding:.75em}.swal2-popup .swal2-select{min-width:50%;max-width:100%;padding:.375em .625em;color:#545454;font-size:1.125em}.swal2-popup .swal2-checkbox,.swal2-popup .swal2-radio{align-items:center;justify-content:center}.swal2-popup .swal2-checkbox label,.swal2-popup .swal2-radio label{margin:0 .6em;font-size:1.125em}.swal2-popup .swal2-checkbox input,.swal2-popup .swal2-radio input{margin:0 .4em}.swal2-popup .swal2-validation-message{display:none;align-items:center;justify-content:center;padding:.625em;background:#f0f0f0;color:#666;font-size:1em;font-weight:300;overflow:hidden}.swal2-popup .swal2-validation-message::before{display:inline-block;width:1.5em;min-width:1.5em;height:1.5em;margin:0 .625em;border-radius:50%;background-color:#f27474;color:#fff;font-weight:600;line-height:1.5em;text-align:center;content:'!';zoom:normal}@supports (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@-moz-document url-prefix(){.swal2-close:focus{outline:2px solid rgba(50,100,150,.4)}}.swal2-icon{position:relative;justify-content:center;width:5em;height:5em;margin:1.25em auto 1.875em;border:.25em solid transparent;border-radius:50%;line-height:5em;cursor:default;box-sizing:content-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;zoom:normal}.swal2-icon-text{font-size:3.75em}.swal2-icon.swal2-error{border-color:#f27474}.swal2-icon.swal2-error .swal2-x-mark{position:relative;flex-grow:1}.swal2-icon.swal2-error [class^=swal2-x-mark-line]{display:block;position:absolute;top:2.3125em;width:2.9375em;height:.3125em;border-radius:.125em;background-color:#f27474}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:1.0625em;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:1em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-icon.swal2-warning{border-color:#facea8;color:#f8bb86}.swal2-icon.swal2-info{border-color:#9de0f6;color:#3fc3ee}.swal2-icon.swal2-question{border-color:#c9dae1;color:#87adbd}.swal2-icon.swal2-success{border-color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-circular-line]{position:absolute;width:3.75em;height:7.5em;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-radius:50%}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.4375em;left:-2.0635em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:3.75em 3.75em;transform-origin:3.75em 3.75em;border-radius:7.5em 0 0 7.5em}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.6875em;left:1.875em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 3.75em;transform-origin:0 3.75em;border-radius:0 7.5em 7.5em 0}.swal2-icon.swal2-success .swal2-success-ring{position:absolute;top:-.25em;left:-.25em;width:100%;height:100%;border:.25em solid rgba(165,220,134,.3);border-radius:50%;z-index:2;box-sizing:content-box}.swal2-icon.swal2-success .swal2-success-fix{position:absolute;top:.5em;left:1.625em;width:.4375em;height:5.625em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);z-index:1}.swal2-icon.swal2-success [class^=swal2-success-line]{display:block;position:absolute;height:.3125em;border-radius:.125em;background-color:#a5dc86;z-index:2}.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip]{top:2.875em;left:.875em;width:1.5625em;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-success [class^=swal2-success-line][class$=long]{top:2.375em;right:.5em;width:2.9375em;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-progresssteps{align-items:center;margin:0 0 1.25em;padding:0;font-weight:600}.swal2-progresssteps li{display:inline-block;position:relative}.swal2-progresssteps .swal2-progresscircle{width:2em;height:2em;border-radius:2em;background:#3085d6;color:#fff;line-height:2em;text-align:center;z-index:20}.swal2-progresssteps .swal2-progresscircle:first-child{margin-left:0}.swal2-progresssteps .swal2-progresscircle:last-child{margin-right:0}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep{background:#3085d6}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progresscircle{background:#add8e6}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progressline{background:#add8e6}.swal2-progresssteps .swal2-progressline{width:2.5em;height:.4em;margin:0 -1px;background:#3085d6;z-index:10}[class^=swal2]{-webkit-tap-highlight-color:transparent}.swal2-show{-webkit-animation:swal2-show .3s;animation:swal2-show .3s}.swal2-show.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-hide{-webkit-animation:swal2-hide .15s forwards;animation:swal2-hide .15s forwards}.swal2-hide.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-rtl .swal2-close{right:auto;left:0}.swal2-animate-success-icon .swal2-success-line-tip{-webkit-animation:swal2-animate-success-line-tip .75s;animation:swal2-animate-success-line-tip .75s}.swal2-animate-success-icon .swal2-success-line-long{-webkit-animation:swal2-animate-success-line-long .75s;animation:swal2-animate-success-line-long .75s}.swal2-animate-success-icon .swal2-success-circular-line-right{-webkit-animation:swal2-rotate-success-circular-line 4.25s ease-in;animation:swal2-rotate-success-circular-line 4.25s ease-in}.swal2-animate-error-icon{-webkit-animation:swal2-animate-error-icon .5s;animation:swal2-animate-error-icon .5s}.swal2-animate-error-icon .swal2-x-mark{-webkit-animation:swal2-animate-error-x-mark .5s;animation:swal2-animate-error-x-mark .5s}@-webkit-keyframes swal2-rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes swal2-rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@media print{body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:scroll!important}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true]{display:none}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container{position:initial!important}}
.modalLoading {
    background-color: rgba(0,0,0,.2) !important;
    width: 100% !important;
    height: 100% !important;
}

.modalLoading p {
    color: #fff;
    font-size: medium;
    font-weight: bolder;
}

.modaloferta {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modalConfianza {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.tipsWebapp {
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.tipsWebapp .swal2-title {
    display: flex;
    color: #FFFFFF!important;
    margin: 10px !important;
    min-height: 30px;
    margin-top: 15px !important;
}

.modalstatus {
    width: 500px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}


.modal__heading  {
    background-color: #89CE1B;
    margin: 0px;
    min-height: 50px;
}

.titulo-dinamico {
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 10px;
}

.logo {
    width: 180px;
}

.modal__emoji {
    text-align: center;
    margin: 20px;
}

.modal__text {
    font-size: medium;
    font-weight: bolder;
    margin: 15px;
}

.modal__text li {
    color: #529626
}

.modal__text ul {
    margin: 15px;
}

.dato {
    color: #545454;
}

.condiciones {
    font-style: italic;
    font-size: 0.65em;
    font-weight:bold;
}

.btn-notok {
    background-color: #837A6C;
}

.btn-ok {
    background-color: #529626;
}

.btn-ok:hover {
    background-color: #F37333;
    color: #545454 !important;
}

.btn-notok:hover {
    background-color: #F7CB3B;
    color: #545454 !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline-offset: -2px;
    color: #FFF;
}

.btn, .btn:hover {
    color: #FFF;
    font-weight: bolder;
}

.btn {
    font-size: 17px !important;
}

.btn-oferta {
    background-color: #fff;
    border-color: #529626;
    border-radius: 5px;
    border-width: 2px;
    color: #529626;
    text-transform: uppercase;
    padding: .8em;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-width: 35px;
    border-style: solid;
    cursor: pointer;
}

.btn-oferta:hover {
    background-color: #529626;
}

.datos_oferta {
    border-color: #529626;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
}

.btn-oferta-clicked {
    background-color: #529626;
    border-color: #529626;
    border-radius: 5px;
    border-width: 2px;
    color: #fff;
    border-bottom: none;
    position: relative;
}

.btn-oferta-clicked:after,
.btn-oferta-clicked:after {

    position: absolute;
    top: 98.1%;
    left: 55%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #529626;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;

}

.modalError {
    width: 400px !important;
    padding: 0px 0px 20px 0px !important;
    border-radius: 5px !important;
}

.modalError .swal2-header {
    background-color: #529626;
    border-radius: 5px 5px 0px 0px !important;
}

.modalError .swal2-title {
    display: flex;
    color: #FFFFFF!important;
    margin: 10px !important;
}


.modalError .swal2-content {
    margin: 20px !important;
    font-size: 18px !important;
}

.swal2-styled {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none !important;
    padding: 12px 35px;
    display: inline-block;
    margin: 5px;
    color: white!important;
    background: #529626 !important;
    font-size: 13px !important;
}

.tipsWebapp .swal2-header {
    background-color: #89CE1B;
    border-radius: 5px 5px 0px 0px !important;
}


.modalstatus .swal2-header {
    background-color: #529626;
    border-radius: 5px 5px 0px 0px !important;
}


.modalstatus .modal__text li {
    color: #89CE1B;
}

.modalstatus #terminaFlujo {
    cursor: pointer;
    font-style: normal!important;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none !important;
    padding: 12px 35px;
    display: inline-block;
    margin: 5px;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    color: white!important;
    background: #529626 !important;
    background: -moz-linear-gradient(left, #CFE92B 0%, #529626 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, #CFE92B), color-stop(100%, #529626)) !important;
    background: -webkit-linear-gradient(left, #CFE92B 0%, #529626 100%) !important;
    background: -o-linear-gradient(left, #CFE92B 0%, #529626 100%) !important;
    background: -ms-linear-gradient(left, #CFE92B 0%, #529626 100%) !important;
    background: -webkit-gradient(linear, left top, right top, from(#CFE92B), to(#529626)) !important;
    background: linear-gradient(to right, #CFE92B 0%, #529626 100%) !important;
    font-size: 13px !important;
}

.modalConfianza .modal__text li {
    color: #89CE1B;
}

.modalConfianza .modal__text ul {
    list-style: none;
}

.modalConfianza .swal2-header {
    background-color: #89CE1B;
    border-radius: 5px 5px 0px 0px !important;
}

.modalConfianza .swal2-title {
    color: #fff !important;
    margin: 20px !important;
}

@media (max-width: 400px) {

    .modaloferta {
        max-width: -webkit-fill-available !important;
    }

    .modalError {
        max-width: -webkit-fill-available !important;
    }

    .modalstatus {
        max-width: -webkit-fill-available !important;
    }

    .modalConfianza {
        max-width: -webkit-fill-available !important;
    }

    .ofertas {
        margin-bottom: 14px;
    }

    .datos_oferta {
        width: 100%;
        margin: 0 auto;
    }

    #aceptarOfertaDoble {
        font-size: 12px !important;
    }

    .modal__text ul {
        margin-left: 0px;
        padding-left: 15px;
    }

    .btn-oferta {
        font-size: 15px !important;
    }

}

@media (min-width: 1024px) {
    .ofertas {
        margin-bottom: 14px;
    }
}

#laPaz .product-header .item .slider-info-block .slider-title {
    color: #E4004D !important;
}

#laPaz .product-header .item .slider-info-block {
    border-color: #E4004D !important;
}

#laPaz .secondary-title {
    color: #E4004D!important;
}


.navbar{
    background-color: #529626;
}

.navbar-header {
    display: block;
    margin: auto;
}
.loggeo {
    float: right;
    text-decoration-color: #FFF;
}
.linea-dato {
    width: 90%;
    height: 10px;
    border: solid 1px #529626;
    border-top: none;
    position: absolute;
    bottom: 5px;
    left: 0;
 }

 .nombreC {
     color: #89ce1b;
 }
 .nombreB{
     color: #FFF;
 }

 .form-data {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 40px
}

.form-data__label {
    width: 50%;
    float: left;
    height: 100%;
    position: relative
}

.form-data__label--line-up {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 1px 1px #529626;
    -moz-box-shadow: inset 1px 1px #529626;
    -o-box-shadow: inset 1px 1px #529626;
    box-shadow: inset 1px 1px #529626
}

.bordes{
    border: 2px solid rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  }

.green-white-btn {
    background: #fff;
    border: solid 1px #53a13c;
    border-radius: 5px;
    color: #53a13c;
    text-transform: uppercase;
    padding: 0.8em;
    transition: all .2s ease-in-out
}
.green-white-btn:hover {
    background: #89ce1b;
    color: #fff
}

.green-white-btn:hover a {
    color: #fff
}

.green-white-btn a {
    color: #44b4f6
}

.green-white-btn a:hover {
    color: #fff
}
.white-green-btn {
    background: #529626;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.8em;
    transition: all .2s ease-in-out
}
.general-buttton {
    background: #fff !important;
    border: solid 1px #53a13c !important;
    border-radius: 5px !important;
    color: #53a13c !important;
    text-transform: uppercase !important;
    padding: 0.8em !important;
    transition: all .2s ease-in-out !important
}
.general-buttton:hover {
    background: #89ce1b !important;
    color: #fff !important
}

.general-buttton:hover a {
    color: #fff !important
}

.general-button a {
    color: #44b4f6 !important
}

.general-buttton a:hover {
    color: #fff !important
}

.tooltip {
    width: 20px;
    height: 20px;
    position: absolute !important;
    display: inline-block !important;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip .tooltip-img {
    width: 20px;
    height: 20px;
}


.tooltip-soli3 {
    display: block;
    margin-top: 5px;
}

.tooltip-soli3 .tooltip-text {
    top: -100px;
    left: 32px;
    width: 240px;
}

@media (min-width: 768px) {
    .tooltip-soli3 .tooltip-text {
        top: -80px;
        width: 340px;
    }
}

.tooltip-soli3-1 {
    display: block;
    margin-top: 5px;
}

.tooltip-soli3-1 .tooltip-text {
    top: -113px;
    left: 32px;
    width: 240px;
}

@media (min-width: 768px) {
    .tooltip-soli3-1 .tooltip-text {
        top: -98px;
        width: 340px;
    }
}

.tooltip-soli3-1 .tooltip-text:before {
    top: 82%;
}

@media (min-width: 768px) {
    .tooltip-soli3-1 .tooltip-text:before {
        top: 80%;
    }
}

.form-data__label--line-down {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 1px -1px 0 0 #529626;
    -moz-box-shadow: inset 1px -1px 0 0 #529626;
    -o-box-shadow: inset 1px -1px 0 0 #529626;
    box-shadow: inset 1px -1px 0 0 #529626
}

.form-data__label .label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 11px 0;
    color: #000;
    text-align: center
}

.form-data__input {
    width: 50%;
    float: right;
    margin-right: 0;
    height: 100%;
    background-color: #529626
}

.form-data__input input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 10px 0
}

.form-data input,
.form-data .label {
    font-size: .92857rem;
    text-transform: uppercase
}
.form-registro__row {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 2em 0 0
}

.form-registro__item {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 1em 0
}

.form-registro__item__content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0
}

.form-registro__item__content .label {
    margin: 1em 0
}

.form-registro__item__content input {
    top: 15px
}
/*select,
input[type="text"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: 'Open Sans';
    color: #000;
    text-transform: uppercase;
    background: transparent
}

select:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    outline: none
}
*/
input[type="text"]:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: #fff;
    border: 0;
    -webkit-text-fill-color: #fff
}
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    border: none;
    font-family: 'Open Sans'
}

input[type="password"]:focus {
    outline: none
}
.label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative
}

.label label {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    color: #b7b7b7;
    font-size: 0.84rem
}
.loader {
    left: 0px;
    width: 100%;
    min-height: 510px;
    z-index: 9 !important;
    background: url('/images/loading.gif') 50% 50% no-repeat rgb(249,249,249) !important;
    opacity: .8;
    position: absolute;
}
.datos-prestamo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 1em 0
}

.leyenda {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    color: #000;
    font-size: .78571rem;
    margin: 0.5em 0
}

.my-input {
    width: 120%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    height: 35px
}

.my-input input {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 15px;
    background: transparent;
    border: none;
    font-family: "Source Sans Pro";
}

.my-select {
    width: 100%;
    position: relative;
    height: 40px
}

.my-select select {
    width: 100%;
    text-align-last: center;
    font-size: 1.57143rem;
    position: absolute;
    top: 3px;
    left: 0
}

.dateColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8px 0;
}

label {
    font-weight: normal;
}
.custom-select {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 45px;
    text-align: center;
    color: #000;
    position: relative
}
.logoP {
    
    background-image: url(/images/brand/Logo_Final_Blanco_50px.png);
}
.custom-select__content {
    width: 113%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    background: transparent url(/images/icons/select-icon.png) 98% center no-repeat;
    height: 28px;
    overflow: hidden
}
.select_margin {
    text-align-last: center;
    text-align: center;
    -moz-text-align-last: center;
    font-size: 0.87rem;
    font-family: Montserrat-Regular;
}
#mainDiv {
    width: 100%;
    height: 35px;
    background-clip: content-box;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to top, #529626 31%, rgba(0,0,0,0) 31%);
    border-image-slice: 1;
}
.error {
    color: red !important;
    border-bottom: 2px red solid !important;
}
.errorTitle {
    color: red !important;
}
.help {
    color: red !important;
    margin-bottom: 0px !important;
}
#formRegisgtro {
    margin-top: 25px;
}
#formRegistro .calculadora-personal {
    min-height: 47px;
    margin-bottom: 0px;
}
#formDatosIngreso .calculadora-personal {
    min-height: 57px;
    margin-top: 15px !important;
}
#formDatosDomicilio .calculadora-personal {
    min-height: 47px;
    margin-top: 15px !important;
}
#formDatosPersonales .calculadora-personal {
    min-height: 67px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}
#formDatosEmpleo .calculadora-personal {
    min-height: 57px;
    margin-top: 22px !important;
    margin-bottom: 10px !important;
}

#formDatosPersonales .fecha_nacimiento {
    margin-top: 0px !important;
}

#info_prestamo_personal {
    min-height: 30px;
    margin-bottom: 15px;
}
.bold{
    color: #FFF !important;
}

#verificar_codigo {
    margin-top: 35px;
}
/* #laPaz #header .navbar-nav .dropdown-menu {
    padding: 5px 0;
    background: rgb(230, 65, 64, 1);
    text-align: center;
} */

.modal-headers .close {
    margin-top: -25px !important;
}
#laPaz .modal .modal-content .modal-title {
    padding-bottom: 0px !important;
}
.modal-headers {
    background: #529626;
    color: #FFF;
    padding: 1rem;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
    width: 100%;
}

.modal-headers .titulo-dinamico {
    margin: 0px;
    font-size: 20px;
}

@media (max-width: 575.98px) {
    .modal-sm {
        max-width: 300px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
 */
    .secondary-title {
        font-size: 22px;
    }

    .slider-title {
        font-size: 22px !important;
    }

    #laPaz .page-view.page-product .page-product-description img {
        width: 45px !important;
    }

    #laPaz .page-view.page-product .calculadora-personal small {
        font-size: 11.5px;
    }

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 850px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .form-registro {
        padding-left: 8.33333%;
        padding-right: 8.33333%;
        width: 83.33333%;
        float: left
    }
    .form-registro__item {
        width: 50%;
        float: left
    }
    .form-registro__item:nth-child(2n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0
    }
    .form-registro__item:nth-child(2n+2) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none
    }
    .form-registro__item__content {
        padding-left: 0%;
        padding-right: 8.33333%;
        width: 91.66667%;
        float: left
    }
    .modal-sm {
        max-width: 320px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }

    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    } */

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }

    #formDatosPersonales .fecha_nacimiento {
        margin-bottom: 40px !important
    }


    /* .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    } */

    .finalidad_custom {
        margin-top: 0px !important;
    }

    .loader {
        min-height: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #000;
    }
    .finalidad_custom {
        margin-top: 0px !important;
    }
    .loader {
        min-height: 750px;
    }
    .form-registro__row {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 2em 0 0
    }
    
    .form-registro__item {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin: 1em 0
    }
    
    .form-registro__item__content {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    
    .form-registro__item__content .label {
        margin: 1em 0
    }
    
    .form-registro__item__content input {
        top: 15px
    }

}

@media (min-width: 1200px) {
    .modal-sm {
        max-width: 350px;
        margin: 1.75rem auto;
    }
    .modal-dialog {
      margin: 1.75rem auto;
    }
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2));
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2));
    }
    #laPaz #header .navbar-nav .dropdown-menu .dropdown-item {
        color: #000;
    }
}

#laPaz .modal .modal-content {
    border-radius: 5px !important;
    text-align: center !important;
}
#laPaz .modal .modal-headers {
    border-radius: 3px 3px 0px 0px !important;
    text-align: center !important;
}
#olvidePassword {
    color: #529626 !important;
}
#olvidePassword:hover {
    color: #529626 !important;
}

#laPaz .modal .modal-content .error {
    font-size: inherit;
}

table.combodate {
    width: 100%;
}

.input-correcciones {
    border: none;
    width: 100%;
    border-bottom: 2px #B1B1B2 solid;
    background: transparent !important;
    text-transform: uppercase;
    text-align: center;
}

.day {
    background-color: transparent !important;
}

.year {
    background-color: transparent !important;
}

.month {
    background-color: transparent !important;
}

::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder {
   text-transform: initial;
}

::-moz-placeholder {
   text-transform: initial;
}

:-ms-input-placeholder {
   text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase !important;
}

.labelDinamico {
    font-size: 16px;
    min-height: 55px;
}

.labelDinamicoT {
    font-size: 16px;
    min-height: 40px;
}

legend {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: .5rem !important;
    font-size: 1.25rem !important;
    line-height: inherit !important;
    color: inherit !important;
    white-space: normal !important;
}

#H_23, #A_4, #B_6, #B_7, #B_8, #D_13, #D_14, #G_21, #I_30, #I_31 {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto !important;
    color: -internal-light-dark-color(black, white) !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    -webkit-appearance: textfield !important;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical !important;
    cursor: text !important;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 10px 10px;
    border: 1px  solid #529626 !important;
    
}

#cuestionarioDinamico .calculadora-personal {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
}

#cuestionarioDinamico .margin {
    padding:10px !important;
}

#cuestionarioDinamico .pre-registro-input {
    margin-bottom: 0px !important;
}

#cuestionarioDinamico input {
    padding:5px !important;
}

.disabled {
    cursor: not-allowed !important;
    background: rgba(233,64,75, .5) !important;
}
.btn-oferta {
    background-color: #fff;
    border-color: #89ce1b;
    border-radius: 5px;
    border-width: 2px;
    color: #89ce1b;
    text-transform: uppercase;
    padding: .8em;
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-width: 35px;
    border-style: solid;
    cursor: pointer;
}

.btn-oferta-clicked {
    background-color: #89ce1b;
    border-color: #89ce1b;
    border-radius: 5px;
    border-width: 2px;
    color: #fff;
    border-bottom: none;
    position: relative;
}

.btn-oferta-clicked:hover {
    background-color: #89ce1b;
    border-color: #89ce1b;
    color: #fff;
    border-bottom: none;
}

.datos_oferta {
    border-color: #89ce1b;
    border-radius: 10px;
    border-width: 12px;
    border-style: solid;
    width: 80%;
    margin: 0 auto;
}

.btn-oferta-clicked:after,
.btn-oferta-clicked:after {

    position: absolute;
    top: 98.1%;
    left: 55%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #89ce1b;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;

}

.ofertas {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.emojiDO {
    height: 55px;
    width: auto !important;
}

#mostrarFormRechazOD {
    font-size: 13px;
}

@media (max-width: 400px) {

    .modal {
        max-width: -webkit-fill-available !important;
    }

    .emojiDO {
        height: 45px;
    }

    #mostrarFormRechazOD {
        font-size: 14px;
    }

}

@media (min-width: 1024px) {
    .ofertas {
        margin-bottom: 15px;
    }
}
