@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,400,500,600,700,800&display=swap&subset=latin-ext');

body{
  font-family: 'Montserrat';
}
.videoDiv {
    position: relative;
    display: none;
}

#videoInput {
    border-radius: 10px;
}

#resultado {
    display: none;
    text-align: center;
}

#resultImage {
    border-radius: 10px;
    margin: 0 auto;
}

#navigator {
    text-align: center;
}

.controls {
    position: absolute;
    right: 80px;
    top: 200px;
    display: flex;
}

.process-model li.active a, .process-model li.active a:hover, .process-model li.active a:focus, .process-model li.visited a, .process-model li.visited a:hover, .process-model li.visited a:focus {
    color: #89CE1B !important;
    background: none !important;
}

.process-model li a {
    color: #55982A !important;

}

#laPaz .nav-tabs>li>a {
    background: none !important;
}

.nav>li>a:focus, .nav>li>a:hover{background: transparent!important;}
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -80px;
    top: 22px;
    width: 90%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #D6DA28;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 33%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #D6DA28;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #D6DA28;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
    color: #D6DA28;
}
.process-model li i {
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    padding-top: 10px;
    font-size: 28px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #D6DA28;
}
.process-model li p {
    font-size: 16px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}
.btn {
    font-weight: 600;
    text-transform: none;
    margin-bottom: 10px;
}
.blue-white-btn, .blue-white-btn:hover {
    color: #00843d;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #00843d;
    border-radius: 5px;
    padding: 0.6em;
    transition: all 0.2s ease-in-out 0s;
    min-width: 145px;
}
@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 33%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }

    .process-model li::after {
        width: 100%;
        right: -70px;
    }

}

@media (max-width: 575.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    .videoDiv.mobile #canvasFrameDocument {
        margin-top: 0px !important;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 13px !important;
        text-align: justify;
        list-style-type: circle;
        padding-left: 0px;
    }

    .play>.fa-camera {
        font-size: 30px;
    }

    #laPaz .navbar-collapse.collapse.show {
        display: block!important;
    }

    .dropdown-menu.show {
        position: static !important;
        float: none !important;
        width: auto !important;
        margin-top: 0 !important;
        background-color: transparent !important;
        border: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    #resultImage {
        width: 480px;
        height: 359px;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        padding-left: 0px;
    }

    .play>.fa-camera {
        font-size: 30px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }


    .play>.fa-camera {
        font-size: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    #resultImage {
        width:100%;
        max-width:500px;
        height:auto;
    }

    .controls {
        margin-top: 30px;
        position: unset;
        text-align: center;
        display: block;
    }

    #canvasFrameDocument {
        width:100%;
        max-width:500px;
        height:auto;
        margin-top: 0px !important;
    }

    video {
       width:100%;
       max-width:500px;
       height:auto;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }

}

@media (min-width: 1200px) {

    #videoInput {
        width: 680px;
        height: auto;
    }

    #resultImage {
        width: 680px;
    }

    .controls {
        position: absolute;
        right: 80px;
        top: 200px;
        display: flex;
    }

    .span-card>ul {
        font-size: 15px !important;
        text-align: justify;
        list-style-type: circle;
        max-width: 800px;
        margin: auto;
    }


}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
